@import './variables.scss';
@import './mixins.scss';

.get-involved-container {
  overflow-x: hidden;
  .get-involved-title {
    font-size: $fs-34;
    margin-top: 0px;
    margin-bottom: 13px;
    font-weight: $fw-semibold;
    color: #4d4d4d;
    box-sizing: border-box;
    line-height: 110%;
  }
  hr {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:0px;
    border-top:1px solid $overlay-light;
  }
  .get-involved-description {
    color: #4d4d4d;
    font-size: $fs-16;
    margin-top: 30px;
    margin-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 20px;
    letter-spacing: 0.5px;

    .content-section {
      color: #4d4d4d;
    }
  }
  .get-involved-section {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
    div {
      .get-involved-section-title {
        line-height: 2em;
        font-weight: $fw-semibold;
        margin-top: 100px;
        font-size: $fs-24;
        color: #4d4d4d;
        box-sizing: border-box;
      }
      .get-involved-section-body {
        color: #4d4d4d;
        font-size: $fs-16;
        text-align: left;
        line-height: 20px;
        letter-spacing: 0.5px;
        a {
          color: $yellow;
          transition: all 0.2s ease-in-out;
        }

        .content-section {
          color: #4d4d4d;
        }
      }
    }

    img {
      width: 100%;
      padding: 30px;
    }
  }
  .empty-space {
    padding-bottom: 50px;
  }
}


@include screen-medium {
  .get-involved-container {
    .get-involved-title {
      margin: 0px;
    }
  }
  .get-involved-section {
    div {
      .get-involved-section-title {
        margin: 0px !important;
      }
    }
  }
}

@include screen-small {

  .get-involved-container {
    hr {
      margin-left: 30px;
      margin-right: 30px;
    }
    .get-involved-description {
      padding-left: 30px;
      padding-right: 30px;
    }
    .get-involved-section {
      padding-left: 30px;
      padding-right: 30px;
      div {
        .get-involved-section-title {
          margin: 0px;
        }
      }
      img {
        padding: 10px;
      }
    }
  }
}
