<app-header-static></app-header-static>
<div class="container-top container align-center get-involved-container">
  <div>
    <h4 class="get-involved-title align-center fw-regular">Get Involved</h4>
  </div>
  <div class="get-involved-description">
    <p class="fw-light content-section">
      Thanks for your interest in helping out with the EvalAI project! We're a
      team of volunteers around the world who want to reduce the barrier to
      entry for doing AI research and make it easier for researchers, students
      and developers to develop and use state-of-the-art algorithms as a
      service. We are always listening for suggestions to improve our platform,
      including identifying bugs and discussing enhancements. Here are different
      ways in which how you can help:<p>
  </div>
  <div class="get-involved-section">
    <div class="row">
      <hr>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="font-size: 24px;" class="get-involved-section-title
          left">Report issues</div>
        <div class="get-involved-section-body left content">
          <p class="fw-light content-section">If you identify a bug or run into
            issues while using the website, or you'd like to suggest some
            new features or want to get in touch with us, feel free to reach
            out via our <a
              href="https://groups.google.com/forum/#!forum/evalai">EvalAI
              Google Group</a>, or contact us at <a
              href="mailto:team@cloudcv.org">team@cloudcv.org</a>.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="assets/images/get_involved/Report_image.png" />
      </div>
    </div>
  </div>
  <hr>
  <div class="get-involved-section">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="assets/images/get_involved/Improving_image.png" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="get-involved-section-title left">Improving and
          maintaining the site</div>
        <div class="get-involved-section-body left content">
          <p class="fw-light content-section">The EvalAI project is fully open
            source, and is maintained by a large community of volunteers on
            <a href="https://github.com/Cloud-CV/EvalAI">Github</a>. We are
            in need of coders and designers so if you would like to help
            out, please drop us a line! The best way to get started is to
            write us at <a href="mailto:team@cloudcv.org">team@cloudcv.org</a>
            or ping us on our <a href="https://gitter.im/Cloud-CV/EvalAI">Gitter
              Channel</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="get-involved-section">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="get-involved-section-title left">Press</div>
        <div class="get-involved-section-body left content">
          <p class="fw-light content-section">If you're a journalist who would like
            to help spread the word about EvalAI or CloudCV, please email <a
              href="mailto:admin@cloudcv.org">admin@cloudcv.org</a>.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="assets/images/get_involved/Press_image.png" />
      </div>
    </div>
  </div>
  <hr>
  <div class="get-involved-section">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="assets/images/get_involved/Partnership_image.png" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="get-involved-section-title left">Partnership</div>
        <div class="get-involved-section-body left content">
          <p class="fw-light content-section">If you are interested in partnering
            with us to make a bigger impact on the research community, or
            want to host a challenge of your own, please email <a
              href="mailto:admin@cloudcv.org">admin@cloudcv.org</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-space">
    &nbsp;
  </div>
</div>
<app-footer></app-footer>
