.team-details {
  display: inline-block;
  margin: 2px 10px 0px 10px;
  max-width: 300px;
  overflow: hidden;
}

label {
  margin: 5px 0px 5px 5px;
}

.card-panel {
  margin: 0px;
}

.participate-card {
  margin: 0px 30px;
}

form {
  .input-field {
    width: 80%;
    margin-bottom: 40px;
  }
}
