<div class="rules-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerall">
      <div class="rules-image" style="background-image: url('assets/images/rules/Rules_BG Ellipse.png');">
        <img src="assets/images/rules/Laptop.png" class="rule-laptop" />
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rules-content">
      <div class="row heading">
        <span><img class="rule-img" src="assets/images/rules/Host_icon.png" /></span>
        <span>&nbsp;&nbsp;</span>
        <span class="rule-title">HOST</span>
      </div>
      <div class="row">
        <div class="rule-text">
          {{ ipsum }}
        </div>
      </div>

      <div class="row heading">
        <span><img class="rule-img" src="assets/images/rules/Participate.png" /></span>
        <span>&nbsp;&nbsp;</span>
        <span class="rule-title">PARTICIPATE</span>
      </div>
      <div class="row">
        <div class="rule-text">
          {{ ipsum }}
        </div>
      </div>

      <div class="row heading">
        <span><img class="rule-img" src="assets/images/rules/submissions.png" /></span>
        <span>&nbsp;&nbsp;</span>
        <span class="rule-title">MAKE SUBMISSIONS</span>
      </div>
      <div class="row">
        <div class="rule-text">
          {{ ipsum }}
        </div>
      </div>

      <div class="row heading">
        <span><img class="rule-img" src="assets/images/rules/achieve icon.png" /></span>
        <span>&nbsp;&nbsp;</span>
        <span class="rule-title">ACHIEVE GREAT RESULTS</span>
      </div>
      <div class="row">
        <div class="rule-text">
          {{ ipsum }}
        </div>
      </div>
      <div class="row centerall participate">
        <span class="btn btn-fire fs-16">Participate</span>
      </div>
    </div>
  </div>
</div>
