@import './variables.scss';
@import './mixins.scss';

.footer-container {
  font-size: $fs-16;
  font-weight:$fw-light;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  .top-margin-extra {
    margin-top: 50px;
  }
  .footer-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }
  .footer-content {
    z-index: 15;
    position: relative;
    width: 100%;
  }
  .section-title {
    font-size: $fs-30;
  }
  .footer-content-top {
    padding-top: 200px;
  }
  .footer-text {
    color: #fff;
    text-align: left;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .footer-table {
    margin-left: 100px;
    td {
      text-align: left;
      padding-right: 50px;
      padding-bottom: 10px;
      a {
        color: white;
        font-weight: $fw-light;
        cursor: pointer;
      }
    }
  }

  .footer-buttons {
    margin-top: 50px;
    .footer-buttons-div {
      text-align: center;
      margin: 0 auto;
    }
    .input-fill {
      cursor: text;
      color: $blue-dark;
      &:focus {
        outline-width: 0;
      }
    }
  }
  .footer-description {
    width: 70%;
    margin-top: 50px !important;
    margin: 0 auto;
    span {
      font-weight: regular;
      padding: 10px;
      margin-top: 10px;
    }
  }

  .footer-location {
    float: left;
  }

  .footer-links {
    float: right;
  }

  .footer-logo {
    text-align: left;
    margin-left: 100px;
    img {
      height: 40px;
    }
  }

  .footer-jump-links {
    text-align: right;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 20px;
    a {
      margin-right: 20px;
      cursor: pointer;
      img {
        height: 40px;
      }
    }
  }

  .footer-map-icon {
    height: $fs-24;
    filter: invert(100%);
    margin-left: -10px;
  }
}

@include screen-small {
  .footer-container {
    background-size: cover !important;
    .footer-content-top {
      padding-top: 250px;
    }
    .footer-buttons {
      .footer-buttons-div {
        .input-fill,
        .btn-fire {
          width: 50%;
          margin: 0 auto;
          margin-top: 10px;
        }
        .input-fill {
          display: block;
        }
      }
    }
    .footer-text,
    .footer-table,
    .footer-logo {
      margin-left: 50px;
    }
    .footer-bg {
      display: none;
    }

    .footer-location {
      width: 100% !important;
      float: left;
    }

    .footer-links {
      width: 100% !important;
      float: left;
    }

    .footer-jump-links {
      margin-right: 100px;
    }
  }
}

@include screen-medium {
  .footer-container {
    background-size: cover;
    background-position-x: 50%;
    .footer-content-top {
      padding-top: 200px;
    }
  }
}
