<app-side-bar></app-side-bar>
<app-header-static></app-header-static>
<div class="web-container">
      <section class="ev-sm-container ev-view ">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card horizontal ev-md-container ev-card-panel ev-z-depth-5 ">
                    <div class="card-image">
                        <img src="../../../assets/images/email.png" height="100">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><strong>Please verify your email to continue.</strong></p>
                            <div *ngIf="!sendMail">
                                <p> <span class="text-light-black">Didn't get the email?</span> <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" (click)="requestLink()">Resend Email</a></p>
                            </div>
                            <div *ngIf="sendMail">
                                <p> <span class="text-light-gray">The verification mail has been sent to you. Please confirm!</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <app-footer></app-footer>
</div>
