<div class="bottom-card-container ev-card-panel ev-md-container phase-card">
	<div class="row row-lr-margin">
		<div class="col-md-11 col-sm-11 col-xs-10 col-lr-pad">
			<div class="row row-lr-margin">
				<div class="col-sm-12 col-lr-pad">
					<span class="fs-18 text-med-black">
						<strong class="fw-semibold">{{phase['name']}}</strong>
					</span>
				</div>
			</div>
			<div class="row row-lr-margin">
				<div class="col-sm-12 col-lr-pad">
					<p><strong class="text-light-black fw-semibold fs-12">Starts on</strong>
						<br> <strong class="fw-semibold fs-14 phase-value">{{startDate}}
							{{phase['start_zone']}}</strong></p>
					<p><strong class="text-light-black fw-semibold fs-12">Ends on</strong>
						<br> <strong class="fw-semibold fs-14 phase-value">{{endDate}}
							{{phase['end_zone']}}</strong></p>
					<div [innerHTML]="phase['description']" class="phase-description content"></div>
					<p><strong class="text-light-black fw-semibold fs-12">Max number of
							submissions/day</strong>
						<br> <strong class="fs-14 phase-value">{{phase['max_submissions_per_day']}}</strong></p>
					<p><strong class="text-light-black fw-semibold fs-12">Max number of
							submissions/month</strong>
						<br> <strong class="fs-14 phase-value">{{phase['max_submissions_per_month']}}</strong></p>
					<p><strong class="text-light-black fw-semibold fs-12">Max total submissions</strong>
						<br> <strong class="fs-14 phase-value">{{phase['max_submissions']}}</strong></p>
				</div>
			</div>
		</div>
		<div *ngIf="isChallengeHost" class="col-sm-1 col-xs-2 col-lr-pad">
			<a class="pointer" (click)="editChallengePhase()">
				<i class="fa fa-pencil" aria-hidden="true">
				</i>
			</a>
		</div>
	</div>
</div>
