<!-- <slide-profile></slide-profile> -->
<div class="ev-md-container">
        <div class="ev-md-container-custom ev-card-panel ev-z-depth-5 challenge-title-container">
                <ul class="inline-list rm-gut">
                        <li class="margin-btm-0"><a ui-sref=".Updateprofile" ui-sref-active="active-challenge"
                                class="text-light-black w-300"><i class="fa fa-users"></i> Profile</a></li>
                        <li class="margin-btm-0"><a ui-sref=".AuthToken" ui-sref-active="active-challenge"
                                class="text-light-black w-300"><i class="fa fa-lock"></i> Auth Token</a></li>
                        <li class="margin-btm-0"><a ui-sref=".ChangePassword" ui-sref-active="active-challenge"
                                class="text-light-black w-300"><i class="fa fa-key"></i> Password</a></li>
                </ul>
        </div>
</div>
<ui-view></ui-view>
