<div class="challenge-card">
  <div class="ev-card-panel card-bt-margin">
    <div class="ev-md-container ev-panel-title" *ngIf="challenge.leaderboard_description">
      <div class="row row-lr-margin">
        <div class="col-sm-12 col-xs-12 col-lr-pad">
          <h5 class="fw-light">Leaderboard</h5>
        </div>
        <div
          class="col-sm-12 md-body-1 col-lr-pad fs-16 fw-light"
          [innerHTML]="challenge.leaderboard_description"
        ></div>
      </div>
    </div>
    <div class="ev-md-container">
      <div (click)="refreshLeaderboard()" class="pointer update-page" *ngIf="showLeaderboardUpdate">
        <span class="text-white"
          >Page is outdated, Click to update&nbsp; <i class="fa fa-refresh text-highlight"></i
        ></span>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12 col-lg-6 col-lr-pad phase-select-box col-lr-margin">
          <app-selectphase
            [phases]="filteredPhaseSplits"
            [phaseSelectionType]="phaseSelectionType"
            [phaseSelectionListType]="phaseSelectionListType"
            [phaseSplitSelected]="phaseSplitSelected()"
            #phasesplitselect
          >
          </app-selectphase>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-6 col-lr-pad phase-select-box">
          <div *ngIf="leaderboard.length > 0 && selectedPhaseSplit != null">
            <div class="col-sm-12 col-xs-12 col-lr-pad" class="leaderboard-precison">
              <span class="fw-semibold"> Leaderboard precision value:</span><br />
              <span class="fw-light"
                >Changing the precision value will show the results with that precision value to the participants.
              </span>
            </div>
            <div class="rangeslider fa-stack fa-2x">
              <button
                [disabled]="minusDisabled"
                class="btn-floating btn-pagination waves-effect waves-light"
                (click)="updateLeaderboardDecimalPrecision(leaderboardPrecisionValue - 1)"
              >
                <i class="fa fa-minus"></i>
              </button>
              &nbsp;<mat-chip class="btn">{{ leaderboardPrecisionValue }}</mat-chip
              >&nbsp;
              <button
                [disabled]="plusDisabled"
                class="btn-floating btn-pagination waves-effect waves-light"
                (click)="updateLeaderboardDecimalPrecision(leaderboardPrecisionValue + 1)"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ev-card-body exist-team-card">
      <div class="row row-lr-margin">
        <div class="horizontal-scroll">
          <div class="col-sm-12 col-lr-pad">
            <div *ngIf="leaderboard.length <= 0 && selectedPhaseSplit == null" class="fw-regular result-wrn">
              No phase selected.
            </div>
            <div *ngIf="leaderboard.length > 0 && selectedPhaseSplit" class="result-wrn content">
              <mat-chip-list> <mat-chip>B</mat-chip> - Baseline submission </mat-chip-list>
              <mat-chip-list class="leaderboard-description-span private">
                <mat-chip>P</mat-chip> - Private submission
              </mat-chip-list>
              <!-- <mat-chip-list class="pull-right" *ngIf="isChallengeHost">
                <div
                  (click)="showLeaderboardByLatestOrBest()"
                  class="btn-switch sort-leaderboard-switch"
                  [ngClass]="{ 'btn-switch--on': showLeaderboardByLatest }"
                  [(ngModel)]="showLeaderboardByLatest"
                  ngDefaultControl
                >
                  <div
                    class="btn-switch-circle"
                    [ngClass]="{ 'btn-switch--on': showLeaderboardByLatest }"
                    [(ngModel)]="showLeaderboardByLatest"
                    ngDefaultControl
                  ></div>
                </div>
                <span class="w-400"> {{ sortLeaderboardTextOption }}</span>
              </mat-chip-list> -->
              <mat-checkbox
                class="pull-right complete-leaderboard"
                *ngIf="isChallengeHost && showLeaderboardToggle"
                (change)="toggleLeaderboard(getAllEntries)"
                [(ngModel)]="getAllEntries"
              >
                <label class="w-400 complete-leaderboard-text"> {{ getAllEntriesTextOption }}</label>
              </mat-checkbox>
            </div>

            <table *ngIf="leaderboard.length > 0 && selectedPhaseSplit" class="centered highlight">
              <thead>
                <tr class="content">
                  <td data-field="rank" class="align-center">
                    <a (click)="sortNonMetricsColumn('rank')">
                      <span class="fw-regular fs-18">Rank </span>
                      <span class="fa-stack fa-1x">
                        <i
                          class="fa fa-sort-asc fa-stack-1x"
                          [ngClass]="
                            reverseSort && sortColumn == 'rank' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                        <i
                          class="fa fa-sort-desc fa-stack-1x"
                          [ngClass]="
                            !reverseSort && sortColumn == 'rank' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                      </span>
                    </a>
                  </td>
                  <td data-field="team" class="align-center">
                    <a (click)="sortNonMetricsColumn('string')">
                      <span class="fw-regular fs-18">Participant Team</span>
                      <span class="fa-stack fa-1x">
                        <i
                          class="fa fa-sort-asc fa-stack-1x"
                          [ngClass]="
                            reverseSort && sortColumn == 'string' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                        <i
                          class="fa fa-sort-desc fa-stack-1x"
                          [ngClass]="
                            reverseSort && sortColumn == 'string' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                      </span>
                    </a>
                  </td>
                  <td
                    *ngFor="let key of leaderboard[0].leaderboard__schema.labels; index as i"
                    [attr.data-index]="i"
                    class="align-center"
                  >
                    <a (click)="sortMetricsColumn(i)">
                      <span class="fw-regular fs-18">{{ key }}</span>
                      <span class="fa-stack fa-1x">
                        <i
                          class="fa fa-sort-asc fa-stack-1x"
                          [ngClass]="
                            reverseSort && sortColumn == 'number' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                        <i
                          class="fa fa-sort-desc fa-stack-1x"
                          [ngClass]="
                            !reverseSort && sortColumn == 'number' ? 'text-med-black' : 'text-light-black fw-semibold'
                          "
                        ></i>
                      </span>
                    </a>
                  </td>
                  <td data-field="submission_time" class="align-center">
                    <a (click)="sortNonMetricsColumn('date')">
                      <span class="fs-18 fw-regular">Submitted at</span>
                      <span class="fa-stack fa-1x">
                        <i
                          class="fa fa-sort-asc fa-stack-1x"
                          [ngClass]="reverseSort && sortColumn == 'date' ? 'text-med-black' : 'text-light-black w-500'"
                        ></i>
                        <i
                          class="fa fa-sort-desc fa-stack-1x"
                          [ngClass]="!reverseSort && sortColumn == 'date' ? 'text-med-black' : 'text-light-black w-500'"
                        ></i>
                      </span>
                    </a>
                  </td>
                  <td data-field="" *ngIf="showSubmissionMetaAttributesOnLeaderboard">
                    <span class="fs-18 fw-regular">Meta Attributes</span>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let key of leaderboard" class="content">
                  <td>{{ initial_ranking[key.id] }}</td>
                  <td class="fw-regular">
                    {{ key.submission__participant_team__team_name }}
                    <span *ngIf="key.submission__is_public === false && isSelectedPhaseLeaderboardPublic" class="private">
                      <mat-chip-list>
                        <mat-chip>P</mat-chip>
                      </mat-chip-list>
                    </span>
                    <span *ngIf="key.submission__is_baseline">
                      <mat-chip-list>
                        <mat-chip>B</mat-chip>
                      </mat-chip-list>
                    </span>
                  </td>
                  <td *ngFor="let score of key.result">{{ score | number: setLeaderboardPrecisionValue }}</td>
                  <td>
                    <div>{{ key.submission__submitted_at_formatted }}</div>
                  </td>
                  <td *ngIf="showSubmissionMetaAttributesOnLeaderboard">
                    <button
                      class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-12"
                      [disabled]="
                        key.submission__submission_metadata == undefined || key.submission__submission_metadata == null
                      "
                      type="submit"
                      value="view"
                      (click)="showMetaAttributesDialog(key.submission__submission_metadata)"
                    >
                      View
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="leaderboard.length <= 0 && selectedPhaseSplit">
              <p>No results to show!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
