[run]
omit =
    */python?.?/*
    */migrations/*
    */templates/*
    */static/*
    */python?.?/*
    */migrations/*
    */tests/*
    */middleware/*
    frontend/
    settings/custom_storages.py
    settings/staging.py
    settings/dev.py
    settings/prod.py
    scripts/seed.py
    node_modules/
    bower_components/
source = evalai/

[report]
exclude_lines =
    import
    @api_view
    @authentication_classes
    @permission_classes
    @csrf_exempt
