/*
eslint config file. 
*/

{
	"env": {
		"es6": 1,
		"browser": 1
	},

	"globals": {
		"angular":1,
		"jquery": 1,
		"$": 1,
		"_": 1,
		"moment": true
	},

	"extends": "eslint:recommended",

	"rules": {
		"no-console": "warn",
		"semi": ["error", 
			"always", { 
				"omitLastInOneLineBlock": true 
			}
		],
	},
}
