/*
eslint config file. 
*/

{
  "env": {
    "es6": 1,
    "browser": 1
  },

  "globals": {
    "angular": "readonly",
    "jquery": "readonly",
    "$": "readonly",
    "_": "readonly",
    "moment": "readonly"
  },

  "extends": "eslint:recommended",

  "rules": {
    "no-console": "warn",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ]
  }
}
