# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
env/
venv/
ENV/

# Fabric Files
fabfile/

# Frontend Files
package-lock.json
.sass-cache/
node_modules/
bower_components/
frontend/dist/
frontend/index.html

# Challenge data files
challenge_data/*

# Media Files
media/

# .DS_Store for OSX
.DS_Store

# Encrypted files
docker/prod/docker_staging.env
docker/prod/docker_prod.env
secrets.tar
scripts/docker_pull.sh
