# npm configuration for EvalAI
fund=false
audit=false
progress=false
loglevel=error
save-exact=false
legacy-peer-deps=true
registry=https://registry.npmjs.org/
fetch-timeout=300000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
