# npm configuration for EvalAI
fund=false
audit=false
progress=true
loglevel=verbose
save-exact=false
legacy-peer-deps=true
registry=https://registry.npmjs.org/
fetch-timeout=600000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
maxsockets=50
