# npm configuration for CI builds
fetch-timeout=600000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
progress=false
loglevel=warn
maxsockets=50
prefer-offline=true
audit=false
fund=false
