[MESSAGES CONTROL]
# Disable Messages
# C0103: Invalid %s name "%s".
# C0111: Missing %s docstring.
# C0330: Regarding hanging indentation.
# C1001: Old-style class defined.
# D100:  Missing docstring in public module.
# E1101: %s %r has no %r member.
# R0201: Method could be a function.
# R0903: Too few public methods.
# W0223: Method %r is abstract in class %r but is not overridden.
# W0232:  Class has no __init__ method.
# W0613: Unused argument.
# W0702: No exception type(s) specified.
disable=C0103,C0111,C0330,C1001,D100,E1101,R0201,R0903,W0223,W0232,W0613,W0702

[FORMAT]
max-line-length=120

[DESIGN]

# Maximum number of return / yield for function / method body
max-returns=10
