language: python
python: 3.7

sudo: false
services:
- docker

addons:
  postgresql: '10'
  apt:
    update: true
    packages:
    - postgresql-10
    - postgresql-client-10
    - default-jre # Java11 is used for elasticmq
    - libgnutls28-dev
env:
  global:
  - PGPORT=5432
  
  
cache:
  directories:
  - "$HOME/.cache/pip"
  
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log

before_script:
- npm install
- npm install -g bower
- npm install -g gulp
- npm install -g karma-cli
- bower install
- gulp dev
- sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/10/main/postgresql.conf
- sudo cp /etc/postgresql/{9.4,10}/main/pg_hba.conf
- sudo service postgresql restart
- psql -c "CREATE DATABASE evalai" -U postgres
- wget https://s3-eu-west-1.amazonaws.com/softwaremill-public/elasticmq-server-0.14.2.jar
- java -jar elasticmq-server-0.14.2.jar &

before_install:
- sudo rm -f /etc/boto.cfg
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0

services:
- xvfb

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install awscli==1.16.57 coveralls

# command to run tests
script:
  - pytest
  - flake8 ./
  - karma start --single-run
  
after_success:
- bash <(curl -s https://codecov.io/bash)
- coveralls --rcfile=.coveragerc
- ./scripts/deployment/push.sh

notifications:
  email:
    on_success: change
    on_failure: always
    slack: cloudcv:gy3CGQGNXLwXOqVyzXGZfdea
