language: python
sudo: false
python:
  - "2.7"
  - "3.6"

matrix:
    allow_failures:
        - python: "3.6"

addons:
  postgresql: "9.4"

cache:
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

before_script:
  - psql -c "CREATE DATABASE evalai" -U postgres

install:
  - pip install -r requirements/dev.txt
  - pip install coveralls

services:
  - rabbitmq

script:
  - flake8 ./
  - py.test --cov . --cov-config .coveragerc

after_success:
  - coveralls --rcfile=.coveragerc


notifications:
  email:
    on_success: change  # [always|never|change]
    on_failure: always  # [always|never|change]
    slack: cloudcv:gy3CGQGNXLwXOqVyzXGZfdea
