language: python
sudo: false
services:
- docker
python:
- '2.7'
- '3.6'
matrix:
  allow_failures:
  - python: '3.6'
addons:
  postgresql: '9.4'
  apt:
    packages:
    - oracle-java8-set-default
cache:
  directories:
  - "$HOME/.cache/pip"
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log
before_script:
- psql -c "CREATE DATABASE evalai" -U postgres
- wget https://s3-eu-west-1.amazonaws.com/softwaremill-public/elasticmq-server-0.14.2.jar
- java -jar elasticmq-server-0.14.2.jar &
before_install:
- openssl aes-256-cbc -K $encrypted_932c648f8890_key -iv $encrypted_932c648f8890_iv -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- sudo rm -f /etc/boto.cfg
install:
- pip install -r requirements/dev.txt
- pip install coveralls
script:
- flake8 ./
- py.test --cov . --cov-config .coveragerc
after_success:
- coveralls --rcfile=.coveragerc
- pip install awscli
- bash scripts/deploy/deploy.sh
notifications:
  email:
    on_success: change
    on_failure: always
    slack: cloudcv:gy3CGQGNXLwXOqVyzXGZfdea
