version: "3"
services:

  django:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/evalai-staging-backend:${COMMIT_ID}
    container_name: django
    env_file:
      - docker/prod/docker_staging.env
    build:
      context: ./
      dockerfile: docker/prod/django/Dockerfile
    ports:
      - "8000:8000"

  worker:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/evalai-staging-worker:${COMMIT_ID}
    container_name: worker
    build:
      context: ./
      dockerfile: docker/prod/worker/Dockerfile
    env_file:
      - docker/prod/docker_staging.env

  nodejs:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/evalai-staging-frontend:${COMMIT_ID}
    container_name: nodejs
    build:
      context: ./
      dockerfile: docker/prod/nodejs/Dockerfile_staging
    environment:
      NODE_ENV: production
    ports:
      - "80:80"
    volumes:
      - /code/node_modules
      - /code/bower_components
