<div class="white-bg view-container">
    <main-header></main-header>
    <!-- EvalAI into -->
    <div class="grad-container">
        <div class="row">
            <div class="col s12 m8 ev-about-us">
                    <h4 class="text-dark-black align-center"><strong>About Us</strong></h4>
                    <p class="text-med-black fs-18">Eval AI is built by a team of open source enthusiasts working at CloudCV. CloudCV was built with the aim to make AI research reproducible and easily accessible. We want to reduce the barrier to entry for doing AI research and make it easier for researchers, students and developers to develop and use state-of-the-art algorithms as a service.</p>
                    <p class="text-med-black fs-18">EvalAI was built with the aim to standardize the process of evaluating different methods on a dataset and make AI research more reproducible. Comparing a new method with other existing approaches is an essential component of research and this process has traditionally been affected by difference in evaluation metric implementation, different splits of the dataset, minor modification in the algorithm.This makes it extremely hard to reproduce numbers from the published papers and reliably compare your method with other existing approaches. By building EvalAI, we hope to make this easier by standardizing the dataset splits, evaluation metric and by maintaining a public leaderboard of hosted challenges.</p>
                    <p class="text-med-black fs-18">We would like to acknowledge the contributions of “Blah Blah” in helping us with key design decisions, beta testing. Finally we would like to thank the following web tools for their support to open source products that help us run EvalAI reliably:</p>
                    <ul class="text-med-black fs-18">
                        <li >1. <a href="https://sentry.io/welcome/" target="_blank">Sentry</a></li>
                        <li >2. <a href="https://www.datadoghq.com/" target="_blank">Datadog</a></li>
                        <li >3. <a href="https://aws.amazon.com/" target="_blank">Amazon Web Serivces</a></li>
                    </ul>
            </div>
            <div ng-include="'dist/views/web/partials/rocket-container.html'"></div>
        </div>
    </div>
    <!-- Footer -->
    <landing-footer></landing-footer>
</div>
