<!-- dynamic header for home page-->
<dyn-header></dyn-header>
<!-- background hero section -->
<section class="bg-section">
    <div class="bg-image"></div>
</section>
<!-- background hero section -->
<section class="bg-section">
    <div class="bg-image"></div>
</section>
<eval-loader></eval-loader>
<!--auth container -->
<section class="ev-container auth-container center">
    <div class="ev-head-small">
        <div class="row">
            <div class="reg-alert col s12 m4 offset-m4 align-left text-highlight w-300">{{auth.regMsg}}</div>
            <!-- render login/signup form here -->
            <div class="ui-view"></div>
        </div>
    </div>
</section>
