<section class="ev-sm-container ev-view challenge-container">
    <div class="row">
        <div class="col s8 m6">
            <i class="material-icons prefix"></i>
            <strong class="text-med-black fs-18">Search</strong>
            <input type="text" ng-model="challengeList.searchTitle" placeholder="Search challenges by title, tag or domain" style="font-weight: bold;">
        </div>
     
<div class="col s12">
  
    <div>
        <strong class="text-med-black fs-16">Filter by Date</strong>
        <div layout="row" layout-align="start center" style="gap: 20px; margin-top: 10px;">
           
            <div layout="column">
                <label class="text-light-black fs-14" style="margin-bottom: 4px;">Start Date</label>
                <input type="date" ng-model="challengeList.filterStartDate" placeholder="Start Date" class="browser-default">
            </div>

           
            <div layout="column">
                <label class="text-light-black fs-14" style="margin-bottom: 4px;">End Date</label>
                <input type="date" ng-model="challengeList.filterEndDate" placeholder="End Date" class="browser-default">
            </div>
        </div>
    </div>

    
    <div style="margin-top: 20px;">
        <strong class="text-med-black fs-16">Other Filters</strong>
        <div layout="row" layout-align="space-between center" layout-wrap style="gap: 10px; margin-top: 5px;">
            <md-select placeholder="Domain Filter" ng-model="challengeList.selecteddomain">
                <md-option ng-repeat="option in challengeList.domain_choices" value="{{ option[1] }}">
                    {{ option[1] }}
                </md-option>
            </md-select>

            <md-select placeholder="Filter by Host Team" ng-model="challengeList.selectedHostTeam">
                <md-option value="">All Teams</md-option>
                <md-option ng-repeat="team in challengeList.host_team_choices" value="{{ team }}">
                    {{ team }}
                </md-option>
            </md-select>

            <md-select ng-if="challengeList.selectedHostTeam === ''" placeholder="Sort by" ng-model="challengeList.sortByTeam">
                <md-option value="">Default</md-option>
                <md-option value="asc">Organized by (A → Z)</md-option>
                <md-option value="desc">Organized by (Z → A)</md-option>
            </md-select>
        
            <span flex></span>
            <md-button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14"
                       ng-click="challengeList.resetFilter()">
                Reset Filter
            </md-button>
        </div>
    </div>
</div>
</div>

    <!-- ongoing challenges -->
    <div class="challenge-page-title" id = "ongoing-challenges"><strong class="text-med-black fs-18">Ongoing Challenges</strong></div>
    <div ng-if="challengeList.noneCurrentChallenge">None</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.currentList | customTitleFilter:challengeList.searchTitle | customDomainFilter:challengeList.selecteddomain | customHostFilter:challengeList.selectedHostTeam | orderByTeam:challengeList.sortByTeam | customDateRangeFilter:challengeList.filterStartDate:challengeList.filterEndDate"><a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <li ng-repeat="tags in challenge.list_tags" class="list-inline-item chip orange white-text tag-size">{{tags}}</li>
                        <li ng-if="challenge.domain" class="list-inline-item chip light-blue white-text">{{challenge.domain}}</li>
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>

    <!-- scroll up button -->
    <div id = "scroll-up" ng-class="challengeList.scrollUp()" >
    <a class="ev-btn-scroll" scroll-to= "ongoing-challenges" offset= "800"><strong><i class="align-right fa fa-chevron-up"></i></strong></a>
    </div>

    <!-- simple loader -->
    <div class="loader-container" id="sim-loader">
        <div class="text-white center w-300 loader-title">Loading</div>
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- upcoming challenges -->
    <div class="challenge-page-title"><strong class="text-med-black fs-18">Upcoming Challenges</strong></div>
    <div ng-if="challengeList.noneUpcomingChallenge">None</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.upcomingList | customTitleFilter:challengeList.searchTitle | customDomainFilter:challengeList.selecteddomain | customHostFilter:challengeList.selectedHostTeam | orderByTeam:challengeList.sortByTeam | customDateRangeFilter:challengeList.filterStartDate:challengeList.filterEndDate"><a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <li ng-repeat="tags in challenge.list_tags" class="list-inline-item chip orange white-text tag-size">{{tags}}</li>
                        <li ng-if="challenge.domain" class="list-inline-item chip light-blue white-text">{{challenge.domain}}</li>
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>

    <!-- past challenges -->
    <div class="challenge-page-title"><strong class="text-med-black fs-18">Past Challenges</strong></div>
    <div ng-if="challengeList.nonePastChallenge">None</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.pastList | customTitleFilter:challengeList.searchTitle | customDomainFilter:challengeList.selecteddomain | customHostFilter:challengeList.selectedHostTeam | orderByTeam:challengeList.sortByTeam | customDateRangeFilter:challengeList.filterStartDate:challengeList.filterEndDate">
            <a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <li ng-repeat="tags in challenge.list_tags" class="list-inline-item chip orange white-text tag-size">{{tags}}</li>
                        <li ng-if="challenge.domain" class="list-inline-item chip light-blue white-text">{{challenge.domain}}</li>
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}} {{challenge.time_zone}} ({{challenge.gmt_zone}})</strong></p>
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- <ui-view></ui-view> -->
