<div class="white-bg view-container flex-body">
	<main-header></main-header>
    <div class="content">
		<div class="grad-container grad-vh">
			<div class="row">
				<div class="col s12 m8 ev-mt-50">
					<h4 class="text-dark-black align-center"><strong>Contact Us</strong></h4>
					<form name="contactusForm" ng-submit="contactUs.contactUs(contactusForm.$valid)" id="contact-us" novalidate>
						<!-- Name -->
						<div class="input-field align-left">
							<input type="text" id="name" name="name" ng-minlength="3" ng-model="contactUs.user.name"  ng-disabled="contactUs.isDisabled"  required focus-if="contactUs.user.name">
							<span class="form-icon"><i class="fa fa-user"></i></span>
							<label ng-class="{'active': contactUs.user.name.length > 0}" for="name">Name *</label>
							<div class="wrn-msg text-highlight" ng-messages="contactusForm.name.$error" ng-if="contactusForm.name.$touched || contactusForm.$submitted">
								<p ng-message="minlength">name is too short.</p>
								<p ng-message="required">name is required.</p>
							</div>
						</div>
						<!-- Email -->
						<div class="input-field align-left">
							<input type="email" id="email" name="email" ng-model="contactUs.user.email" ng-disabled="contactUs.isDisabled" required focus-if="contactUs.user.email" >
							<span class="form-icon"><i class="fa fa-envelope"></i></span>
							<label ng-class="{'active': contactUs.user.email.length > 0}" for="email">Email *</label>
							<div class="wrn-msg text-highlight" ng-messages="contactusForm.email.$error" ng-if="contactusForm.email.$touched || contactusForm.$submitted">
								<p ng-message="email">Please enter valid email address.</p>
								<p ng-message="required">Email is required.</p>
							</div>
						</div>
						<!-- Message -->
						<div class="input-field align-left">
							<textarea class="materialize-textarea" id="message" name="message" ng-model="contactUs.user.message" required></textarea>
							<span class="form-icon"><i class="fa fa-comment"></i></span>
							<label for="message">Message *</label>
							<div class="wrn-msg text-highlight" ng-messages="contactusForm.message.$error" ng-if="contactusForm.message.$touched || contactusForm.$submitted">
								<p ng-message="required">Message is required.</p>
							</div>							
						</div>	
						<div class="row">
							<br>
							<div class="col s6 align-left rm-gut">
								<button class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit">Send</button>
							</div>
							<div ng-if="contactUs.isFormError" class="wrn-msg text-highlight align-right"> {{contactUs.FormError}}
                        </div>
						</div>
					</form>
				</div>
				<div ng-include="'dist/views/web/partials/rocket-container.html'"></div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<landing-footer></landing-footer>
</div>
