<section class="ev-sm-container ev-view challenge-container">
    <div class="row">
         <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.challenge-main.challenge-list">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/dash-challenge.png">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>Show All Challenges</strong> &nbsp; </div>
                </div>
            </a>
        </div>    
        <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.teams">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                         <img class="bg-img" ng-src="dist/images/sat.jpg">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>My Participant Teams</strong> &nbsp; </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.challenge-host-teams">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                       <img class="bg-img" ng-src="dist/images/roc.jpg"> 
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>My Host Teams</strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <a class="ev-card-hover" ng-click="dash.hostChallenge($event)" href="javascript:void(0)">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/sate.jpg"> 
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>Host a Challenge</strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>
</section>
