<section class="ev-sm-container ev-view challenge-container">
    <div class="row">
        <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.challenge-host-teams">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/bird.png">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>Create a Challenge</strong> &nbsp; </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.teams">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/captain.png">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>Participated Teams</strong> &nbsp; </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a class="ev-card-hover" href="#">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/hulk.png">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>My Hosted Challenges</strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <a class="ev-card-hover" ui-sref="web.challenge-main.challenge-list">
                <div class="card ev-card-panel ev-dashboard-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="dist/images/ironman.png">
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>Participated Challenges</strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>
</section>
