<section class="ev-md-container center">
    <div class="row">
        <div class="col s12">
            <!-- <h3 class="fs-20">Your Analysis for Host challenges are ready.</h3> -->
            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ui-sref="web.host-analytics">Go to Analytics Dashboard</a>
        </div>
    </div>
</section>
<section class="ev-md-container center">
    <div class="row">
        <div class="col s12 m4">
            <h3 class="fs-20 main-title">Ongoing Challenges</h3>
            <h4 class="text-dark-black">{{dash.challengeCount || 0}}</h4>
            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" ui-sref="web.challenge-main">View All</a>
        </div>
        <div class="col s12 m4">
            <h3 class="fs-20 main-title">My Host Teams</h3>
            <h4 class="text-dark-black">{{dash.hostTeamCount || 0}}</h4>
            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" ui-sref="web.challenge-host-teams">View or Create</a>
        </div>
        <div class="col s12 m4">
            <h3 class="fs-20 main-title">My Participant Teams</h3>
            <h4 class="text-dark-black">{{dash.participatedTeamCount || 0}}</h4>
            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" ui-sref="web.teams">View or Create</a>
        </div>
    </div>
</section>

<!-- simple loader -->
    <div class="loader-container" id="sim-loader">
        <div class="text-white center w-300 loader-title">Loading</div>
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

