<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container grad-vh">
            <div class="row">
                <div class="col s12 m8 l8 ev-mt-50">
                    <h4 align="center" class="text-dark-black"><strong>Get Involved</strong></h4>
                    <p>Thanks for your interest in helping out with the EvalAI project! We're a team of volunteers 
                        around the world who want to reduce the barrier to entry for doing AI research and make it easier 
                        for researchers, students and developers to develop and use state-of-the-art algorithms as a service. 
                        We are always listening for suggestions to improve our platform, including identifying bugs and discussing enhancements. Here are different ways in which how you can help:</p>
                    <h5 align="left" class="text-dark-black"><strong>Report issues</strong></h5>
                    <p> If you identify a bug or run into issues while using the website, or you'd like to suggest some new features 
                        or want to get in touch with us, feel free to reach out via our 
                        <a href="https://groups.google.com/forum/#!forum/evalai" class="blue-text">EvalAI Google Group</a>, 
                        or contact us at <a href="mailto:team@cloudcv.org" class="blue-text">team@cloudcv.org</a>.</p>
                    <h5 align="left" class="text-dark-black"><strong>Improving and maintaining the site</strong></h5>
                    <p>The EvalAI project is fully open source, and is maintained by a large community of volunteers on <a href="https://github.com/Cloud-CV/EvalAI" class="blue-text">Github</a>. 
                        We are in need of coders and designers so if you would like to help out, please drop us a line! 
                        The best way to get started is to write us at <a href="mailto:team@cloudcv.org" class="blue-text">team@cloudcv.org</a> 
                        or ping us on our <a href="https://gitter.im/Cloud-CV/EvalAI" class="blue-text">Gitter Channel</a>.</p>
                    <h5 align="left" class="text-dark-black"><strong>Press</strong></h5>
                    <p> If you're a journalist who would like to help spread the word about EvalAI or CloudCV, 
                        please email <a href="mailto:admin@cloudcv.org" class="blue-text">admin@cloudcv.org</a>.</p>
                    <h5 align="left" class="text-dark-black"><strong>Partnership</strong></h5>
                    <p> If you are interested in partnering with us to make a bigger impact on the research community, 
                        or want to host a challenge of your own, please email 
                        <a href="mailto:admin@cloudcv.org" class="blue-text">admin@cloudcv.org</a>. </p>
                </div>
                <div ng-include="'dist/views/web/partials/rocket-container.html'"></div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <landing-footer></landing-footer>
</div>
