<md-dialog>
  <md-dialog-content class=ev-md-dialog-content>
    <p class=ev-invite><strong>Invite others to this team</strong></p>
    <p>Enter the email address of the person</p>
    <form name=inputForm>
      <md-input-container class=ev-md-input-container>
        <input class=dark-autofill placeholder=email type=email ng-required=true size=25 name=email ng-model=model.value />
        <span class="form-icon form-icon-dark"></span>
        <div class=wrn-msg text-highlight ng-messages=inputForm.email.$error>
          <p ng-message=required>E-mail is required</p>
          <p ng-message= email>Please enter a valid email</p>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions class=ev-md-dialog-actions>
    <md-button class=ev-md-button ng-click="closeDialog()">Cancel</md-button>
    <md-button class=ev-md-button type= submit ng-disabled=inputForm.$invalid ng-click="result()" >Send Invite</md-button>
  </md-dialog-actions>
</md-dialog>

