<div class="white-bg view-container">
    <main-header></main-header>
    <!-- EvalAI into -->
    <div class="flex-container">
    	<div class="flex-content">
    		<div class="grad-container">
        		<div class="row">
            		<div class="col s12 m8 l8">
                		<br><br>
                		<h4 align="center" class="text-dark-black"><strong>Join Our Team</strong></h4>
                		<p class="text-med-black fs-18"></p>
                		<h5 align="left" class="text-dark-black"><strong>Github</strong>
                		<i class="fa fa-github" aria-hidden="true"></i></h5>
                		<p>If you want to contribute in our project please click this <a href="https://github.com/Cloud-CV/EvalAI" target="_blank" class="text-dark-black">link</a></p>
                		<h5 align="left" class="text-dark-black"><strong>Gitter</strong></h5>
                		<p>If you want to talk to us please click this <a href="https://gitter.im/Cloud-CV/EvalAI" target="_blank" class="text-dark-black">link</a></p>
                		<h5 align="left" class="text-dark-black"><strong>Mailing List</strong></h5>
                		<p>If you want to mail to us please click this <a href="https://groups.google.com/forum/#!forum/cloudcv" target="_blank" class="text-dark-black">link</a></p>
            		</div>
            		<div ng-include="'dist/views/web/partials/rocket-container.html'"></div>
        		</div>
    		</div>
    	</div>
    	<!-- footer -->
    	<landing-footer></landing-footer>
    </div>
</div>
