<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container grad-vh">
            <div class="row">
                <div class="col s12 m6 ">
                    <div class="grad-head ">
                        <h4 class="text-dark-black"><strong>EvalAI</strong></h4>
                        <p class="text-med-black">Evaluating state of the art in AI</p>
                        <div class="landing-buttons">
                            <ul class="inline-list">
                                <li>
                                    <a ng-click="main.hostChallenge()" href="javascript:void(0)" class="dark-link"><strong>Host Challenge</strong></a>
                                </li>
                                <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ui-sref="web.challenge-main">Participate</a></li>
                            </ul>
                        </div>
                        <div class="landing-buttons">
                            <a href="#" scroll-to="ev-scroll-down" duration="2000" class="insight-text">See More
                            <i class="fa fa-chevron-circle-down"></i>
                        </a>
                        </div>
                    </div>
                </div>
                <div ng-include="'dist/views/web/partials/rocket-container.html'" class="display-large"></div>
            </div>
        </div>
        <!-- Scroll direction -->
        <section class="ev-container center ev-insight ev-cloud-large">
            <div class="cloud-big cloud-big-1">
                <img src="dist/images/cloud1.png">
            </div>
            <div class="cloud-big cloud-big-2">
                <img src="dist/images/cloud2.png">
            </div>
        </section>
        <!-- challenge section -->
        <section class="ev-container ev-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12 m6">
                        <h4>
                        Featured Challenge
                        </h4>
                        <div class="display-large">
                            <p>
                                Explore other past, ongoing and upcoming challenges.
                            </p>
                            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-light fs-14 mt-12" ui-sref="web.challenge-main">View All</a>
                            <!-- <div class="is-line"></div> -->
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div ng-if=main.isChallenge>
                            <div class="challenge-logo">
                                <img ng-src="{{main.featuredChallenge.image}}"> &nbsp;
                                <h4 class="grad-span">
                                <a ui-sref="featured-challenge-page({challengeId:main.featuredChallenge.id})">{{main.featuredChallenge.title}}</a>
                            </h4>
                            </div>
                            <p>
                                <span class="w-500 text-light-black">Organized by: </span> <span class="w-500">{{main.featuredChallenge.creator.team_name}}</span>
                            </p>
                            <p>
                                <span class="text-dark-black">{{main.featuredChallenge.short_description}}<span ng-if="main.isMore">...</span></span>
                            </p>
                            <p>
                                <span class="w-500 text-light-black">Status: </span> <span class="w-500"> In Progress</span>
                                <span class="right">
                                    <a ng-show="isAuth" class="view-more" ui-sref="web.challenge-main.challenge-page({challengeId:main.featuredChallenge.id})">view more <i class="fa fa-external-link"></i></a>
                                    <a ng-show="!isAuth" class="view-more" ui-sref="featured-challenge-page({challengeId:main.featuredChallenge.id})">view more <i class="fa fa-external-link"></i></a>
                                </span>
                            </p>
                        </div>
                        <div ng-if="!main.isChallenge">
                            <p>
                                <span class="text-dark-black">Sorry! there are no featured challenges. Please check again after a while.</span>
                            </p>
                        </div>
                        <div class="display-small">
                            <p class="text-light-black">
                                Explore other past, ongoing and upcoming challenges.
                            </p>
                            <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-light fs-14 mt-12" ui-sref="web.challenge-main">View All</a>
                            <!-- <div class="is-line"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- details section -->
        <section class="ev-container ev-reverse-details text-med-black " id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12">
                        <div class="align-center">
                            <h4><div>What is EvalAI?</h4>
                            <p><span class="text-dark-black w-500">EvalAI is an open-source web platform for organizing and participating in AI challenges. EvalAI = evaluating the state of the art in AI.</span>
                                <!-- <ul class="text-med-black">
                                <li>
                                    EvailAI details one performance on Artificial Intelligence challenges
                                    <div class="big-line"></div>
                                </li>
                                <li>
                                    EvailAI details two performance on Artificial Intelligence challenges
                                    <div class="big-line"></div>
                                </li>
                                <li>
                                    EvailAI details three performance on Artificial Intelligence challenges
                                    <div class="big-line"></div>
                                </li>
                            </ul> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- organizatons section -->
        <section class="ev-container ev-reverse-details text-med-black ev-super-light-bg " id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12">
                        <div class="align-center">
                            <h4><div>Who uses EvalAI?</div></h4>
                             <p><span class="text-med-black">Several partner organizations already host their challenges on EvalAI:</span>
                             </p>
                           <div class="row">
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/fb.png" id="fb-logo">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/google.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/cmu.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/stanford.png">
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/gt.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/mapillary.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/vt.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/umbc.png">
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/pitt.png">
                                    </div>
                               </div>
                               <div class="col s12 l3">
                                    <div class="org-logo">
                                        <img src="dist/images/organizations/draper.png" id="draper-logo">
                                    </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- footer -->
    <landing-footer></landing-footer>
</div>
