<div class="white-bg view-container">
    <main-header></main-header>
    <!-- EvalAI into -->
    <div class="grad-container">
        <div class="row">
            <div class="col s12 m6 ">
                <div class="grad-head">
                    <h4 class="text-dark-black"><strong>EvalAI</strong></h4>
                    <p class="text-med-black">Building platforms for reproducible AI research</p>
                    <div class="landing-buttons">
                        <ul class="inline-list hide-on-med-and-down">
                            <li>
                                <a ng-click="main.hostChallenge($event)" href="javascript:void(0)" class="dark-link"><strong>Host Challenge</strong></a>
                            </li>
                            <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ui-sref="web.challenge-main">Participate</a></li>
                        </ul>
                    </div>
                    <div class="landing-buttons">
                        <a href="#" scroll-to="ev-scroll-down" duration="2000" class="insight-text">
        See More
        <i class="fa fa-chevron-circle-down"></i>
    </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 ">
                <div class="rocket-container">
                    <div class="rocket-anim">
                        <img src="dist/images/rocket.png">
                    </div>
                    <div class="cloud-1">
                        <img src="dist/images/cloud-1.png">
                    </div>
                    <div class="cloud-2">
                        <img src="dist/images/cloud-2.png">
                    </div>
                    <div class="cloud-3">
                        <img src="dist/images/cloud-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll direction -->
    <section class="ev-container center ev-insight">
        <div class="cloud-big cloud-big-1">
            <img src="dist/images/cloud1.png">
        </div>
        <div class="cloud-big cloud-big-2">
            <img src="dist/images/cloud2.png">
        </div>
    </section>
    <!-- details section -->
    <section class="ev-container ev-details text-med-black" id="ev-scroll-down">

    <div class="container">
        <h4 align="center" class="text-dark-black"><strong>What is EvalAI?</strong></h4>
        <p class="text-med-black fs-18"><b>EvalAI is an open-source web platform enabling researchers to organize and participate in competitions to push state-of-the-art performance on Artificial Intelligence challenges.</b> These challenges and benchmarks are essential for accurate evaluation of algorithms for a particular challenge. As the number of public datasets increase and more algorithms are published, it is becoming increasingly difficult to compare different approaches for a particular task. By providing a robust, scalable and a highly configurable platform, it is easy to create challenges with your own dataset,  evaluation protocol and a leaderboard. EvalAI avoids the need to run many baselines on several different datasets and makes it easier for researchers to perform exhaustive quantitative analysis in an efficient, reliable way. </p>
        <br>
        <h4 align="center" class="text-dark-black"><strong>How it Works</strong></h4>
        <p align="center" class="text-med-black fs-18">1. Create a Team</p>
        <p align="center" class="text-med-black fs-18">2. Host or Participate in Challenges</p>
        <p align="center" class="text-med-black fs-18">3. Make Submissions</p>        
    </div>

        <!-- footer -->
        <landing-footer></landing-footer>
    </section>
</div>
