<!-- login form -->
<form ng-submit="userLogin()">
    <div class="input-field align-left">
		<input id="email" type="text" class="validate" required>
		<span class="form-icon"><i class="fa fa-envelope"></i></span>
		<label for="email" data-error="wrong" data-success="right">Username / Email *</label>
    </div>
    <div class="input-field align-left">
		<input id="password" type="password" class="validate" required>
		<span class="form-icon"><i class="fa fa-key"></i></span>
		<label for="password" >Password *</label>
    </div>
    <div class="row">
    	<div class="col s6 align-left rm-gut">
	    	<input type="checkbox" class="filled-in" id="remeb">
			<label for="remeb">Remember Me</label>
		</div>
		<div class="col s6 align-right right rm-gut">
	    	<a ui-sref="auth.reset" class="light-link fg-pass">Forgotten Account?</a>
		</div>	
    </div>
    <div class="align-left">
    	<button class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit">LogIn</button>
    </div>
    <div>
    	<p class="text-light-gray">
    		Or start with a new account <a class="white-link" ui-sref="auth.signup">SignUp</a>
    	</p>
    </div>  
</form>
