<section class="ev-md-container-ui">
    <div class="ev-md-container ev-card">
        <div class="row ht-wt-100p">
            <div class="col s12 m12">
                <div class="ev-card-body">
                    <form name="logOutForm">
                        <div class="pass-title">Log out</div>
                        <p>Are you sure you want to log out?</p><br>
                        <ul class="inline-list pointer">
                            <li>
                                <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-16" type="button" ng-click="main.confirmLogout(true)">
                                    <strong>Yes</strong>
                                </button>
                            </li>
                            <li>
                                <a class="dark-link" type="button" ng-click="main.confirmLogout(false)">No
                                    </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>