<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <div class="grad-container">
            <h4 class="team-heading">Team Awesome!</h4>
            <div class="row">
                <!-- integrate this card with API -->
                <div class="col s12 l3 ">
                    <div class="team-card">
                        <div class="team-link-head">
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-linkedin"></i></a>
                </span>
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-github"></i></a>
                </span>
                            <span class="right link-team-user">
                    <a href="http://deshraj.github.io/">deshraj.github.io</a>
                </span>
                        </div>
                        <div class="team-bg">
                            <img src="dist/images/deshraj-profile.jpg">
                        </div>
                        <div class="team-bg-over">
                            <img src="dist/images/team-over.png">
                        </div>
                        <div class="team-profile">
                            <img src="dist/images/deshraj.png">
                        </div>
                        <div class="team-player">
                            <div><strong class="text-dark-black">Deshraj Yadav</strong></div>
                            <div class="text-med-black">Because I love <i class="fa fa-beer"></i></div>
                        </div>
                    </div>
                </div>
                <!-- ///////////////// -->
                <!-- dummy cards -->
                <div class="col s12 l3 ">
                    <div class="team-card">
                        <div class="team-link-head">
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-linkedin"></i></a>
                </span>
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-github"></i></a>
                </span>
                            <span class="right link-team-user">
                    <a href="http://deshraj.github.io/">deshraj.github.io</a>
                </span>
                        </div>
                        <div class="team-bg">
                            <img src="dist/images/deshraj-profile.jpg">
                        </div>
                        <div class="team-bg-over">
                            <img src="dist/images/team-over.png">
                        </div>
                        <div class="team-profile">
                            <img src="dist/images/deshraj.png">
                        </div>
                        <div class="team-player">
                            <div><strong class="text-dark-black">Deshraj Yadav</strong></div>
                            <div class="text-med-black">Because I love <i class="fa fa-beer"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l3 ">
                    <div class="team-card">
                        <div class="team-link-head">
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-linkedin"></i></a>
                </span>
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-github"></i></a>
                </span>
                            <span class="right link-team-user">
                    <a href="http://deshraj.github.io/">deshraj.github.io</a>
                </span>
                        </div>
                        <div class="team-bg">
                            <img src="dist/images/deshraj-profile.jpg">
                        </div>
                        <div class="team-bg-over">
                            <img src="dist/images/team-over.png">
                        </div>
                        <div class="team-profile">
                            <img src="dist/images/deshraj.png">
                        </div>
                        <div class="team-player">
                            <div><strong class="text-dark-black">Deshraj Yadav</strong></div>
                            <div class="text-med-black">Because I love <i class="fa fa-beer"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l3 ">
                    <div class="team-card">
                        <div class="team-link-head">
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-linkedin"></i></a>
                </span>
                            <span>
                    <a href="http://deshraj.github.io/"><i class="fa fa-github"></i></a>
                </span>
                            <span class="right link-team-user">
                    <a href="http://deshraj.github.io/">deshraj.github.io</a>
                </span>
                        </div>
                        <div class="team-bg">
                            <img src="dist/images/deshraj-profile.jpg">
                        </div>
                        <div class="team-bg-over">
                            <img src="dist/images/team-over.png">
                        </div>
                        <div class="team-profile">
                            <img src="dist/images/deshraj.png">
                        </div>
                        <div class="team-player">
                            <div><strong class="text-dark-black">Deshraj Yadav</strong></div>
                            <div class="text-med-black">Because I love <i class="fa fa-beer"></i></div>
                        </div>
                    </div>
                </div>
                <!-- ////////////////////// -->
            </div>
        </div>
    </div>
    <!-- footer -->
    <landing-footer></landing-footer>
</div>
