<section class="ev-sm-container ev-view ">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card horizontal ev-md-container ev-card-panel ev-z-depth-5 ">
                <div class="card-image">
                    <img src="dist/images/email.png" height="100">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><strong>Unable to create or select a team.</strong>
                            <br> {{perm.emailError}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>~
~                                                                                                                                                                        
~               
