<section class="ev-sm-container ev-view ">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card horizontal ev-md-container ev-card-panel ev-z-depth-5 ">
                <div class="card-image">
                    <img src="dist/images/email.png" height="135">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><strong>Permission Denied</strong><br>
                        Hi {{perm.user.username}},it looks like you have not verified your email address.
                        <br> A <strong>verification</strong> link has been sent to {{perm.user.email}}.
                        <br>In order to proceed ahead, verify your email address by clicking on the verification link in the email.
                        <strong><br> We are always there to help you !</strong></p>
                        <p><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" value="Submit" ui-sref="contact-us">Contact</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
               
