<section class="ev-sm-container ev-view ">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card horizontal ev-md-container ev-card-panel ev-z-depth-5 ">
                <div class="card-image">
                    <img src="dist/images/email.png" height="100">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><strong>Unable to create or select a team.</strong>
                            <br> {{perm.emailError}}</p>
                            <br>
                        <div ng-if="!perm.sendMail">
                            <p> <span class="text-light-black">Didn't get the email?</span> <a class="waves-effect waves-dark dark-link ev-header-overflow" ng-click="perm.requestLink()">Resend Email</a>.</p>
                        </div>
                        <div ng-if="perm.sendMail">
                            <p> <span class="text-light-gray">The verification mail has been sent to you. Please confirm!</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
