<div class="white-bg view-container">
    <main-header></main-header>
    <!-- EvalAI into -->
    <div class="grad-container">
        <div class="row">
            <div class="col s12 m8 l8">
                <h4 align="center" class="text-dark-black"><strong>Privacy Policy</strong></h4>
                <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                <p><b>What personal information do we collect from the people that visit our blog, website or app?</b></p>
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address or other details to help you with your experience.</p>
                <p><b>When do we collect information?</b></p>
                <p>We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site.</p>
                <p><b>How do we use your information? </b></p>
                <p> We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                </p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li style="list-style-type: circle;">To improve our website in order to better serve you.</li>
                    <li style="list-style-type: circle;">To allow us to better service you in responding to your customer service requests.</li>
                    <li style="list-style-type: circle;">To ask for ratings and reviews of services or products</li>
                </ul>
                <p><b>How do we protect your information?</b></p>
                <p>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
                <p>We only provide articles and information. We never ask for credit card numbers.</p>
                <p>We do not use Malware Scanning.</p>
                <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. </p>
                <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
                <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
                <p><b>Do we use 'cookies'?</b></p>
                <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and update the status of the submissions. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
                <p><b>We use cookies to:</b></p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
                </ul>
                <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
                <p><b>If users disable cookies in their browser:</b></p>
                <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some of the features that make your site experience more efficient and may not function properly.</p>
                <p><b>Third-party disclosure</b></p>
                <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
                <p><b>Third-party links</b></p>
                <p>We do not include or offer third-party products or services on our website.</p>
                <p><b>Google</b></p>
                <p>We use Google AdSense Advertising on our website.</p>
                <p>Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
                <p><b>We have implemented the following:</b></p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">Demographics and Interests Reporting</li>
                </ul>
                <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
                <p><b>Opting out:</b></p>
                <p> Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
                <p><b>California Online Privacy Protection Act</b></p>
                <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those inpiduals or companies with whom it is being shared. - See more at: <a href="https://consumercal.org/about-cfc/cfc-education-foundation/california-online-privacy-protection-act-caloppa-3/#sthash.0FdRbT51.dpuf" style="color: #0000EE">https://consumercal.org/about-cfc/cfc-education-foundation/california-online-privacy-protection-act-caloppa-3/#sthash.0FdRbT51.dpuf</a></p>
                <p><b>According to CalOPPA, we agree to the following:</b></p>
                <p>Users can visit our site anonymously.</p>
                <p>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
                <p>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</p>
                <p>You will be notified of any Privacy Policy changes:</p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">On our Privacy Policy Page</li>
                </ul>
                <p><b>How does our site handle Do Not Track signals?</b></p>
                <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. </p>
                <p><b>Does our site allow third-party behavioral tracking?</b></p>
                <p>It's also important to note that we do not allow third-party behavioral tracking</p>
                <p><b>Fair Information Practices</b></p>
                <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
                <p><b>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</b></p>
                <p>We will notify you via email</p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">Within 7 business days</li>
                </ul>
                <p>We also agree to the Inpidual Redress Principle which requires that inpiduals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that inpiduals have enforceable rights against data users, but also that inpiduals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
                <p><b>CAN SPAM Act</b></p>
                <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
                <p><b>We collect your email address in order to:</b></p>
                <ul style="padding-left: 20px;">
                    <li style="list-style-type: circle;">Send information, respond to inquiries, and/or other requests or questions</li>
                </ul>
                <p><b>To be in accordance with CANSPAM, we agree to the following:</b></p>
                <p>If at any time you would like to unsubscribe from receiving future emails, you can email us at <a style="color: #0000EE" href="mailto:admin@cloudcv.org">admin@cloudcv.org</a> and we will promptly remove you from <b>ALL</b> correspondence.</p>
                <p><b>Contacting Us</b></p>
                <p>If there are any questions regarding this privacy policy, you may contact us using the information below.
                </p>
                <p>EvalAI
                    <br>
                    <a style="color: #0000EE" href="mailto:admin@cloudcv.org">admin@cloudcv.org</a>
                    <br> Last Edited on 2017-05-29</p>
            </div>
            <div ng-include="'dist/views/web/partials/rocket-container.html'"></div>
        </div>
    </div>
</div>
<!-- footer -->
<landing-footer></landing-footer>
