<!-- <slide-profile></slide-profile> -->
<div class="ev-md-container center">
    <img src="dist/images/pro-pic.png" class="profile-pic">
    <div>{{profile.user.username}}</div>
    <div class="text-light-black w-300">{{profile.user.email}}</div>
    <ul>
        <li>
            <span class="text-light-black fs-12">First Name<br> </span> {{profile.user.first_name}}
        </li>
        <li>
            <span class="text-light-black fs-12">Last Name<br></span> {{profile.user.last_name}}
        </li>
        <li>
            <span class="text-light-black fs-12">Affiliated To<br></span> {{profile.user.affiliation}}
        </li>
    </ul>
    <!--         <li>
            <input type="checkbox" class="filled-in fs-14" id="sub">
            <label for="sub">Subscribe to email list</label>
        </li> -->
    <div class="text-highlight"><span class="fs-12">Profile Completed</span>
        <br> <span class="text-dark-black">{{profile.user.complete}}%</span></div>
    <ul class="inline-list hide-on-med-and-down profile-edit-group">
        <li>
            <a ng-click="main.hostChallenge($event)" ui-sref="web.change-password" class="dark-link"><strong>Change Password</strong></a>
        </li>
        <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ui-sref="web.update-profile">Update Profile</a></li>
    </ul>
</div>
