<div class="profile-sidebar z-depth-3">
    <slide-profile></slide-profile>
    <div class="ev-md-container center">
        <img ng-src="{{profile.imgUrl}}" height="80" width="auto">
        <div>{{profile.user.username}}</div>
        <div class="text-light-gray w-300">{{profile.user.email}}</div>
        <ul>
            <li>
                <span class="text-light-gray fs-12">First Name<br> </span> {{profile.user.first_name}}
            </li>
            <li>
                <span class="text-light-gray fs-12">Last Name<br></span> {{profile.user.last_name}}
            </li>
            <li>
                <span class="text-light-gray fs-12">Affiliated To<br></span> -
            </li>
        </ul>
        <div class="text-highlight align-left">Profile Completed : <span class="text-white">{{profile.user.complete}}%</span></div>
    </div>
</div>
