<div ng-if="!auth.isMail">
    <div class="col s12 m4 offset-m4 left">
        <ul class="align-left">
            <li class="align-left">
                <br>{{auth.deliveredMsg}}
                <br><span class="text-highlight">Please check your mail.</span></li>
            <!--  <li class="ev-horiz-list">
                <br>
                <a ui-sref="auth.login" class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit" ng-click="resetForm()">Back to Login</a>
            </li> -->
        </ul>
    </div>
</div>
<div>
    <div class="col s12 m4 offset-m4 left">
        <ul class="left">
            <li class="ev-horiz-list"><a ui-sref="auth.reset-password" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetFrom()">Enter email to reset Password</a></li>
        </ul>
    </div>
    <div class="col s12 m4 offset-m4">
        <form ng-submit="auth.resetPassword()" class="reset-password">
            <!-- email -->
            <div class="input-field align-left">
                <input id="email" type="text" class="validate" ng-model="auth.getUser.email" focus-if>
                <span class="form-icon"><i class="fa fa-envelope"></i></span>
                <label for="email" data-error="wrong" data-success="right">Email*</label>
                <div class="wrn-msg text-highlight" ng-show="auth.isValid.email">{{auth.wrnMsg.email}}</div>
            </div>
            <div class="row">
                <br>
                <div class="col s6 align-left rm-gut">
                    <button class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit">Submit</button>
                </div>
                <div class="col s6 align-right right rm-gut">
                    <a ui-sref="auth.login" class="light-link fg-pass">Back to Login</a>
                </div>
            </div>
            <div>
                <p class="text-light-gray">
                    Or start with a new account <a class="white-link" ui-sref="auth.signup" ng-click="auth.resetForm()">SignUp</a>
                </p>
            </div>
        </form>
    </div>
</div>
