<form ng-submit="reset_password.resetPassword()" class="reset-password">
    <!-- email -->
    <div class="input-field align-left">
        <input id="email" type="text" class="validate" ng-model="reset_password.user.email" focus-if>
        <span class="form-icon"><i class="fa fa-user"></i></span>
        <label for="email" data-error="wrong" data-success="right">Email*</label>
        <div class="wrn-msg text-highlight" ng-show="reset_password.isValid.email">{{reset_password.wrnMsg.email}}</div>

    </div>
    <div class="row">
           <div class="col s6 align-left rm-gut">
              <button class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit">Submit</button>
           </div>
    </div>
</form>
