<div class="white-bg view-container">
    <main-header></main-header>
    <!-- EvalAI into -->
    <div class="grad-container">
        <div class="row">
            <div class="col s12 m8 l8">
                <br><br>
                <h4 align="center" class="text-dark-black"><strong>Terms and Conditions</strong></h4>
                <p class="text-med-black fs-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-med-black fs-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-med-black fs-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col s12 m4 l4 ">
                <div class="rocket-container">
                    <div class="rocket-anim">
                        <img src="dist/images/rocket.png">
                    </div>
                    <div class="cloud-1">
                        <img src="dist/images/cloud-1.png">
                    </div>
                    <div class="cloud-2">
                        <img src="dist/images/cloud-2.png">
                    </div>
                    <div class="cloud-3">
                        <img src="dist/images/cloud-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ev-container ev-details text-med-black">
        <!-- footer -->
        <landing-footer></landing-footer>
    </section>
</div>
