@import './variables.scss';
@import './mixins.scss';

.ev-submission-card-body {
  padding: 10px 30px;
}

.row .row-lr-margin {
  margin-bottom: 20px;
}

.guidelines-text-margin {
  margin-top: 14px;
  margin-bottom: 14px;
}

.remaining-submission-clock {
  padding-top: 55px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
}

table.centered {
  text-align: center;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

tr {
  border-bottom: 1px solid #d0d0d0;
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
}

.exist-team-card {
  .col-lr-pad {
    padding-left: 16px;
    padding-right: 36px;
  }
  ul {
    padding-left: 70px;
  }
}

.remaining-submission-clock {
  padding-top: 55px;
}

.meta-label {
  margin-right: 10px;
  color: black;
  font-weight: $fw-semibold;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: black;
}

::ng-deep .mat-radio-outer-circle {
  border-color: black;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  border-color: black;
  background-color: black;
}

.input-message {
  position: relative;
  top: 2px;
  left: 0;
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  font-weight: $fw-light;
  color: $yellow;
  &.hidden {
    opacity: 0;
  }
}

@include screen-small {
  .remaining-submission-clock {
    padding-top: 0px;
  }
}

#Submission_option_hidden {
  display: none;
}

#form_hidden {
  display: none;
}

#uploadbutton {
  display: none;
}

#url_field {
  display: none;
}

#submission_option_style {
  margin-left: 1em;
}

.numbered-list {
  li {
    list-style-type: decimal !important;
  }
}

.center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
