@import './variables.scss';
@import './mixins.scss';

.ev-submission-card-body {
  padding: 10px 30px;
}

.ev-challenge-view {
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.row .row-lr-margin {
  margin-bottom: 20px;
}

.guidelines-text-margin {
  margin-top: 14px;
  margin-bottom: 14px;
}

.remaining-submission-clock {
  padding-top: 55px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
}

table.centered {
  text-align: center;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

tr {
  border-bottom: 1px solid #d0d0d0;
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
}

.exist-team-card {
  .col-lr-pad {
    padding-left: 16px;
    padding-right: 36px;
  }
  ul {
    padding-left: 60px;
  }
}

.remaining-submission-clock {
  padding-top: 55px;
}

.meta-label {
  margin-right: 10px;
  color: #adb4d0;
  font-weight: $fw-semibold;
}

:host ::ng-deep .mat-radio-container{
  height: 16px;
  width: 16px;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  height: 16px;
  width: 16px;
  border-color: rgba(0,0,0,0.54);
}

:host ::ng-deep .mat-radio-outer-circle {
  height: 16px;
  width: 16px;
  border-color: rgba(0,0,0,0.54);
}

:host ::ng-deep .mat-radio-inner-circle {
  height: 16px;
  width: 16px;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  height: 16px;
  width: 16px;
  border-color: rgba(0,0,0,0.54);
  background-color: rgba(0,0,0,0.54);
}

.input-message {
  position: relative;
  top: 2px;
  left: 0;
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  font-weight: $fw-light;
  color: $yellow;
  &.hidden {
    opacity: 0;
  }
}

@include screen-small {
  .remaining-submission-clock {
    padding-top: 0px;
  }
}

#Submission_option_hidden {
  display: none;
}

#form_hidden {
  display: none;
}

#uploadbutton {
  display: none;
}

#url_field {
  display: none;
}

#submission_option_style {
  margin-left: 1em;
}

.numbered-list {
  li {
    list-style-type: decimal !important;
  }
}

.center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cli-card-container {
  margin: 14.5px 0px;
  padding: 0px 0px 0px 70px;
}

.mat-label-radio {
  margin-top: 1.0em;
  position: relative;
  color: $light-gray;
  font-size: 0.8em;
  font-weight: 400;
}

.element {
  margin-bottom: 10px;
  border-color: #adb4d0;
  color: #adb4d0;
}

:host ::ng-deep .mat-checkbox-layout {
  margin-bottom: 5px;
}
