<section class="text-center rm-overflow-y">
    <div class="row">
        <div class="col s12 m12">
            <div class="update-submission-visibility-card">
                <form name="cancelSubmissionForm" ng-submit="challenge.cancelSubmission(challenge.submissionId)">
                    <div class="pass-title">Are you sure you want to cancel submission?</div>

                    <ul class="inline-list pointer">
                        <li><a class="dark-link" type="button" ng-click="challenge.hideDialog()"><strong>Cancel </strong></a></li>
                        <li><button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit </button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
