<section class="ev-sm-container ev-view challenge-container">
    <!-- ongoing challenges -->
    <div class="challenge-page-title" id = "ongoing-challenges"><strong class="text-med-black fs-18">Ongoing Challenges</strong></div>
    <div ng-if="challengeList.noneCurrentChallenge">No Ongoing Challenges found!</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.currentList"><a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}}</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}}</strong></p> 
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>

    <!-- scroll up button -->
    <div id = "scroll-up" ng-class="challengeList.scrollUp()" >
    <a class="ev-btn-scroll" scroll-to= "ongoing-challenges" offset= "800"><strong><i class="align-right fa fa-chevron-up"></i></strong></a>
    </div>

    <!-- upcoming challenges -->
    <div class="challenge-page-title"><strong class="text-med-black fs-18">Upcoming Challenges</strong></div>
    <div ng-if="challengeList.noneUpcomingChallenge">No Upcoming Challenges found!</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.upcomingList"><a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}}</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}}</strong></p>    
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>
    <!-- past challenges -->
    <div class="challenge-page-title"><strong class="text-med-black fs-18">Past Challenges</strong></div>
    <div ng-if="challengeList.nonePastChallenge">No Past Challenges found!</div>
    <div class="row">
        <div class="col s12 m3" ng-repeat="challenge in challengeList.pastList">
            <a class="ev-card-hover" ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                    <div class="card-image ev-card-image">
                        <img class="bg-img" ng-src="{{challenge.image}}">
                        <span class=" ev-card-title fs-14"><span><img ng-src="{{challenge.image}}" ></span>{{challenge.title}}</span>
                    </div>
                    <div class="card-content">
                        <p><strong class="text-light-black fs-12">Organized by</strong>
                            <br> <strong>{{challenge.creator.team_name}}</strong></p>
                        <p><strong class="text-light-black fs-12">Starts on</strong>
                            <br> <strong>{{challenge.start_date | date:'medium'}}</strong></p>
                        <p><strong class="text-light-black fs-12">Ends on</strong>
                            <br> <strong>{{challenge.end_date | date:'medium'}}</strong></p> 
                    </div>
                    <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details </strong> &nbsp; </div>
                </div>
            </a>
        </div>
    </div>
</div>
</section>
<!-- <ui-view></ui-view> -->
