<section class="ev-sm-container ev-view challenge-container" ng-init="challenge.startLoadingLogs();">
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row margin-bottom-cancel">
            <div class="col s12 m12 l12">
                <div class="w-300 fs-16"><strong>Note:</strong>By default, we allocate 0.25 vCPU and 0.5 GB memory
                to each challenge evaluation worker. In case your evaluation requires additional resources,
                please email us at <a href="mailto:admin@cloudcv.org" class="blue-text">admin@cloudcv.org</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <h5 class="w-300">Submission worker actions</h5>
            </div>
        </div>
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ng-click="challenge.manageWorker('start');"><i class="fa fa-play"></i> Start worker</button>
                <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ng-click="challenge.manageWorker('stop');"><i class="fa fa-stop"></i> Stop worker</button>
                <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ng-click="challenge.manageWorker('restart');"><i class="fa fa-refresh"></i> Restart worker</button>
            </div>
        </div>
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <h5 class="w-300">Submission worker logs</h5>
            </div>
        </div>
        <div class="ev-logs-card">
            <div ng-repeat="log in challenge.workerLogs track by $index" class="ev-logs">{{log}}</div>
        </div>
    </div>
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <h5 class="w-300">Remote Evaluation Meta</h5>
            </div>
        </div>
        <div class="row margin-bottom-cancel">
            <div class="col s12 m12 l12">
                <div class="w-300 fs-16">
                    <strong>Primary Key</strong>: {{challenge.challengeId}}<br>
                    <strong>Queue Name</strong>: {{challenge.queueName}}
                </div>
            </div>
        </div>
    </div>
</section>
