<section ng-if="challenge.isParticipated" class="ev-sm-container ev-view ">
    <div class="row">
        <div class="col s12 m12">
            <div class=" ev-card-panel ev-z-depth-5 ">
                <div class="loader-container card-loader-container" id="loader" ng-show="challenge.isExistLoader" class="fade">
                    <div class="loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="ev-md-container ev-panel-title">
                    <div class="row">
                        <div class="col s12">
                            <strong>Please select a phase to get list of submissions!</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col xs12 s6">
                            <span><md-select ng-model="challenge.phase.name" placeholder="Phase" class="rm-margin">
                            <md-option ng-click="challenge.getResults(key.id)" value="{{key.name}}" ng-repeat="key in challenge.phases.results">{{key.name}}</md-option>
                        </md-select></span>
                        </div>
                    </div>
                </div>

                <div class=" ev-card-body exist-team-card">
                    <div class="row">
                        <div class="col s12">
                            <div ng-if="!challenge.isResult" class="result-wrn">No phase selected.</div>
                            <table ng-if="challenge.isResult" class="highlight">
                                <thead>
                                    <tr>
                                        <th data-field="team">Team Name</th>
                                        <th data-field="status">Status</th>
                                        <th data-field="status">Execution Time (In sec.)</th>
                                        <th data-field="file">Submitted File</th>
                                        <th data-field="file">Stdout File</th>
                                        <th data-field="file">Stderr File</th>
                                        <th data-field="file">Submitted At</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="key in challenge.submissionResult.results" class="result-val">
                                        <td>{{key.participant_team_name}}</td>
                                        <td class="val-style capitalize" ng-class="key.status">{{key.status}}</td>
                                        <td>{{key.execution_time}}</td>
                                        <td><a href="{{key.input_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
                                        <td><a href="{{key.stdout_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
                                        <td><a href="{{key.stderr_file}}" target="_blank" class="blue-text"><i class="fa fa-external-link"></i> Link</a></td>
                                        <td>{{key.submitted_at | date:'medium'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="center">
                  <a ng-class="challenge.isPrev" class="btn-floating btn-pagination waves-effect waves-light " ng-click="challenge.load(challenge.submissionResult.previous)">
                      <i class="fa fa-chevron-left"></i>
                  </a>
                  <a ng-class="challenge.isNext" class="btn-floating btn-pagination waves-effect waves-light " ng-click="challenge.load(challenge.submissionResult.next)">
                      <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
