<section class="ev-sm-container ev-view challenge-container ">
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row">
            <div class="col s11 m11">
                <span class="fs-18">
                        <strong>{{challenge.page.title}}</strong>
                </span>
            </div>
            <div ng-if="challenge.isChallengeHost" class="col s1">
                <a class="pointer" ng-click="challenge.overviewDialog($event)">
                    <i class="fa fa-pencil" aria-hidden="true">
                    </i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="challenge-description" ng-bind-html="challenge.page.description"></div>
            </div>
        </div>
    </div>
</section>
