<section class="ev-sm-container ev-view challenge-container">
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <h5 class="w-300">Prizes</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4" ng-repeat="prize in challenge.prizes | orderBy:'+rank'">
                <a class="ev-card-hover">
                    <div class="card ev-card-panel ev-card-hover">
                        <i class="fa fa-trophy fa-5x trophy-icon" ng-class="challenge.getTrophySize(prize.rank)"></i>
                        <div class="card-image ev-card-prize">
                            <span class="ev-card-title fs-14">
                                {{prize.rank}}
                            </span>
                        </div>
                        <div class="card-content">
                            <p>
                                <strong class="text-light-black fs-12">Prize Amount</strong><br>
                                <strong>{{ prize.amount }}</strong>
                            </p>
                            <p>
                                <strong class="text-light-black fs-12">{{ prize.description }}</strong><br>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>