<section ng-if="challenge.isParticipated" class="ev-sm-container ev-view challenge-container  ">
    <div ng-if="challenge.isParticipated">
        <div class="row">
            <div class="col s12 m12">
                <div class=" ev-card-panel ev-z-depth-5">
                    <div class="ev-md-container ev-panel-title"><strong>Please fill the following fields to submit</strong></div>
                    <div class="ev-md-container ev-card-body exist-team-card">
                        <form ng-submit="challenge.makeSubmission()">
                            <ul>
                                <b>Select Phase:</b>
                                <li ng-repeat="item in challenge.phases.results">
                                    <input type="radio" name="selectPhase" class="with-gap selectPhase" id="{{item.id}}" value="{{item.id}}" ng-model="challenge.phaseId">
                                    <label for="{{item.id}}"></label>
                                    <div class="show-member-title pointer"><strong class="text-med-black">Phase: </strong>{{item.name}}
                                        <br>
                                        <strong class="text-med-black">End Date: </strong>{{item.end_date | date:'medium'}}</div>
                                    <div class="clearfix"></div>
                                </li>
                                <div class="file-field input-field">
                                    <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                                        <span>Submission File</span>
                                        <input type="file" ng-model="challenge.input_file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <section class="pagination">
                                    <div class="row rm-gut">
                                        <div class="col s12 m12">
                                            <div class="align-left ">
                                                <button class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14" type="submit" value="Submit">Make Submission</button>
                                                <br>
                                                <br>
                                                <span class="text-dark-black"><strong >{{challenge.submissionError}}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
