<section class="ev-sm-container ev-view challenge-container" ng-init="challenge.startLoadingLogs();">
    <div class="ev-logs-card ev-z-depth-5 ev-challenge-view" ng-if="challenge.areSubmissionsFailing;">
        <div ng-repeat="log in challenge.worker_logs track by $index" class="ev-logs">{{log}}</div>
    </div>
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view w-300" ng-if="!challenge.areSubmissionsFailing;">
        Submission worker is working fine.
    </div>
</section>
