@import 'styles/variables';

.dashboard-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  min-height: 100vh;
}

.web-container {
  width: calc(100% - 223px);
  float: right;
  padding-top: 70px;
  overflow-x: hidden;
  &.center {
    float: none;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
}

@media only screen and (max-width: $med-screen) {
  .web-container {
    width: 100%;
  }
}
