<div class="ev-card-panel ev-md-container card-bt-margin">
  <div class="row-lr-margin">
    <div class="col-md-11 col-sm-11 col-xs-10 col-lr-pad">
      <h5 class="fw-light text-med-black">
        {{ phase['name'] }}
      </h5>
    </div>
  </div>
  <div class="row row-lr-margin">
    <div class="col-sm-12 col-lr-pad">
      <div class="row rm-margin">
        <div class="col-md-8 col-lg-8 no-pad-lr element">
          <p>
            <strong class="text-light-black fw-regular text-med-black fs-16">Starts on</strong> <br />
            <strong class="fw-light fs-14 phase-value">{{ startDate }} {{ phase['start_zone'] }}</strong>
          </p>
        </div>
        <div class="col-lg-4 col-lg-4 no-pad-lr element">
          <p>
            <strong class="text-light-black fw-regular text-med-black  fs-16">Ends on</strong> <br />
            <strong class="fw-light fs-14 phase-value">{{ endDate }} {{ phase['end_zone'] }}</strong>
          </p>
        </div>
        <div [innerHTML]="phase['description']" class="phase-description content fw-light"></div>

        <div class="row rm-margin">
          <div class="col-lg-4 no-pad-lr element">
            <p>
              <strong class="text-light-black fw-regular text-med-black  fs-16">Submissions/day: </strong>
              <strong class="fs-14 phase-value fw-light">{{ phase['max_submissions_per_day'] }}</strong>
            </p>
          </div>

          <div class="col-lg-4 no-pad-lr element">
            <p>
              <strong class="text-light-black fw-regular text-med-black  fs-16">Submissions/month: </strong>
              <strong class="fs-14 phase-value fw-light">{{ phase['max_submissions_per_month'] }}</strong>
            </p>
          </div>

          <div class="col-lg-4 no-pad-lr element">
            <p>
              <strong class="text-light-black fw-regular text-med-black  fs-16">Total submissions: </strong>
              <strong class="fs-14 phase-value fw-light">{{ phase['max_submissions'] }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
