<div class="twitter-feed-container">
  <a
    class="twitter-timeline"
    data-width="700"
    data-height="500"
    data-theme="light"
    href="https://twitter.com/project_cloudcv?ref_src=twsrc%5Etfw"
    ><i class="fab fa-twitter"></i
  ></a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <ngx-twitter-timeline
    [data]="{ sourceType: 'url', url: 'https://twitter.com/project_cloudcv?ref_src=twsrc%5Etfw' }"
    [opts]="{ tweetLimit: 0 }"
    class="hidden"
  ></ngx-twitter-timeline>
</div>
