<app-header-static>
</app-header-static>
<div class="container-top">
  <div class="auth-container" style="background-image: url('assets/images/auth_background.png');">
    <div class="auth-background-image" style="background-image: url('assets/images/auth_orange_image.png');">
      <span class="auth-tagline">Evaluating state of the art in AI</span>
    </div>
    <div class="auth-form">
      <div class="auth-form-logo">
        <img src="assets/images/evalai_logo_light.png" />
      </div>
      <div class="auth-nav">
        <a [class.auth-selected]="localRouter.url=='/auth/login'" [routerLink]="['/auth/login']" >LOGIN</a>
        <a [class.auth-selected]="localRouter.url=='/auth/signup'" [routerLink]="['/auth/signup']">SIGNUP</a>
      </div>
      <router-outlet></router-outlet>
      <div class="auth-form-footer">
        <ul class="row">
            <li class="align-left col-lg-4 col-md-4 col-sm-4 col-xs-3">
              <a target="_blank" href="https://github.com/Cloud-CV"><img src="assets/images/git_dark.png"/></a> 
              <a target="_blank" href="https://twitter.com/project_cloudcv"><img src="assets/images/twitter_dark.png"/></a>
            </li>
            <li class="align-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <a target="_blank" href="https://www.cloudcv.org">www.cloudcv.org</a>
            </li>
            <li class="align-right col-lg-4 col-md-4 col-sm-4 col-xs-5">
              <a [routerLink]="['']">Back to home</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
