<section class="ev-sm-container ev-view challenge-container">
    <div class="container">
        <ul class="progressbar">
            <li class="active">Challenge Details</li>
            <li class="active">Phase/Split Details</li>
            <li class="active">Review Details</li>
            <li>Great Job!</li>
        </ul>
    </div>

    <div style="margin-top: 150px;" class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="ev-card-body pd-20 w-300">
                    <form name="challengeDetailsForm" ng-submit="challengeCreateUsingUI.submitChallengeDetails(challengeDetailsForm.$valid)">
                        <div class="row">
                            <div class="col s6 m6 l6">
                                <div class="input-field align-left">
                                    <span class="fs-16 w-400 text-med-black">Challenge title</span>
                                        <input type="text" id="title" name="title"
                                            ng-model="challengeCreateUsingUI.challengeTitle"
                                            value="{{challengeCreateUsingUI.challengeTitle}}" placeholder="Challenge title"
                                            focus-if="challenge.page.challenge_phase.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m3 l3">
                                <div class="input-field align-left">
                                    <span class="text-med-black w-400 fs-16">Challenge start date & time</span>
                                    <input id="start_date" name="start_date" format="MM-DD-YYYY hh:mm a" locale="en"
                                        value="{{challengeCreateUsingUI.challengeStartDate}}"
                                        ng-model="challengeCreateUsingUI.challengeStartDate"
                                        start-view="year" ng-model-options="{ updateOn: 'blur' }"
                                        placeholder="Challenge start date"
                                        moment-picker="challengeCreateUsingUI.challengeStartDate"
                                        start-date="challengeCreateUsingUI.challengeStartDate"
                                        required>
                                    <span class="form-icon"><i class="fa fa-text"></i></span>
                                </div>
                            </div>
                            <div class="col s12 m3 l3">
                                <div class="input-field align-left">
                                    <span class="text-med-black w-400 fs-16">Challenge end date & time</span>
                                    <input id="end_date" name="end_date" format="MM-DD-YYYY hh:mm a" locale="en"
                                        value="{{challengeCreateUsingUI.challengeEndDate}}"
                                        ng-model="challengeCreateUsingUI.challengeEndDate"
                                        start-view="year" ng-model-options="{ updateOn: 'blur' }" placeholder="Challenge end date"
                                        moment-picker="challengeCreateUsingUI.challengeEndDate"
                                        min-date="challengeCreateUsingUI.challengeEndDate" required>
                                    <span class="form-icon"><i class="fa fa-text"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <div class="file-field input-field">
                                    <div class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-16">
                                        <span> Evaluation script file </span>
                                        <input name="challengeCreateUsingUI.challengeEvaluationScript" ngf-select type="file"
                                            class="text-dark-black dark-autofill w-50"
                                            ng-model="challengeCreateUsingUI.challengeEvaluationScript" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path" type="text" class="input-field"
                                            ng-model="challengeCreateUsingUI.challengeEvaluationScript"
                                            ng-value="challengeCreateUsingUI.challengeEvaluationScript" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="align-center text-med-black w-400">
                                    <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-16"
                                        type="submit" value="submit"
                                        ng-disabled="!challengeCreateUsingUI.challengeTitle || !challengeCreateUsingUI.challengeStartDate
                                        || !challengeCreateUsingUI.challengeEndDate || !challengeCreateUsingUI.challengeEvaluationScript">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
