<!-- loader init -->
<eval-loader></eval-loader>
<!--auth parent view -->
<section class="auth-container ">
    <!-- graphic animated view -->
    <div class="graphic-cont">
        <img class="star-img star1" src="dist/images/star1.png">
        <img class="star-img star2" src="dist/images/star2.png">
        <div class="moon">
            <img src="dist/images/moon.png">
        </div>
        <div class="sun">
            <img src="dist/images/sun.png">
        </div>
        <div class="auth-cloud-cont">
            <img src="dist/images/auth-cloud.png">
        </div>
        <div class="ufo">
            <img src="dist/images/spaceman.png">
        </div>
    </div>
    <!-- rendering auth children here -->
    <div class="auth-cont">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="left">
                    <h5><strong><a ui-sref="home" class="dark-link"><img class="auth-logo" src="dist/images/evalai-logo.png"></a></strong></h5>
                    <p class="text-med-gray auth-home">Evaluating state of the art in AI!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="reg-alert col s12 m6 offset-m3 align-left text-highlight w-300">{{auth.regMsg}}</div>
            <div class="ui-view"></div>
        </div>
        <div class="row">
            <div class="reg-alert col s12 m6 offset-m3 align-left text-highlight w-300 social-auth-group">
              <a href="https://github.com/Cloud-CV/EvalAI" class="light-link" target="_blank"><i class="fa fa-github"></i></a> &nbsp;&nbsp;&nbsp;<a href="https://twitter.com/eval_ai" class="light-link" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 14px; height: 14px; vertical-align: middle; fill: currentColor;"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a> &nbsp;&nbsp;&nbsp; <a href="https://www.cloudcv.org/" class="light-link fg-pass" target="_blank">www.cloudcv.org</a> &nbsp;&nbsp;&nbsp; <a ui-sref="home" class="light-link fg-pass">Back to home</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
