<div class="col s12 m6 offset-m3 left">
    <ul class="left">
        <li class="ev-horiz-list"><a ui-sref="auth.login" class="dark-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Log In</a></li>
        <li class="ev-horiz-list"><a ui-sref="auth.signup" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Sign Up</a></li>
        <!-- <li class="ev-horiz-list"><a ui-sref="auth.reset-password" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Forgot Password</a></li> -->
    </ul>
</div>
<div class="col s12 m6 offset-m3">
    <!-- login form -->
    <form name="loginForm" ng-submit="auth.userLogin(loginForm.$valid)" id="log-in" novalidate>
        <!-- username -->
        <div class="input-field align-left">
            <input type="text" id="name" class="dark-autofill" name="name" ng-model="auth.getUser.name" ng-minlength="3" required>
            <span class="form-icon form-icon-dark"><i class="fa fa-user"></i></span>
            <label for="name">Username*</label>
            <div class="wrn-msg text-highlight" ng-messages="loginForm.name.$error" ng-if="loginForm.name.$touched || loginForm.$submitted">
                <p ng-message="minlength">Username is too short.</p>
                <p ng-message="required">Username is required.</p>
            </div>
        </div>
        <!-- password -->
        <div class="input-field align-left">
            <input type="{{canShowPassword ? 'text' : 'password'}}" id="password" onpaste="return false;" class="dark-autofill" name="password" ng-model="auth.getUser.password" autocomplete="new-password" ng-minlength="8" required>
            <span class="form-icon form-icon-dark" ng-click="auth.togglePasswordVisibility()">
                <i ng-if="!canShowPassword" class="fa fa-eye pointer"></i>
                <i ng-if="canShowPassword" class="fa fa-eye-slash pointer"></i>
            </span>
            <label for="password">Password (min 8 characters) *</label>
            <div class="wrn-msg text-highlight" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched || loginForm.$submitted">
                <p ng-message="minlength">Password is less than 8 characters.</p>
                <p ng-message="required">Password is required.</p>
            </div>
        </div>
        <div class="row">
            <!--    <div class="col s6 align-left rm-gut">
            <input type="checkbox" class="filled-in" ng-model="auth.isRem" id="remeb">
            <label for="remeb">Remember Me</label>
        </div> -->
            <br>
            <div class="col s6 align-left rm-gut">
                <button class="waves-effect waves-dark btn ev-btn-dark grad-btn grad-btn-dark w-300" type="submit">Log In</button>
            </div>
            <div class="col s6 align-right right rm-gut">
                <a ui-sref="auth.reset-password" class="light-link fg-pass">Forgot Password or Username?</a>
            </div>
        </div>
        <div ng-if="auth.isFormError" class="wrn-msg text-highlight align-left"> {{auth.FormError}}</div>
        <div>
            <p class="text-light-gray">
                <span class="text-med-black">Start with a new account </span><a class="highlight-link" ui-sref="auth.signup" ng-click="auth.resetForm()"> Sign Up</a>
            </p>
        </div>
    </form>
</div>
