<div class="col s12 m6 offset-m3 left">
    <ul class="left">
        <li class="ev-horiz-list"><a ui-sref="auth.login" class="dark-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Log In</a></li>
        <li class="ev-horiz-list"><a ui-sref="auth.signup" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Sign Up</a></li>
        <!-- <li class="ev-horiz-list"><a ui-sref="auth.reset-password" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Forgot Password</a></li> -->
    </ul>
</div>
<div class="col s12 m6 offset-m3">
    <!-- login form -->
    <form name="loginForm" ng-submit="auth.userLogin(loginForm.$valid)" id="log-in" novalidate>
        <!-- username -->
        <div class="input-field align-left">
            <input type="text" id="name" class="dark-autofill" name="name" ng-model="auth.getUser.name" ng-change="auth.checkUserName()">
            <span class="form-icon form-icon-dark"><i class="fa fa-user"></i></span>
            <label for="name">Username*</label>
            <div class="wrn-msg text-highlight">
                <p ng-if="auth.user_empty || auth.user_min_length">{{auth.user_msg}}</p>
                <p ng-if="!auth.user_empty && !auth.user_min_length" style="visibility: hidden;">&nbsp;</p>
            </div>
        </div>
        <!-- password -->
        <div class="input-field align-left">
            <input type="password" id="password" onpaste="return false;" class="dark-autofill" name="password" ng-model="auth.getUser.password" autocomplete="new-password" ng-change="auth.checkPassword()">
            <span class="form-icon form-icon-dark"><i class="fa fa-key"></i></span>
            <label for="password">Password (min 8 characters) *</label>
            <div class="wrn-msg text-highlight">
                <p ng-if="auth.pass_empty || auth.pass_min_length">{{auth.pass_msg}}</p>
                <p ng-if="!auth.pass_empty && !auth.pass_min_length" style="visibility: hidden;">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <!--    <div class="col s6 align-left rm-gut">
            <input type="checkbox" class="filled-in" ng-model="auth.isRem" id="remeb">
            <label for="remeb">Remember Me</label>
        </div> -->
            <br>
            <div class="col s6 align-left rm-gut">
                <button class="waves-effect waves-dark btn ev-btn-dark grad-btn grad-btn-dark w-300" type="submit">Log In</button>
            </div>
            <div class="col s6 align-right right rm-gut">
                <a ui-sref="auth.reset-password" class="light-link fg-pass">Forgot Password or Username?</a>
            </div>
        </div>
        <div ng-if="auth.isFormError" class="wrn-msg text-highlight align-left"> {{auth.FormError}}</div>
        <div>
            <p class="text-light-gray">
                <span class="text-med-black">Start with a new account </span><a class="highlight-link" ui-sref="auth.signup" ng-click="auth.resetForm()"> Sign Up</a>
            </p>
        </div>
    </form>
</div>
