<div ng-if="!auth.isMail">
    <div class="col s12 m6 offset-m3 left">
        <ul class="align-left">
            <li>
                <br>
                <center>
                    <span class="text-highlight">Password reset link has been sent to your registered email address. Please check your email inbox.</span>
                </center>
            </li>
            <li>
                <br>
                <center>
                    <a ui-sref="auth.login" class="waves-effect waves-dark btn ev-btn-dark w-300" type="submit" value="Submit" ng-click="auth.resetForm()">Back to Log In</a>
                </center>
            </li>
        </ul>
    </div>
</div>
<div ng-if="auth.isMail">
    <div class="col s12 m6 offset-m3 left">
        <ul class="left">
            <li class="ev-horiz-list"><a ui-sref="auth.reset-password" class="light-link" ui-sref-active="active-auth" ng-click="auth.resetForm()">Enter email to reset password</a></li>
        </ul>
    </div>
    <div class="col s12 m6 offset-m3">
        <form name="resetpassForm" ng-submit="auth.resetPassword(resetpassForm.$valid)" class="reset-password" novalidate>
            <!-- email -->
            <div class="input-field align-left">
                <input type="email" id="email" class="dark-autofill" name="email" ng-model="auth.getUser.email" required>
                <span class="form-icon form-icon-dark"><i class="fa fa-envelope"></i></span>
                <label for="email">Email*</label>
                <div class="wrn-msg text-highlight" ng-messages="resetpassForm.email.$error" ng-if="resetpassForm.email.$touched || resetpassForm.$submitted">
                    <p ng-message="email">Please enter valid email address.</p>
                    <p ng-message="required">Email address is required.</p>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col s6 align-left rm-gut">
                    <button class="waves-effect waves-dark btn ev-btn-dark w-300 grad-btn grad-btn-dark" type="submit" value="Submit">Submit</button>
                </div>
                <div class="col s6 align-right right rm-gut">
                    <a ui-sref="auth.login" class="light-link fg-pass">Back to Log In</a>
                </div>
            </div>
            <div ng-if="auth.isFormError" class="wrn-msg text-highlight align-left"> {{auth.FormError}}</div>
            <div>
                <p class="text-light-gray">
                    <span class="text-med-black">Start with a new account </span><a class="highlight-link" ui-sref="auth.signup" ng-click="auth.resetForm()"> Sign Up</a> 
                </p>
            </div>
        </form>
    </div>
</div>
