<header id="header-static">
  <ul class="inline-list left-list left">
    <li class="logo">
      <img src="/assets/images/EvalAI_favicon.png" alt="">
    </li>
  </ul>
  <ul class="inline-list right-list right right-nav">
    <li>
      <a class="light-link" href="/"> Challenges</a>
    </li>
    <li>
      <a class="light-link" href="/"> News</a>
    </li>
    <li>
      <a class="light-link" href="/"> Forum</a>
    </li>
    <li>
      <a class="light-link" href="/"> Join Us</a>
    </li>
    <li class="pointer">
      ...
    </li>
  </ul>
  <div class="clear-fix"></div>
</header>
