/* Create challenge page styles */

.zip-file-title {
	margin-bottom: 20px;
	margin-left: 11px;
}

.syntax-wrn-msg {
	font-size: 1em;
}

.hr-line {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
	&:before {
		content: '';
		background: linear-gradient(to right, transparent, #818078, transparent);
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 1px;
	}
	&:after {
		content: '';
		position: relative;
		display: inline-block;
		color: black;
		padding: 0 .5em;
		line-height: 1.5em;
		color: #818078;
		background-color: #fcfcfa;
	}
}

.challenge-create-option-title {
	margin-bottom: 20px;
	margin-left: 11px;
	margin-top: 20px;
}

.wrapper {
	position: relative;
	height: 500px;
}

.vr-line {
	position: absolute;
	width: 1px;
	left: 50%;
	top: 0;
	bottom: 0;
	background: #ccc;
    z-index: 1;
}

.or-text {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
	color: #818078;
    background-color: #fcfcfa;
	z-index: 2;
}
