/* Create challenge page styles */

.zip-file-title {
	margin-bottom: 20px;
	margin-left: 11px;
}

.syntax-wrn-msg {
	font-size: 1em;
}

.hr-line {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
	&:before {
		content: '';
		background: linear-gradient(to right, transparent, #818078, transparent);
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 1px;
	}
	&:after {
		content: '';
		position: relative;
		display: inline-block;
		color: black;
		padding: 0 .5em;
		line-height: 1.5em;
		color: #818078;
		background-color: #fcfcfa;
	}
}

.create-card {
	padding-bottom: 20px;
}
