/* Error-404 styles */

.logo{
  padding-top: 100px;
  width: 100%;
}

.link {
  width: 100%;
}

.error {
  display: block;
  margin: 0 auto;
}

.home {
  position: absolute;
  text-align: center;
  font-size: 20px;
  left: 0;
  width: 100%;
}
