/* Error-404 styles */

.wrapper {
  position: absolute;
  text-align: center;
  width:100% ;
  left: 0;
  margin-top: 100px;

} 

.error_container {
  font-family: "Roboto";
  font-style: normal;
}

.error {
  font-size: 100px;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  font-size: 20px;
}

.home {
  margin-top: 50px;
  font-size: 30px;
  font-family: "Roboto";
}
