/* Error-500 styles */

.ise-wrapper {
  position: absolute;
  text-align: center;
  width:100% ;
  left: 0;
  margin-top: 100px;

} 

.ise-error-container {
  font-family: "Roboto";
  font-style: normal;
}

.ise-error {
  font-size: 100px;
  font-weight: bold;
}

.ise-message {
  margin-top: 10px;
  font-size: 20px;
}

.ise-home {
  margin-top: 50px;
  font-size: 30px;
  font-family: "Roboto";
}
