/* footer styles */

.ev-footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

.dashboard-footer {
    width: 100%;
    bottom: 0;
    left: 0;
}
#darksidebox {
    color: white;
}


/* media queries */

@media only screen and(min-width:768px) and(max-width:$med-screen) {
    .dashboard-footer {
        width: 100%;
        padding-left: 220px;
    }
}
html[data-theme= 'dark'] {
    #darksidebox {
        color: #121212;
    }
    .white-text {
        color: #121212 !important;
    }
    #footercolor {
        background: #fff;
    }
    .footershadow {
        box-shadow: 6px -1px 9px $super-light-shadow;
    }
}

