/* header styles */

.ev-header-overflow {
	margin-top: -2px;	
}

.med-link {
    i {
        height: auto;
    }
}

.logo {
	margin-top: 7px;
}

.evalai-logo {
	height: auto;
	width: 100px;
}

.evalai-header-logo {
	width: 30px;
	height: auto;
	margin-top: 20px;
}
