/* header styles */

.ev-header-overflow {
    margin-top: -2px;
}

.med-link {
    i {
        height: auto;
    }
}


/*landing page logo*/

a.evalai-logo {
    width: 60px;
    img {
        width: 100%;
        vertical-align: middle;
    }
}


/*dashboard logo*/

a.dashboard-evailai-logo {
    width: 110px;
    img {
        width: 100%;
        vertical-align: middle;
    }
}
