/* Styles for leaderboard page */

.horizontal-scroll {
	overflow-x: auto;
}


#baseline-badge {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	float: right;

}

#baseline-badge-desc {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	margin-left: 0px;
	float: none;

}

.sort-leaderboard-switch {
	vertical-align: middle;
	display: inline-block;
}
