/* Styles for leaderboard page */

.horizontal-scroll {
	overflow-x: auto;
}


#baseline-badge {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	float: right;

}

#baseline-badge-desc {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	margin-left: 0px;
	float: none;

}

.highlightLeaderboard {
	border-color: #fff3e0;
	box-shadow: 0 0 0 0.2em #ffcc80 !important;
	border: 1px solid #d1d5da;
	border-radius: 3px;
}

.sort-leaderboard-switch {
	vertical-align: middle;
	display: inline-block;
}

.complete-leaderboard {
	vertical-align:top;
}
