/* Styles for leaderboard page */

.horizontal-scroll {
	overflow-x: auto;
}


#baseline-badge {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	float: right;

}

#baseline-badge-desc {
	font-weight: 300;
	min-width: 0rem;
	font-size: 16px;
	margin-left: 0px;
	float: none;

}

.highlightLeaderboard {
	border-color: #fff3e0;
	box-shadow: 0 0 0 0.2em #ffcc80 !important;
	border: 1px solid #d1d5da;
	border-radius: 3px;
}

.sort-leaderboard-switch {
	vertical-align: middle;
	display: inline-block;
}

.baseline-tag {
	margin-right: 4%;
}
.complete-leaderboard {
	vertical-align:top;
}

span.badge.partial-evaluation {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  float: left;
  box-sizing: border-box;
}
