.org-link {
    margin-right: 30px;
}

.main-header {
    position: relative;
    z-index: 999;
    width: 100%;
    nav {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 0 0 #000;
        position: fixed;
        top: 100px;
        left: 0;
        padding: 0 100px;
        transition: all 0.1s ease-in-out;
        a.main-header-link {
            color: $med-black;
            font-weight: $rob-reg;
            transition: all 0.2s ease-in-out;
        }
        a.main-header-link:hover {
            color: $link-hover-dark;
            background-color: rgba(0, 0, 0, 0);
        }
        a.light-link {
            color: $med-link;
            transition: all 0.2s ease-in-out;
        }
        a.light-link:hover {
            color: $light-link;
        }
        a.active {
            color: $highlight;
            background-color: rgba(0, 0, 0, 0);
        }
    }
    nav.grad-shadow-1 {
        box-shadow: 0 0 10px $light-black;
    }
}
.announcement-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1000;
    background-color: $dark-gray;
    color: $light-gray;
    text-align: center;

    display: flex;
    justify-content: center;
    /* horizontally center */
    align-items: center;
    /* vertically center */

    .close-banner-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background: transparent;
        border: none;
        color: $light-gray;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        transition: all 0.2s ease-in-out;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        &:focus {
            outline: none;
        }
    }
}

@media only screen and (max-width: $med-screen) {
    .main-header {
        nav {
            padding: 0px 30px;
        }
    }
    .side-nav .userView{
        padding: 28px;
    }
}
