/* Styles for View all submissions page */

.all-submission-table {
	width: 160%;
}

.all-submission-table-scroll {
	overflow-x: scroll;
}

.flex-display {
	display: flex;
}

.flex-space-between {
	justify-content: space-between;
}

.width-100 {
	width: 100%;
}

.width-0 {
	width: 0;
}

.mh-4 {
	margin: 0 4px;
}

.m-0 {
	margin: 0;
}
