/* Styles for View all submissions page */

.all-submission-table {
	width: 160%;
}

.all-submission-table-scroll {
	overflow-x: scroll;
}

.all-submission-card {
	position: relative;
	display: block;
	background-color: #fff;
	width: 100%;
	height: auto;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #dedede;
	margin: 10px 0;
}