/* Styles for View all submissions page */

.all-submission-table {
	width: 160%;
}

.all-submission-table-scroll {
	overflow-x: scroll;
}

/* Highlight style for submission rows in My Submissions tab */
.highlightSubmissionEntry {
    border-color: #fff3e0;
    box-shadow: 0 0 0 0.2em #ffcc80 !important;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    background-color: #f2f2f2;
}
