#toast-container {
	top: 20px;
	right: 0;
	> div {
		opacity: 1;
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		border-radius: 3px 0px 0px 3px;
		box-shadow: 0 0 6px #000000;
	}
}
