.profile-sidebar {
    position: fixed;
    z-index: 9;
    font-size: 14px;
    /*padding:0px  30px;*/
    min-width: 200px;
    min-height: 100vh;
    background-color: $dust-gray;
    top: 0;
    left: -200px;
    text-align: center;
    color: #fff;
    /*transition:all 0.2s ease-in-out;*/
    ul {
        margin-top: 20px;
        text-align: left;
        li {
            padding: 10px 0px;
        }
    }
    input[type="checkbox"] + label {
        font-size: 12px;
    }
}

.token-width {
    width: 500px;
}

.profile-edit-group {
    margin-top: 60px;
}

.pass-title {
    margin-bottom: 30px;
}

.back-profile-group {
    margin-top: 60px;
}

img.profile-pic {
    height: 80px;
}

.user-info {
    li {
        margin-bottom: 36px;
    }
    margin-bottom: 20px;
}

.user-urls {
    li {
        margin-bottom: 33px;
    }
    margin-bottom: 20px;
}

.w-content {
    width: fit-content;
}

.ev-md-container-custom {
    padding: 20px 30px 0px 30px;
}

.ev-md-container-ui {
    padding: 0px 40px 40px 40px;
}

.ev-md-container {
    padding: 40px 40px 10px 40px;
}
