/* Styles for Submission page */

.remaining-submission-clock {
	padding-top: 55px;
}

.time {
	position: static;
}

.rm-overflow-y {
	overflow-y: hidden;
}

.show-count {
	background: $dark-gray;
	text-align: center;
	color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 3px 3px 3px 3px;
	font-weight: 300;
	transition: all 0.2s ease-in-out;	
}

.padding-10 {
	padding: 10px;
}

.add-line-height {
	line-height: 36px;
}

.phase-container ul:not(.browser-default) li {
	list-style-type: none;
}

li {
	margin-bottom: 1.5%;
  }
  
  li:last-child {
   margin-bottom: 0px;
  }

code {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 300;
	background:#eff0f1; border:#eff0f1 dashed 1px; padding:6px;
	border-radius: 10px;
}

.code-btn {
	height: 100% !important;
	padding: 0 0.5rem !important;
	line-height: 200% !important;
}

.dashed-link {
	border-bottom: 1px orange dashed;
}

.update-submission-visibility-card {
    padding: 20px 20px 0px 20px;
}

.submission-options {
    margin-left: 10px;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: black;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: black;
}

md-radio-button .md-off {
    width: 16px;
    height: 16px;
}

md-radio-button .md-on {
    width: 16px;
    height: 16px;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    width: 16px;
    height: 16px;
}

.color-orange {
	color: #ffaf4b;
}
