$rob-light: 200;
$rob-med: 300;
$rob-reg: 400;
$rob-bold: 600;

$light-gray: #9ca3be;
$med-gray: #3c3e49;
$dark-gray: #252833;
$light-black: #9d9d9d;
$med-black: #4d4d4d;

$light-link: #fff;
$med-link: #9ca3be;

$link-hover-dark: #d18e3b;
$link-hover-light: #fff;
