/*main container style*/
.web-container {
    width: calc(100vw - 220px);
    float: right;
}
#sidenav-overlay{
    z-index:1;
}

/*media queries*/
@media only screen and (max-width: $med-screen) {
    .web-container {
        width: 100%;
    }
}
