/*main container style*/
$break-small: 600px;
.web-container {
    width: calc(100vw - 220px);
    float: right;
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
#sidenav-overlay{
    z-index:1;
}
