option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    EC2KeyName: cloudcv_2016
  aws:ec2:vpc:
    VPCId: "vpc-854550e2"
    Subnets: "subnet-3600dc1b"
    ELBSubnets: "subnet-3000dc1d"
    DBSubnets: "subnet-3000dc1d, subnet-e26bbbb9, subnet-3600dc1b"