@import './variables.scss';
@import './mixins.scss';

.ev-submission-card-body {
  padding: 10px 30px;
}

.row .row-lr-margin {
  margin-bottom: 20px;
}

.exist-team-card {
  .col-lr-pad {
    padding-left: 16px;
    padding-right: 36px;
  }
}

.remaining-submission-clock {
  padding-top: 55px;
}
