<div class="not-found-container">
	<div class="fof-wrapper">
		<div class="fof-error-container">
			<div class="fof-grad">
				<div class="fof-stars" id="star-1"></div>
				<div class="fof-stars" id="star-2"></div>
				<div class="fof-stars" id="star-3"></div>
				<div class="fof-stars" id="star-4"></div>
				<div class="fof-stars" id="star-5"></div>
				<div class="fof-stars" id="star-6"></div>
				<div class="fof-stars" id="star-7"></div>
				<div class="fof-stars" id="star-8"></div>
				<div class="fof-stars" id="star-9"></div>
				<div class="fof-stars" id="star-10"></div>
				<div class="fof-stars" id="star-11"></div>
				<div class="fof-stars" id="star-12"></div>
				<div class="owl-pic"></div>
				<div class="fof-error">
					404
				</div>
				<div class="fof-message">
					Page Not Found
				</div>
			</div>
		</div>

		<div class="fof-home">
			Maybe <a ui-sref="home" class="home-link"> eval.ai </a> is what you were looking for.
		</div>
	</div>
</div>