@import './variables.scss';

.editor-validation-message {
  color: $highlight;
  margin-bottom: 20px;
}

.buttons {
  ul {
    margin-right: 20px;
  }
}

code {
  max-width: 650px;
}

.content-instructions {
  width: 760px;
}

.cross-icon {
  float: right;
}
