@import './variables.scss';
@import './mixins.scss';

.ev-md-container {
  padding: 0px 30px 30px 30px;

  .phase-title {
    margin-bottom: 20px;
  }
}

.ev-btn {
  padding: 8px 20px;
}

.show-submission-count {
  background: #252833;
  text-align: center;
  color: white;
  padding: 2px 5px 2px 5px;
  border-radius: 3px 3px 3px 3px;
  font-weight: $fw-light;
  transition: all 0.2s ease-in-out;
}

@include screen-small-medium {
  .download-submissions {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.add-line-height {
  line-height: 51px;
}

.result-wrn {
  margin-top: 15px;
  margin-bottom: 20px;
}

.marker {
  margin-right: 10px;
}

.pad-top {
  padding-top: 40px;
  padding-bottom: 10px;

  .show-on-leaderboard {
    color: rgb(169, 169, 169);
    font-size: 14px;
    font-weight: $fw-regular;
    line-height: 1.25;
  }
}

.cbx-label {
  margin-left: 55px;
  margin-right: 55px;
}

.cbx:checked~.cbx-label {
  background: #4caf50;
}

.collapsible-table {
  overflow: auto;  
}

tr.detail-row {
  height: 0;
  overflow: hidden;
}

.mat-table{
  border-collapse: separate;
}

.element-row td {
  border-bottom-width: 0;
}

.expanded-row td {
  border-bottom-width: 1px;
}

.cell-outside {
  padding: 8px;
  color:rgba(0, 0, 0, 0.87);
}

tr.element-row:not(.expanded-row):hover {
  cursor: pointer;
  background: $grad-light-black;
}

tr.element-row.expanded-row {
  cursor: pointer;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
  border-bottom-width: 0;
}

.expanded-row {
  margin-top: 24px;
  margin-bottom: 14px;
}

.elements {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.elements-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;

  padding-right: 80px;
}

.elements-status {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;
  padding: 0 20px;
}

.elements-action {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.element {
  margin-bottom: 10px;
}

.element-description {
  margin-left: 10px;
}

.element-description-attribution {
  opacity: 0.5;
}

@include screen-small {
  .elements {
    flex-direction: column;
  }

  .elements-action {
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
  }

  .elements-detail {
    border-right-style: none;
    padding-right: 0;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    padding-bottom: 20px;
  }

  .elements-status {
    padding-left: 0;
    border-right-style:none;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .element {
    display: flex;
    flex-direction: column;
  }

  .element-description {
    margin-left: 0;
  }
}
