<div class="challenge-card">
  <div class="ev-card-panel card-bt-margin">
    <div class="ev-md-container bottom-hr-line">
      <div (click)="challenge.refreshSubmissionData()" class="pointer update-page" *ngIf="challenge.showUpdate">
        <span class="text-white"
          >Page is outdated, Click to update&nbsp; <i class="fa fa-refresh text-highlight"></i
        ></span>
      </div>
      <div class="row row-lr-margin phase-title">
        <div class="col-sm-12">
          <h5 class="fw-light">My Submissions</h5>
        </div>
        <br />
        <br />
        <div class="col-sm-12">
          <span class="fw-light">My Participated Team:&nbsp;&nbsp;{{ participatedTeamName }}</span>
        </div>
      </div>
      <div class="row row-lr-margin">
        <div class="col-sm-6 col-xs-12 col-lg-6 col-lr-pad phase-select-box">
          <app-selectphase
            [phases]="filteredPhases"
            [phaseSelectionListType]="phaseSelectionListType"
            [phaseSelectionType]="phaseSelectionType"
            [phaseSelected]="phaseSelected()"
            #phaseselect
          ></app-selectphase>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-6 col-lr-pad">
          <div class="col-md-2 col-sm-2 col-xs-6 col-lg-6 col-lr-pad download-submissions">
            <mat-form-field>
              <mat-label>File</mat-label>
              <mat-select [(ngModel)]="fileSelected" class="rm-margin">
                <mat-option *ngFor="let key of fileTypes" value="{{ key.name }}">
                  {{ key.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6 col-lg-6 col-lr-pad download-submissions">
            <a class="waves-effect waves-dark btn ev-btn-dark fw-light fs-16" (click)="downloadSubmission()">Download </a>
          </div>
        </div>
      </div>
        <div class="row row-lr-margin" *ngIf="selectedPhase">
          <div class="col-sm-6 col-xs-12 col-lg-6 col-lr-pad">
              <span class="fw-light">
                Total Submissions Done:
            </span>
            <span class="show-submission-count text-highlight">
              {{ submissionCount || 0 }}
            </span>
          </div>
        </div>
      <!-- <br> -->
    </div>
    <div
      class="ev-card-body exist-team-card"
      *ngIf="!isPhaseSelected || (paginationDetails.showPagination == false && isPhaseSelected)"
    >
      <div class="row row-lr-margin">
        <div class="col-md-12 col-lr-pad">
          <div *ngIf="!isPhaseSelected" class="result-wrn fw-light">No phase selected.</div>
          <div *ngIf="paginationDetails.showPagination == false && isPhaseSelected" class="result-wrn">
            No results found.
          </div>
        </div>
      </div>
    </div>
    <div class="ev-card-body collapsible-table">
      <table
        mat-table
        *ngIf="paginationDetails.showPagination == true && submissions.length > 0"
        [dataSource]="submissions"
        multiTemplateDataRows
        class="mat-elevation-z0 ev-md-container"
      >
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay; let i = index">
          <th class="cell-outside fw-regular fs-16" mat-header-cell *matHeaderCellDef>{{ columnsHeadings[i] }}</th>
          <td class="cell-outside fw-light" mat-cell *matCellDef="let element">
            <span *ngIf="column === 's_no'" class="{{ element[column] }} fs-12"> {{ element[column] }}</span>
            <span *ngIf="column === 'submitted_at'" class="{{ element[column] }} fs-12"> {{ element[column] | date: 'medium' }}</span>
            <span *ngIf="element[column] !== 'None' && column === 'execution_time'" class="{{ element[column] }} fs-12"> {{ element[column] }} sec</span>
            <span *ngIf="element[column] === 'None' && column === 'execution_time'" class="{{ element[column] }} fs-12"> {{ 'N/A' }}</span>
            <a
              target="_blank"
              class="blue-text"
              [href]="element[column]"
              *ngIf="element[column] !== null && column !== 'status' && column !== 's_no' && column !== 'execution_time' && column !== 'submitted_at'"
            >
              <i class="fa fa-external-link"></i>
              Link
            </a>
            <span [ngClass]="element[column]" *ngIf="element[column] !== null && column === 'status'" class="fs-12">{{
              element[column] | uppercase
            }}</span>
            <span *ngIf="element[column] === null">{{ 'None' }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div
              class="elements"
              [class.expanded-row]="element == expandedElement"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
            >
              <div class="elements-detail">
                <div class="element">
                  <span class="element-description-attribution">Team Name</span>
                  <span class="fw-light element-description"> {{ element.participant_team_name }} </span>
                </div>
                <div class="element">
                  <span class="element-description-attribution">Method Name</span>
                  <span class="fw-light element-description"> {{ element.method_name }} </span>
                </div>
                <div class="element">
                  <span class="element-description-attribution">Method Description</span>
                  <span class="fw-light element-description"> {{ element.method_description }} </span>
                </div>
                <div class="element">
                  <span class="element-description-attribution">Project URL</span>
                  <span class="fw-light element-description"> {{ element.project_url }} </span>
                </div>
              </div>

              <div class="elements-status">
                <div class="element">
                  <span class="element-description-attribution">Publication URL</span>
                  <span class="fw-light element-description"> {{ element.publication_url }} </span>
                </div>
                <div class="element">
                  <span class="element-description-attribution">Status</span>
                  <span class="fw-light element-description fs-12" [ngClass]="element.status">
                    {{ element.status | uppercase }}
                  </span>
                </div>
              </div>
              <div class="elements-action">
                <div class="element">
                  <mat-checkbox
                    [checked]="element.is_public"
                    [disabled]="element.status === 'failed' || element.status === 'cancelled' || !selectedPhase['leaderboard_public']"
                    (change)="changeSubmissionVisibility(element.id, element.is_public)"
                  >
                    <span class="fs-14 w-300">Show on leaderboard</span>
                  </mat-checkbox>
                </div>
                <div class="element" *ngIf="isChallengeHost">
                  <mat-checkbox
                    [checked]="element.is_baseline"
                    [disabled]="element.status !== 'finished'"
                    (change)="changeBaselineStatus(element.id, element.is_baseline)"
                  >
                    <span class="fs-14 w-300">Baseline</span>
                  </mat-checkbox>
                </div>
                <div class="element fs-14 pointer">
                  <a class ="w-300" (click)="editSubmission(element)"><i class="fa fa-pencil"></i> Edit submission detail &nbsp; </a>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>

    <div class="pagination" *ngIf="paginationDetails.showPagination && submissions.length > 0">
      <div class="row row-lr-margin">
        <div class="col-sm-12 left-align col-lr-pad">
          <button
            [ngClass]="paginationDetails.isPrev"
            class="btn-floating btn-pagination waves-effect waves-light"
            (click)="loadPaginationData(paginationDetails.previous)"
          >
            <i class="fa fa-chevron-left"></i>
          </button>
          <span class="pagination-title">
            <strong class="text-med-black fw-semibold content">
              Page {{ paginationDetails.currentPage }} of {{ paginationDetails.totalPage }}
            </strong>
          </span>
          <button
            [ngClass]="paginationDetails.isNext"
            class="btn-floating btn-pagination waves-effect waves-light"
            (click)="loadPaginationData(paginationDetails.next)"
          >
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
