@import './variables.scss';
@import './mixins.scss';

.ev-pad {
  padding-left: 15px;
  padding-right: 10px;
}

.ev-card-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tnc-pad {
  padding-left: 10px;
  padding-right: 15px;
}

.challenge-card {
  padding-bottom: 0px;
  margin-bottom: -40px;
}

.terms-and-condition {
  text-align: right;
  padding-right: 0px;
}

.ev-action {
  display: flex;
  flex-direction: row;
  padding-top: 2.5px;
}

.ev-upload-action {
  margin-right: 10px;
}

@include screen-small {
  .ev-pad {
    padding-right: 15px;
  }

  .tnc-pad {
    padding-left: 15px;
  }

  .ev-card-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ev-action {
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
  }

}
