@import './variables.scss';
@import './mixins.scss';

.ev-pad {
  padding-left: 15px;
  padding-right: 10px;
}

.tnc-pad {
  padding-left: 10px;
  padding-right: 15px;
}

.challenge-card {
  padding-bottom: 0px;
  margin-bottom: -40px;
}

.terms-and-condition {
  text-align: right;
  padding-right: 0px;
}

.ev-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
}

.ev-upload-action {
  margin-right: 10px;
}

@include screen-small {
  .ev-pad {
    padding-right: 15px;
  }

  .tnc-pad {
    padding-left: 15px;
  }

  .ev-action {
    margin-top: 10px;
    padding-left: 15px;
    display: inline-block;
  }

}
