<div class="challenge-card">
  <div class="row">
    <div class="ev-pad">
      <div class="ev-md-container ev-card-panel">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content">
          <h5 class="fw-light">Evaluation Criteria</h5>
          <div class="evaluation-details fs-16 fw-light" id="challenge-evaluation"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ev-pad">
      <div class="ev-md-container ev-card-panel">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content">
          <h5 class="fw-light">Terms And Conditions</h5>
          <div class="terms-and-conditions fs-16 fw-light" id="challenge-tnc"></div>
        </div>
      </div>
    </div>
  </div>
</div>
