@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.get-involved-container {
  overflow-x: hidden;
  * {
    color: $gray-darker;
  }
  hr {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .get-involved-title {
    font-size: $fs-24;
    margin-top:50px;
  }
  .get-involved-description {
    font-size: $fs-16;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .get-involved-section {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
    div {
      .get-involved-section-title {
        font-size: $fs-18;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 100px;
      }
      .get-involved-section-body {
        font-size: $fs-16;
        text-align: left;
        a {
          color: $red-light;

          transition: all 0.2s ease-in-out;
          &:hover {
            color: $red-dark;
          }
        }
      }
    }

    img {
      width: 100%;
      padding: 30px;
    }
  }
  .empty-space {
    padding-bottom: 50px;
  }
}


@include screen-medium {
  .get-involved-section {
    div {
      .get-involved-section-title {
        margin-top: 50px;
      }
    }
  }
}

@include screen-small {

  .get-involved-container {
    hr {
      margin-left: 30px;
      margin-right: 30px;
    }
    .get-involved-description {
      padding-left: 30px;
      padding-right: 30px;
    }
    .get-involved-section {
      padding-left: 30px;
      padding-right: 30px;
      div {
        .get-involved-section-title {
          margin-top: 30px;
        }
      }
      img {
        padding: 10px;
      }
    }
  }
}
