:host li {
  margin: 20px 0px;
}

.hide-label {
  display: none;
}

::ng-deep .mat-select-panel mat-option.mat-option {
  height: unset;
}

::ng-deep .mat-option-text.mat-option-text {
  white-space: normal;
  overflow-wrap: break-word;
}

.private-badge {
  float: right;
  padding-right: 0px;
}
