@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.contact-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom:100px;

  .contact-form {
    position: absolute;
    left: 100px;
    z-index: 10;
    border-radius: 15px;
    background: $blue-darker;
    padding: 20px;
    width: 30%;
    text-align: center;
    margin-top: 10px;
    margin-left: 150px;
    @include box-shadow(0px, 10px, 15px, 0px, $overlay-dark);

    .contact-form-inner {
      border-radius: 15px;
      background: $blue-medium;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      height: auto;
      text-align: center;
      overflow-x: hidden;
      .contact-title {
        margin-top: 30px;
        font-size: $fs-24;
        color: white;
      }
      .contact-form-elements {
        width: 90%;
        margin: 0 auto;
        .btn {
          margin-left: 0;
        }
      }
      .contact-links {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        table {
          margin: 0 auto;
          width: 100%;
          tr {
            td {
              width: 70px;
              text-align: center;
            }
          }
        }
        img {
          height: 20px;
          width: auto;
          filter: invert(100%);
          cursor: pointer;
        }
      }
    }
    * {
      transition: all 0.2s ease;
    }
  }
  #contact-map {
    z-index: 5;
    width: 90%;
    height: 500px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    @include box-shadow(0px, 0px, 5px, 0px, $overlay-light);
  }
}

@include screen-medium {
  .contact-container {
    .contact-form {
      width: 60%;
      left: 20%;
      margin-left: 0px;
    }
  }
}

@include screen-small {
  .contact-container {
    padding-bottom: 500px;
    #contact-map {
      display: none;
    }
    .contact-form {
      width: 90%;
      left: 5%;
      margin-left: 0px;
    }
  }
}
