<section ng-if="createChallengeUsingUi.step6" class="ev-md-container">
  <div class="row">
    <div class="col s12 m9 offset-m2">
      <div class="ev-md-container ev-card-body">
        <div class="pass-title margin-left-10"><h5>Edit Details</h5></div>
        <div class="row">
          <div class="col m3">
            <div class="ev-card-panel ev-z-depth-5 ev-challenge-view eval-card">
            <div class="align-center">
              <div class="pd-5">
                Step 1
              </div>
              <div class="pd-5">
                <strong> Challenge </strong>
              </div>
              <div  class="edit-section pd-5">
                <a class="pointer" ng-click="createChallengeUsingUi.showEditChallenge()"> Edit </a>
              </div>
            </div>
            </div>
          </div>
          <div class="col m3">
            <div class="ev-card-panel ev-z-depth-5 ev-challenge-view eval-card">
            <div class="align-center">
              <div class="pd-5">
                Step 2
              </div>
              <div class="pd-5">
                <strong> Leaderboard </strong>
              </div>
              <div  class="edit-section pd-5">
                <a class="pointer"> Edit </a>
              </div>
            </div>
            </div>
          </div>
          <div class="col m3">
            <div class="ev-card-panel ev-z-depth-5 ev-challenge-view eval-card">
            <div class="align-center">
              <div class="pd-5">
                Step 3
              </div>
              <div class="pd-5">
                <strong> Challenge Phase </strong>
              </div>
              <div  class="edit-section pd-5">
                <a class="pointer"> Edit </a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m3">
            <div class="ev-card-panel ev-z-depth-5 ev-challenge-view eval-card">
            <div class="align-center">
              <div class="pd-5">
                Step 4
              </div>
              <div class="pd-5">
                <strong> Dataset Split </strong>
              </div>
              <div  class="edit-section pd-5">
                <a class="pointer"> Edit </a>
              </div>
            </div>
            </div>
          </div>
          <div class="col m3">
            <div class="ev-card-panel ev-z-depth-5 ev-challenge-view eval-card">
            <div class="align-center">
              <div class="pd-5">
                Step 5
              </div>
              <div class="pd-5">
                <strong> Challenge Phase Split </strong>
              </div>
              <div  class="edit-section pd-5">
                <a class="pointer"> Edit </a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m9 offset-m3">          
            <ul class="inline-list hide-on-med-and-down">
                <li>
                  <a ng-click="createChallengeUsingUi.showReviewScreen()" class="dark-link pointer"><strong>Review</strong></a>
                </li>
                <li>
                  <span class="text-light-black">Or</span>
                </li>
                <li>
                  <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="submit" ng-click="createChallengeUsingUi.submitForm()">Submit</button>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
