<section ng-if="createChallengeUsingUi.step6">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="ev-md-container ev-card-body">
        <div class="pass-title">Submit</div>
        <div class="col s6 m3 align-left rm-padding reg-control">
            <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="button" value="Review Form" ng-click="createChallengeUsingUi.showReviewScreen()">Review Form</button>
        </div>
        <div class="col s6 m3 reg-control rm-padding offset-m2">
            <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="submit" ng-click="createChallengeUsingUi.submitForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
