/*Color variables*/

/*Blue Shades*/
$blue-dark: #8d66f2;
$blue-light: #6a39da;

/*Orange Shades*/
$orange: #ffc149;
$yellow: #d7387f;

/*Gray Shades*/
$gray-light: #ebebeb;
$gray-medium: #d4d4d4;
$gray-dark: #9d9d9d;


/*Font sizes*/
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-36: 36px;
