/* Color variables */


/* Blue Shades */

$blue-dark: #33526e;
$blue-darker: #273e54;
$blue-light: #adb4d0;
$blue-medium: #32485d;
$blue-lighter: #2196F3;
$blue-medium-dark: #056cf0;
$wild-blue: #adb4d0;

$teal: #008081;

/* Black Shades */
$med-black: #4d4d4d;

/* Purple Shades */
$purple-medium: #a178b7;

/* Red Shades */

$red-dark: #252833;
$red-light: #eb8474;



/* Orange Shades */

$yellow: #ffaf4b;
$yellow-light: #ffecc8;
$orange-light: #ffd99a;

/* Pink Shades */
$pink-dark: #d7387f;


/* Red Shades */

$red-medium: #d9534f;
$red-light: #eb8474;
$red-dark: #bc2727;
$red-lighter: #ffefec;


/* Green Shades */

$green-medium: #28a745;


/* Gray Shades */

$gray-light: #ebebeb;
$gray-medium: #d4d4d4;
$gray-dark: #9d9d9d;
$gray-darker: #273e54;
$gray-lighter: #fafafa;
$dark-black: #4d4d4d;

/* fire shades */

$fire-left: #e0a642;
$fire-right: #de795c;


/* Overlay Shades */

$overlay-dark: rgba(0, 0, 0, 0.7);
$overlay-light: rgba(0, 0, 0, 0.2);
$overlay-lighter: rgba(0, 0, 0, 0.05);
$overlay-medium: rgba(0, 0, 0, 0.5);
$white-overlay-light: rgba(255, 255, 255, 0.2);
$white-overlay-medium: rgba(255, 255, 255, 0.5);
$white-overlay-dark: rgba(255, 255, 255, 0.7);
$blue-overlay-dark: #252833;


/* Font sizes */

$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-30: 30px;
$fs-34: 34px;
$fs-36: 36px;


/* Font weights */

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;


/* Screen Sizes */

$screen-sm: 810px;
$screen-sm-md: 992px;
$screen-md: 1130px;
