@import "styles/variables";

.ev-challenge-card {
  min-height: 415px;
}

.bg-img {
  width: 100%;
  margin: -5% auto auto;
}

.margin-top-btm {
  margin-top: 10px;
  margin-bottom: 25px;
}

.card {
  margin-left: 0;
  margin-right: 0;
}
