<div class="challenge-submissions-container">
  <div class="select-phase-container">
    <app-selectphase [phases]="filteredPhases" [phaseSelected]="phaseSelected()" #phaseselect></app-selectphase>
    <div *ngIf="!selectedPhase" class="fw-bold">
      Please select a phase.
    </div>
  </div>
    <div class="download-btn-div" *ngIf="selectedPhase">
      <span (click)='downloadSubmission()' class="btn btn-filter selected">DOWNLOAD</span>
      <span class="total-submissions"> Total submissions done: {{submissionCount}}</span>
    </div>
    <div *ngIf="submissions.length <= 0" class="submissions-empty">
      <!-- <img src="assets/images/sadcloud.png" /> -->
      <i class="fas fa-clipboard" aria-hidden="true"></i> No Results..
    </div>
    <div class="submission-table-div" *ngIf="submissions.length > 0">
    <table class="submission-table table-light">
      <thead>
        <tr>
          <th><div>Team Name</div></th>
          <th><div>Method Name</div></th>
          <th><div>Method Description</div></th>
          <th><div>Project Url</div></th>
          <th><div>Publication Url</div> </th>
          <th><div>Status</div></th>
          <th><div>Execution Time (sec.)</div></th>
          <th><div>Submitted File</div></th>
          <th><div>Result File</div></th>
          <th><div>Stdout File</div></th>
          <th><div>Stderr File</div></th>
          <th><div>Submitted At</div></th>
          <th *ngIf="selectedPhase['leaderboard_public']"><div>Show on Leaderboard</div></th>
          <th><div>Edit</div></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of submissions" class="result-val" class="pointer" [routerLink]="routerPublic.url.split('/').length == 6 ? ['../' + key.submitted_at] : [key.submitted_at]" [class.highlight] = "key.is_highlighted">
          <td><div>{{key.participant_team_name}}</div></td>
          <td *ngIf="key.method_name != ''"><div>{{key.method_name}}</div></td>
          <td *ngIf="key.method_name == ''"><div>None</div></td>
          <td *ngIf="key.method_description != ''"><div>{{key.method_description}}</div></td>
          <td *ngIf="key.method_description == ''"><div>None</div></td>
          <td *ngIf="key.project_url != ''"><div>{{key.project_url}}</div></td>
          <td *ngIf="key.project_url == ''"><div>None</div></td>
          <td *ngIf="key.publication_url != ''"><div>{{key.publication_url}}</div></td>
          <td *ngIf="key.publication_url == ''"><div>None</div></td>
          <td class="val-style capitalize red-dark"><div>{{key.status}}</div></td>
          <td class="align-center"><div>{{key.execution_time}}</div></td>
          <td><div><a href="{{key.input_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></div></td>
          <td *ngIf="key.submission_result_file"><div><a href="{{key.submission_result_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></div></td>
          <td *ngIf="!key.submission_result_file"><div>None</div></td>
          <td *ngIf="key.stdout_file"><div><a href="{{key.stdout_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></div></td>
          <td *ngIf="!key.stdout_file"><div>None</div></td>
          <td *ngIf="key.stderr_file"><div><a href="{{key.stderr_file}}" target="_blank" class="blue-text"><i class="fas fa-external-link-square-alt"></i> Link</a></div></td>
          <td *ngIf="!key.stderr_file"><div>None</div></td>
          <td><div>{{key.submitted_at | date:'medium'}}</div></td>
          <td *ngIf="selectedPhase['leaderboard_public']" class="center"><div>
            <input [checked]="key.is_public" *ngIf="key.status == 'finished'" type="checkbox" id="isPublic{{ key.id }}" (change)="changeSubmissionVisibility(key.id, key.is_public)" class="cbx hidden"/>
            <label for="isPublic{{ key.id }}" class="cbx-label"></label>
            <div *ngIf="key.status !== 'finished'" class="center"> N/A </div></div>
          </td>
          <td><div><a (click)="editSubmission(key)"><i class="fas fa-pencil-alt"></i></a></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
