@import './variables.scss';
@import './mixins.scss';

.ev-md-container {
  padding-bottom: 0px;
  .phase-title {
    margin-bottom: 20px;
  }
}

.show-submission-count {
  background: #252833;
  text-align: center;
  color: white;
  padding: 2px 5px 2px 5px;
  border-radius: 3px 3px 3px 3px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

@include screen-small-medium {
  .download-submissions {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.add-line-height {
	line-height: 51px;
}

.result-wrn {
  margin-top: 15px;
  margin-bottom: 20px;
}

table {
  width: 160% !important;
}

.marker {
  margin-right: 10px;
  font-size: 20px;
}

.pad-top {
  padding-top: 40px;
  padding-bottom: 10px;
  .show-on-leaderboard {
    color: rgb(169, 169, 169);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}

.cbx-label {
  margin-left: 55px;
  margin-right: 55px;
}

.cbx:checked ~ .cbx-label {
  background: #4CAF50;
}
