.main-title {
  margin-bottom: 0px;
  background: -webkit-linear-gradient(#f5ac28, #e07e7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
}

.btn {
  font-size: 1.2rem;
  padding-top:.5%;
  height: 45px;
}

.text-dark-black {
  font-size: 3rem;
}

