<footer class="ev-md-container dashboard-footer ev-dark-bg">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">EvalAI</h5>
                <p class="text-light-gray">Evaluating state of the art in AI</p>
                <ul class="inline-list">
                    <li><a class="text-light-gray" href="https://github.com/Cloud-CV/EvalAI" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a class="text-light-gray" href="https://twitter.com/project_cloudcv" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col l4 offset-l0 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="text-light-gray" ui-sref="about-us">About Us</a></li>
                    <li><a class="text-light-gray" ui-sref="contact-us">Contact Us</a></li>
                    <li><a class="text-light-gray" ui-sref="our-team">Our Team</a></li>
                    <li><a class="text-light-gray" ui-sref="get-involved">Get Involved</a></li>
                    <li><a class="text-light-gray" ui-sref="privacy_policy">Privacy Policy</a></li>
                    <li><a class="text-light-gray" href="http://cloudcv.org">CloudCV Website</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Stats</h5>
                <ul>
                    <li>
                       <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/Cloud-CV/EvalAI" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Cloud-CV/EvalAI on GitHub">Star</a>
                    </li>
                    <li>
                    <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/Cloud-CV/EvalAI/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork Cloud-CV/EvalAI on GitHub">Fork</a>
                    </li>
               </ul>
            </div>
        </div>
    </div>
</footer>
