<div class="dyn-header padding-lr-header">
  <nav>
    <div class="nav-wrapper">

      <a class="light-link org-link" href="http://www.cloudcv.org/">www.cloudcv.org</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>

      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-dark" ui-sref="home" ui-sref-active="active">Home</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="competitions" ui-sref-active="active">Competitions</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="auth.login" ui-sref-active="active">LogIn</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="signup" ui-sref-active="active">SignUp</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a><span class="white-text name">EvalAI</span></a>
            <a href="http://www.cloudcv.org/"><span class="w-300 text-light-gray">www.cloudcv.org</span></a>
          </div>
        </li>
        <li><a class="waves-effect waves-dark" ui-sref="home" ui-sref-active="active"><i class="fa fa-home"></i>Home</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="competitions" ui-sref-active="active"><i class="fa fa-thumb-tack"></i>Competitions</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="auth.login" ui-sref-active="active"><i class="fa fa-sign-in"></i>LogIn</a></li>
        <li><a class="waves-effect waves-dark" ui-sref="signup" ui-sref-active="active"><i class="fa fa-sign-out"></i>SignUp</a></li>
      </ul>

    </div>
  </nav>
</div>
