<footer class="ev-md-container ev-footer ev-dark-bg">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">EvalAI</h5>
                <p class="text-light-gray">Building platforms for reproducible AI research</p>
                    <ul class="inline-list">
                        <li><a class="text-light-gray" href="https://github.com/Cloud-CV/EvalAI" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a class="text-light-gray" href="https://twitter.com/project_cloudcv" target="_blank"><i class="fa fa-twitter"></i></a></li>
<!--                         <li><a class="text-light-gray" href="#!"><i class="fa fa-facebook" target="_blank"></i></a></li>
 -->                    </ul>
                <p><a class="text-white">© CloudCV 2016-2017</a></p>
            </div>
            <div class="col l4 offset-l0 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="text-light-gray" href="#!">Blog</a></li>
                    <li><a class="text-light-gray" ui-sref="about-us">About Us</a></li>
                    <li><a class="text-light-gray" ui-sref="contact-us">Contact Us</a></li>
                    <li><a class="text-light-gray" ui-sref="our-team">Our Team</a></li>
                    <li><a class="text-light-gray" ui-sref="terms_and_conditions">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Stats</h5>
                <ul>
                    <li>
                        <a class="text-light-gray" ng-href="{{githubStats.htmlUrl}}">
                            <div class="chip">
                                <i class="fa fa-code-fork"></i>
                                <strong>{{githubStats.forksCount || 0}}</strong> Forks
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-light-gray" ng-href="{{githubStats.htmlUrl}}">
                            <div class="chip">
                                <i class="fa fa-star"></i>
                                <strong>{{githubStats.starsCount || 0}}</strong> Stars
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
