<div class="ev-modal-overlay" id="modal-overlay"></div>

<div class="ev-modal" id="modal">
  <div class="ev-modal-guts">
    <div class="ev-modal-header">
      <h4> Password successfully changed </h4>
    </div>
    <div class="ev-modal-body">
      <p> Do you want to continue or log out from current session?</p>
    </div>
    <div class="ev-modal-footer">
      <button class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14" ng-click="logout()">Login again</button>
      <button class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14" ng-click="modalc.close()">Stay</button>
    </div>
  </div>

</div>
