<div class="col s12 m4 l4 ">
    <div class="rocket-container">
        <div class="rocket-anim">
            <img src="dist/images/rocket.gif">
        </div>
        <div class="cloud-1">
            <img src="dist/images/cloud-1.png">
        </div>
        <div class="cloud-2">
            <img src="dist/images/cloud-2.png">
        </div>
        <div class="cloud-3">
            <img src="dist/images/cloud-1.png">
        </div>
        <div class="cloud-4">
            <img src="dist/images/cloud-4.png">
        </div>
        <div class="cloud-2 bird-anim">
            <img src="dist/images/bird.gif">
        </div>
    </div>
</div>
