<div class="sim-header ev-fixed white ">
  <nav class="transparent ev-z-depth-5">
    <div class="nav-wrapper padding-sm-lr-header">
      <a href="#" data-activates="sidebarToggle" class="button-collapse text-med-gray hide-on-med-and-up"><i class="fa fa-bars"></i></a>
		<ul class="left ">
			<li class="text-med-gray"><strong></strong>{{pageTitle}}</li>
		</ul>
		<ul class="right">
			<li><a class="waves-effect waves-dark med-link" ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
			<li><a class="waves-effect waves-dark med-link" href="http://www.cloudcv.org/"><i class="fa fa-link"></i> www.cloudcv.org</a></li>
		</ul>
    </div>
  </nav>
</div>
