<div class="sim-header ev-fixed white ">
    <nav class="transparent ev-z-depth-5">
        <div class="nav-wrapper padding-sm-lr-header">
            <a href="#" data-activates="sidebarToggle" class="button-collapse text-med-gray hide-on-med-and-down"><i class="fa fa-bars"></i></a>
            <ul class="left ">
             <li class="text-med-gray"><a class="logo" ui-sref="home"><img src="dist/images/evalai-logo.png" class="evalai-logo"></a></li>
                <!-- <li class="text-med-gray">{{pageTitle}}</li> -->
            </ul>
            <ul class="right">
                <li class="text-med-gray"><a class="waves-effect waves-dark dark-link ev-header-overflow" ui-sref="web.profile"> <span class="hide-on-small-only"><span class="text-light-black">Hi</span> {{web.name}} </span></a></li>

              
                <li>
                     <div class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" ng-click="logout()">Logout</div>
                </li>
            </ul>
        </div>
    </nav>
</div>
