<app-header-static></app-header-static>
<div class="container-top container privacy-container">
  <div class="privacy-nav-container col-lg-2 col-md-3 col-sm-5 col-xs-5">
    <ul>
      <li class="privacy-nav scroll-selected" (click)="scroll($event);">
        What personal information do we collect ?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        When do we collect information?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        How do we use your information?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        How do we protect your information?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Do we use 'cookies'?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Why do we use cookies?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        What happens if users disable cookies in their browser?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Third-party disclosure
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Third-party links
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Google
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        What have we implemented?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Opting out
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        California Online Privacy Protection Act
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        CalOPPA Terms
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        How does our site handle Do Not Track signals?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Does our site allow third-party behavioral tracking?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Fair Information Practices
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        What responsive actions will we take, should a data breach occur?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        CAN SPAM Act
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Why do we collect your email address?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Why do we agree to, for being in accordance with CANSPAM?
      </li>
      <li class="privacy-nav" (click)="scroll($event);">
        Contacting Us
      </li>
    </ul>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 privacy-empty-container">&nbsp;</div>
  <div class="privacy-content col-lg-9 col-md-8 col-sm-12 col-xs-12">

    <img class="scroll-to-top" *ngIf="visible" src="assets/images/arrow_scroll.png" (click)="scrollToTop();" />
    <div class="privacy-title align-center" id="privacy-policy-title">Privacy Policy</div>
    <p class="privacy-section-content">
      This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
    </p>
    <div class="privacy-section-title">
      What personal information do we collect ?
    </div>
    <p class="privacy-section-content">
      When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address or other details to help you with your experience.
    </p>
    <div class="privacy-section-title">
      When do we collect information?
    </div>
    <p class="privacy-section-content">
      We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site.
    </p>
    <div class="privacy-section-title">
      How do we use your information?
    </div>
    <div class="privacy-section-content">
      <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
      <ul>
        <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
        <li>To improve our website in order to better serve you.</li>
        <li>To allow us to better service you in responding to your customer service requests.</li>
        <li>To ask for ratings and reviews of services or products</li>
      </ul>
    </div>
    <div class="privacy-section-title">
      How do we protect your information?
    </div>
    <p class="privacy-section-content">
      We do not use vulnerability scanning and/or scanning to PCI standards. We only provide articles and information. We never ask for credit card numbers. We do not use Malware Scanning. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. All transactions are processed through a gateway provider and are not stored or processed on our servers.
    </p>
    <div class="privacy-section-title">
      Do we use 'cookies'?
    </div>
    <p class="privacy-section-content">
      Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and update the status of the submissions. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
    </p>
    <div class="privacy-section-title">
      Why do we use cookies?
    </div>
    <div class="privacy-section-content">
      <ul>
        <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
      </ul>
      <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
    </div>
    <div class="privacy-section-title">
      What happens if users disable cookies in their browser?
    </div>
    <p class="privacy-section-content">
      If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some of the features that make your site experience more efficient and may not function properly.
    </p>
    <div class="privacy-section-title">
      Third-party disclosure
    </div>
    <p class="privacy-section-content">
      We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
    </p>
    <div class="privacy-section-title">
      Third-party links
    </div>
    <p class="privacy-section-content">
      We do not include or offer third-party products or services on our website.
    </p>
    <div class="privacy-section-title">
      Google
    </div>
    <p class="privacy-section-content">
      We use Google AdSense Advertising on our website.
    </p>
    <p class="privacy-section-content">
      Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
    </p>
    <div class="privacy-section-title">
      What have we implemented?
    </div>
    <div class="privacy-section-content">
      <ul>
        <li>Demographics and Interests Reporting</li>
      </ul>
      <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
    </div>
    <div class="privacy-section-title">
      Opting out
    </div>
    <p class="privacy-section-content">
      Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
    </p>
    <div class="privacy-section-title">
      California Online Privacy Protection Act
    </div>
    <p class="privacy-section-content">
      CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those inpiduals or companies with whom it is being shared. - See more at:
      <a class="blue-text" href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>.
    </p>
    <div class="privacy-section-title">
      CalOPPA Terms
    </div>
    <p class="privacy-section-content">
      Users can visit our site anonymously.
    </p>
    <p class="privacy-section-content">
      Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
    </p>
    <p class="privacy-section-content">
      Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
    </p>
    <div class="privacy-section-content">
      <p>You will be notified of any Privacy Policy changes:</p>
      <ul>
        <li>On our Privacy Policy Page</li>
      </ul>
    </div>
    <div class="privacy-section-title">
      How does our site handle Do Not Track signals?
    </div>
    <p class="privacy-section-content">
      We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
    </p>
    <div class="privacy-section-title">
      Does our site allow third-party behavioral tracking?
    </div>
    <p class="privacy-section-content">
      It's also important to note that we do not allow third-party behavioral tracking.
    </p>
    <div class="privacy-section-title">
      Fair Information Practices
    </div>
    <p class="privacy-section-content">
      The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
    </p>
    <div class="privacy-section-title">
      What responsive actions will we take, should a data breach occur?
    </div>
    <div class="privacy-section-content">
      <p>We will notify you via email</p>
      <ul>
        <li>Within 7 business days</li>
      </ul>
      <p>We also agree to the Inpidual Redress Principle which requires that inpiduals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that inpiduals have enforceable rights against data users, but also that inpiduals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
    </div>
    <div class="privacy-section-title">
      CAN SPAM Act
    </div>
    <p class="privacy-section-content">
      The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
    </p>
    <div class="privacy-section-title">
      Why do we collect your email address?
    </div>
    <div class="privacy-section-content">
      <ul>
        <li>Send information, respond to inquiries, and/or other requests or questions</li>
      </ul>
    </div>
    <div class="privacy-section-title">
      Why do we agree to, for being in accordance with CANSPAM?
    </div>
    <p class="privacy-section-content">
      If at any time you would like to unsubscribe from receiving future emails, you can email us at <a class="blue-text" href="mailto:admin@cloudcv.org">admin@cloudcv.org</a> and we will promptly remove you from <b>ALL</b> correspondence.
    </p>
    <div class="privacy-section-title">
      Contacting Us
    </div>
    <p class="privacy-section-content">
      If there are any questions regarding this privacy policy, you may contact us using the information below.
    </p>
    <p class="privacy-section-content">
      EvalAI
      <br>
      <a href="mailto:admin@cloudcv.org">admin@cloudcv.org</a>
      <br> Last Edited on 2017-05-29
    </p>
  </div>
</div>
<app-footer></app-footer>
