@import './styles/variables.scss';
@import './styles/mixins.scss';

.privacy-container {
  width: 100%;
  * {
    transition: all 0.2s ease;
  }
  .privacy-nav-container {
    margin-top: 30px;
    top: 10%;
    bottom: 0;
    max-height: 600px !important;
    overflow-y: scroll;

    .privacy-nav {
      font-weight: $fw-semibold;
    }

    position: relative;
    position: -webkit-sticky;
    position: sticky;
    max-height: 65vh;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-left: 20px;
        border-left: 5px solid rgba(0, 0, 0, 0);
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        color: $gray-darker;
        font-size: $fs-16;
        font-weight: $fw-semibold;

        &:hover {
          border-left: 5px solid $gray-darker;
        }
      }

      li.scroll-selected {
        color: $orange;
        border-left: 5px solid $orange;
      }
    }
  }
  .privacy-content {
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    a {
      color: $blue-lighter !important;
      font-weight: $fw-semibold;
    }
    .privacy-title {
      margin-top: 10px;
      font-size: $fs-34;
      color: $med-black;
    }
    .privacy-section-content {
      font-weight: $fw-light;
      color: $med-black;
      font-size: $fs-16;
      margin-top: 20px;
      line-height: 20px;
      letter-spacing: 0.5px;
      ul {
        list-style-type: circle;
      }
    }
    .privacy-section-title {
      font-size: $fs-20;
      color: $med-black;
      font-weight: $fw-semibold;
      margin-top: 20px;
      &.scroll-selected {
        color: $orange;
      }
    }
  }
}

@include screen-small-medium {
  .privacy-nav-container,
  .privacy-empty-container {
    display: none;
  }
}

@include screen-medium {
  .privacy-nav-container {
    top: 20%;
  }
}
