<div class="teamlist-container">
  <div *ngIf="authServicePublic.isLoggedIn()">
    <div class="card team-select">
      <div class="card-title">
        {{teamSelectTitle}}
      </div>
      <div class="card-content">
        <app-cardlist [type]="'teams'" [data]="filteredTeams" [deleteTeam]="deleteTeamWrapper()" [editTeam]="editTeamWrapper()" [addMembersToTeam]="addMembersToTeamWrapper()" [selectTeam]="selectTeamWrapper()" [dataObservable]="filteredTeamsObservable"></app-cardlist>
        <div class="see-more" *ngIf="filteredTeams.length < allTeams.length">
          <a class="btn btn-filter" (click)="seeMoreClicked()">See More</a>
        </div>
      </div>
      <div class="create-challenge" *ngIf="selectedTeam && routerPublic.url=='/teams/hosts'">
          <a class="btn btn-filter selected" (click)="createChallenge()">Create Challenge</a>
      </div>
      <div class="create-challenge" *ngIf="selectedTeam && isOnChallengePage">
          <a class="btn btn-filter selected" (click)="participateInChallenge()">Participate</a>
      </div>
    </div>
    <div class="card team-create">
      <div class="card-title">
        {{teamCreateTitle}}
      </div>
      <div class="card-content">
        <div class="team-create-form">
	        <app-input [label]="'team_name'" [placeholder]="'Team Name*'" [isRequired]="true" [theme]="'dark'" [icon]="'assets/images/username_dark.png'" #formteam></app-input>
	        <app-input [label]="'team_url'" [placeholder]="'Team URL (Optional)'" [isRequired]="false" [theme]="'dark'" [icon]="'assets/images/link_dark.png'" #formteam></app-input>
	        <span class="btn btn-filter selected" (click)="createTeam('formteam')">{{teamCreateButton}}</span>
        </div>
      </div>
    </div>
  </div>
  <app-forcelogin [path]="routerPublic.url" *ngIf="!authServicePublic.isLoggedIn()"></app-forcelogin>
</div>
