@import 'styles/variables';
@import './mixins.scss';


.grad-container .row {
  margin-left: auto;
  margin-right: auto;
}

.org-logo {
  max-width: 100%;
  height: 120px;
  text-align: center;

  img {
    height: 75%;
    max-width: 100%;
    width: auto;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.bg-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

p {
  word-wrap: break-word;
}

.card-content {
  height: 275px;
  overflow: hidden;
}

.subscribe-container {
  float: none;
  margin: auto;
}

@media only screen and (max-width: $small-screen) {
  .org-logo {
    height: auto;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.grad-head {
  padding-top: 10vh;
}

.ev-details,
.ev-reverse-details {
  position: relative;
  box-shadow: 6px -1px 9px $super-light-shadow;
  padding: 0;
}

.ev-reverse-details {
  box-shadow: none;
}

.landing-buttons {
  margin-top: 35px;
  position: relative;
  z-index: 3;
}

.evalai-sponsor-logo {
  max-width: 100%;
  height: 120px;
  text-align: center;
  img {
    height: 55%;
    max-width: 100%;
    width: auto;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.testimonial-container {
  text-align: center;
  width: 90%;
  height: 30%;
  padding-left: 5vw;
  .testimonial-body {
    width: 70%;
    margin-left: 15%;
    padding-top: 120px;
    padding-bottom: 100px;
    span {
      color: #000;
      font-weight: $fw-light;
      font-style: italic;
      padding: 15px;
    }
  }

  .testimonial-author {
    color: #000;
    font-weight: $fw-regular;
    padding-bottom: 70px;
    text-align: right;
    padding-right: 15vw;
  }

  .testimonial-arrow-left {
    position: absolute;
    top: 40%;
    left: 0;
    height: 100px;
    cursor: pointer;
  }

  .testimonial-arrow-right {
    position: absolute;
    top: 40%;
    right: 0;
    height: 100px;
    cursor: pointer;
    transform: rotate(180deg);
  }

  .testimonial-quotes {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 50px;
  }
}

@include screen-medium {
  .testimonial-container {
    .testimonial-quotes {
      top: 15% !important;
      height: 40px !important;
    }
  }
}

@include screen-small {
  .testimonial-container {
    background-size: 80 !important;
    padding-left: 0;
    .testimonial-quotes {
      height: 30px !important;
      top: 12%;
    }
    .testimonial-author {
      padding-bottom: 40px;
    }
  }
}

.grad-container-testimonial {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 100px 40px 100px;
  clear: both;
}

@media screen and (max-width: 992px){
    .grad-container-testimonial {
      padding: 10px;
  }
}


#gsoc {
  height: 45%;
}

#aptiv-logo {
  height: 35%;
  padding-top: 5%;
}

#cmu-logo {
  height: 50%;
}

#ibm-logo {
  height: 35%;
  padding-top: 5%;
}

#mapillary-logo {
  height: 40%;
  padding-top: 7%;
}

#mit-logo {
  height: 35%;
  padding-top: 7%;
}

#nu-logo {
  height: 50%;
}

#siop-logo {
  height: 50%;
}

#umbc-logo {
  height: 45%;
  padding-top: 5%;
}

#draper-logo {
  height: 50%;
  padding-bottom: 7%;
}

#ebay-logo {
  height: 35%;
  padding-top: 3%;
}

#fb-logo {
  height: 30%;
  padding-top: 7%;
}

#gt-logo {
  height: 40%;
}

#google-logo {
  height: 40%;
}

#pitt-logo {
  height: 50%;
  padding-top: 5%;
}

#vt-logo {
  height: 45%;
}

#iitm-logo {
  height: 50%;
}

#intel-logo {
  height: 45%;
}

#ju-logo {
  height: 50%;
}

#illinois-logo {
  height: 25%;
  padding-top: 5%;
}

#ugm-logo {
  height: 100px;
  width: 180px;
}

#stanford-logo {
  height: 50%;
}

#adelaide-logo {
  height: 50%;
  padding-top: 5%;
}

#pitt-logo {
  height: 50%;
  padding-top: 5%;
}
