@import 'styles/variables';
@import './mixins.scss';

.grad-container .row {
  margin-left: auto;
  margin-right: auto;
}

.twitter-container {
  text-align: center;
  margin-left: 23%;
  width: 55%;
  box-shadow: 0px 0px 12px $shadow-black;
  border: 1px solid;
  border-radius: 5px;
  color: rgb(101, 97, 97);
}

@media (max-width: 400px) {
  .grad-container {
    padding: 25px 25px 25px 10px;
  }
}

.org-logo {
  max-width: 100%;
  height: 120px;
  text-align: center;

  img {
    height: 75%;
    max-width: 100%;
    width: auto;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.bg-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

p {
  word-wrap: break-word;
}

.card-content {
  height: 275px;
  overflow: hidden;
}

.subscribe-container {
  float: none;
  margin: auto;
}

@media only screen and (max-width: $small-screen) {
  .org-logo {
    height: auto;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.grad-head {
  padding-top: 10vh;
}

.ev-details,
.ev-reverse-details {
  position: relative;
  box-shadow: 6px -1px 9px $super-light-shadow;
  padding: 0;
}

.ev-reverse-details {
  box-shadow: none;
}

.landing-buttons {
  margin-top: 35px;
  position: relative;
  z-index: 3;
}

.evalai-sponsor-logo {
  max-width: 100%;
  height: 120px;
  text-align: center;
  img {
    height: 55%;
    max-width: 100%;
    width: auto;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.testimonial-container {
  text-align: center;
  width: 90%;
  height: 30%;
  padding-left: 5vw;

  .testimonial-body {
    padding-top: 150px;
    padding-bottom: 70px;
    width: 60%;

    span {
      color: #000;
      font-weight: $fw-light;
      font-style: italic;
    }
  }

  .testimonial-author {
    padding-top: 100px;
    padding-bottom: 70px;
    margin-left: 5%;

    .logo {
      height: 100px;
      width: 100px;
    }

    .testimonial-details {
      margin-top: 15px;
      display: block;
    }

    .name {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  .testimonial-arrow-left {
    position: absolute;
    top: 40%;
    left: 0;
    height: 100px;
    cursor: pointer;
  }

  .testimonial-arrow-right {
    position: absolute;
    top: 40%;
    right: 0;
    height: 100px;
    cursor: pointer;
    transform: rotate(180deg);
  }

  .testimonial-quotes {
    position: absolute;
    top: 22%;
    left: 30%;
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonial-container {
    .testimonial-author {
      margin-left: 0;
    }
    .testimonial-body {
      padding-top: 35px;
      width: 80%;
      margin-left: 10%;
    }
    .testimonial-quotes {
      top: 280px;
      left: 17%;
    }
  }
}

@include screen-medium {
  .testimonial-container {
    .testimonial-quotes {
      top: 15% !important;
      height: 40px !important;
    }
  }
}

@include screen-small {
  .testimonial-container {
    background-size: 80 !important;
    padding-left: 0;
    .testimonial-author {
      padding-bottom: 40px;
    }
  }
  .testimonial-wrapper {
    .grad-container {
      padding: 0px;
    }
  }
}

#gsoc {
  height: 45%;
}

#aptiv-logo {
  height: 35%;
  padding-top: 5%;
}

#cmu-logo {
  height: 50%;
}

#ibm-logo {
  height: 35%;
  padding-top: 5%;
}

#mapillary-logo {
  height: 40%;
  padding-top: 7%;
}

#mit-logo {
  height: 35%;
  padding-top: 7%;
}

#nu-logo {
  height: 50%;
}

#siop-logo {
  height: 50%;
}

#umbc-logo {
  height: 45%;
  padding-top: 5%;
}

#draper-logo {
  height: 50%;
  padding-bottom: 7%;
}

#ebay-logo {
  height: 35%;
  padding-top: 3%;
}

#fb-logo {
  height: 30%;
  padding-top: 7%;
}

#gt-logo {
  height: 40%;
}

#google-logo {
  height: 40%;
}

#pitt-logo {
  height: 50%;
  padding-top: 5%;
}

#vt-logo {
  height: 45%;
}

#iitm-logo {
  height: 50%;
}

#intel-logo {
  height: 45%;
}

#ju-logo {
  height: 50%;
}

#illinois-logo {
  height: 25%;
  padding-top: 5%;
}

#ugm-logo {
  height: 100px;
  width: 180px;
}

#stanford-logo {
  height: 50%;
}

#adelaide-logo {
  height: 50%;
  padding-top: 5%;
}

#pitt-logo {
  height: 50%;
  padding-top: 5%;
}
