@import './variables.scss';
@import './mixins.scss';

.footer-container {
  font-size: $fs-16;
  font-weight:$fw-light;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  margin-top:30px;

  &.at-home {
    margin-top:100px;
    padding-top:80px;
    .footer-content-top {
      padding-top: 200px;
    }
  }

  .top-margin-extra {
    margin-top: 70px;
  }
  .footer-bg {
    width: 100%;
    height: auto;
    position:absolute;
    left:0;
    bottom:0;
    z-index:12;
    img {
      width:100%;
      position:absolute;
      bottom:0;
      left:0;
    }
  }
  .footer-content {
    z-index: 15;
    position: relative;
    width: 100%;
    .notifications {
      margin-top:-10px;
    }
  }
  .section-title {
    font-size: $fs-30;
  }
  .footer-content-top {
    padding-top: 100px;
  }
  .footer-text {
    color: #fff;
    text-align: left;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    table {
      td {
        line-height: 20px;
        letter-spacing: 0.5px;
      }
    }
  }

  .footer-table {
    margin-left: 100px;
    td {
      text-align: left;
      padding-right: 50px;
      padding-bottom: 10px;
      line-height: 20px;
      letter-spacing: 0.5px;
      a {
        color: white;
        font-weight: $fw-light;
        cursor: pointer;
        opacity:0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-buttons {
    margin-top: 50px;
    .footer-buttons-div {
      text-align: center;
      margin: 0 auto;
    }
    .input-fill {

      cursor: text;
      color: $blue-dark;
      &:focus {
        outline-width: 0;
      }
      &::placeholder { 
        opacity: 0.5;
      }
    }
    .btn {
      font-weight:$fw-regular;
    }
  }
  .footer-description {
    width: 70%;
    margin-top: 50px !important;
    margin: 0 auto;
    text-align:center;
    .description {
      font-weight: regular;
      padding: 10px;
      margin:0 auto;
      margin-top: 10px;
      width:70%;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
  }

  .footer-location {
    float: left;
  }

  .footer-links {
    float: right;
  }

  .footer-logo {
    text-align: left;
    margin-left: 100px;
    img {
      height: 40px;
    }
  }

  .footer-jump-links {
    text-align: right;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 20px;
    a {
      margin-right: 20px;
      cursor: pointer;
      img {
        height: 30px;
        filter:invert(100%);
        opacity:0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-map-icon {
    height: $fs-24;
    filter: invert(100%);
    margin-left: -10px;
  }
}

@include screen-small {
  .footer-container {
    @include box-shadow(5px, 5px, 10px, 10px, $overlay-light);
    background:$blue-dark;
    &.at-home {
      .footer-content-top {
        padding-top: 0px;
      }
    }
    .footer-content-top {
      padding-top: 0px;
    }

    .footer-buttons {
      .footer-buttons-div {
        .input-fill,
        .btn-fire {
          width: 50%;
          margin: 0 auto;
          margin-top: 10px;
        }
        .input-fill {
          display: block;
        }
      }
    }
    .footer-text,
    .footer-table,
    .footer-logo {
      margin-left: 50px;
    }
    .footer-bg {
      display:none;
    }

    .footer-location {
      width: 100% !important;
      float: left;
    }

    .footer-links {
      width: 100% !important;
      float: left;
    }

    .footer-jump-links {
      margin-right: 30px;
    }
  }
}

@include screen-medium {
  .footer-container {
    &.at-home {
      padding-top:150px;
      .footer-content-top {
        padding-top: 0px;
      }

    }
    .top-margin-extra {
      margin-top: 40px;
    }
    .footer-bg {
      img {
        width:200%;
        left:-50%;
      }
    }
    .footer-content-top {
      padding-top: 50px;
    }
  }
}
