<footer class="ev-md-container ev-dark-bg" [class.ev-footer]="!isDash" [class.dashboard-footer]="isDash">
  <div class="grad-container" [class.rm-grad-pad]="!isDash">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">EvalAI</h5>
        <p class="text-light-gray">Evaluating state of the art in AI</p>
        <ul class="inline-list">
          <li><a class="text-light-gray" href="https://github.com/Cloud-CV/EvalAI" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a class="text-light-gray" href="https://twitter.com/project_cloudcv" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p><a class="text-white">© CloudCV {{year}}</a></p>
      </div>
      <div class="col l4 offset-l0 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="text-light-gray" routerLink="/about">About Us</a></li>
          <li><a class="text-light-gray" routerLink="/contact">Contact Us</a></li>
          <li><a class="text-light-gray" routerLink="/our-team">Our Team</a></li>
          <li><a class="text-light-gray" routerLink="/get-involved">Get Involved</a></li>
          <li><a class="text-light-gray" routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a class="text-light-gray" href="http://cloudcv.org">CloudCV Website</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Stats</h5>
        <ul>
          <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=Cloud-CV&repo=EvalAI&type=star&count=true&size=small" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
          </li>
          <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=Cloud-CV&repo=EvalAI&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
