@import 'styles/variables';

a.active-auth {
  color: $dark-black;
}

.auth-light-link {
  &:hover {
    color: $highlight;
  }
}

.ev-horiz-list {
  display: inline-block;
  margin-right: 20px;
}

.wrn-msg {
  font-size: 0.8em;
}

input {
  margin-bottom: 0px !important;
}

.input-field {
  height: 72px !important;
  max-height: 72px !important;
}

.fg-pass {
  font-size: 0.8em;
}

.reg-control {
  margin-top: 15px;
}
