@import './variables.scss';
@import './mixins.scss';

.challenge-card {
  .bottom-card-container {
    .settings-section {
      padding: 20px 30px;
      border: 1px solid;
      border-radius: 5px;
      min-height: 50px;
      color: rgb(101, 97, 97);
    }
  }
}

.phase-card {
  width:50vw; 
}

.phase-button {
  margin-left: 25px;
}

@include screen-medium {
  .settings-section {
    padding: 10px 20px !important;
  }
}

@include screen-small-medium {
  .settings-section {
    padding: 10px 10px !important;
  }
}

@include screen-small {
  .settings-section {
    padding: 10px 5px !important;
  }
}

.example-chip-list {
  width: 100%;
}

.error-message {
  color: $highlight;
}

.challenge-detail {
  margin-left: 25%;
  padding: 8px;
}

.challenge-title {
  color: rgba(0, 0, 0, 0.87);
}
