<div class="home-main-container">
  <div class="row centerall top-margin">
    <span class="header-tagline fs-18">Evaluating state of the art in AI</span>
  </div>
  <div class="centerall top-margin">
    <span class="header-description"
      >EvalAI is an open-source web platform for organizing and participating in AI challenges</span
    >
  </div>
  <div class="centerall top-margin">
    <div class="header-body-buttons">
      <div class="btn btn-nofill" [routerLink]="['/teams/hosts']">Host a Challenge</div>
      <div class="btn btn-fire" [routerLink]="['/challenges/all']">Participate</div>
    </div>
  </div>
  <div class="centerall top-margin-extra">
    <div class="header-iframe-div">
      <img src="assets/images/Video Background.png" />
      <iframe
        class="combinedvideo"
        src="https://www.youtube.com/embed/rWiycwJIXh4"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
