<div class="select-phase">
  <div class="select-title heading">Select a phase:</div>
  <div [class.inline]="publicRouter.url.indexOf('submissions') >= 0" class="phase-div" *ngFor="let item of phases">
    <div class="card card-light" (click)="selectPhase(item)" [class.selected]="item['is_selected']">

      <div class="content selectstate left" [class.single-line]="publicRouter.url.indexOf('submissions') >= 0">
        <i class="far fa-circle selectstate" *ngIf="!item['is_selected']"></i>
        <i class="fa fa-check selectstate" aria-hidden="true" *ngIf="item['is_selected']"></i>
      </div>
      <div class="content rightside">
      <div >
        <span class="heading">Phase: </span><span>{{item['name']}}</span>
        <span *ngIf="publicRouter.url.indexOf('leaderboard') >= 0"><br>
        <span class="heading">Split: </span><span>{{item['phase_split']['dataset_split_name']}}</span>
        </span>
      </div>
      <div *ngIf="publicRouter.url.endsWith('submit')"><span class="heading">End Date: </span><span>{{getFormattedDate(item['end_date'])}}</span></div>
    </div>
    </div>
  </div>
</div>
