@import './variables.scss';
@import './mixins.scss';

.select-phase {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  float: left;
  padding:10px;
  max-height:700px;
  width:auto;
  overflow:scroll;
  .phase-div {
    &.inline {
      display:inline-block;
      margin-right:20px;
      margin-top:10px;
      margin-bottom:10px;
    }
  }
  .select-title {
    margin-left: 10px;
  }
  .card {
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
  }
  .heading {
      font-weight: $fw-regular;
  }
  .content {
    display: inline-table;
    &.selectstate {
      display:table-cell;
      margin-right: 20px;
      margin-top:10px;
      color:$gray-dark;
      &.single-line {
        margin-top: 2px;
      }
    }
    &.rightside {
      display:table-cell
    }
  }
}
