<div class="white-bg view-container flex-body">
	<main-header></main-header>
	<div class="content">
		<!-- EvalAI into -->
		<div class="grad-container">
			<div class="row">
				<div class="col s12 m8 l8 ev-head">
					<h4 align="center" class="text-dark-black"><strong>The Website is currently undergoing maintenance..</strong></h4>

						Reach out to us at : <a href="mailto:admin@cloudcv.org" class="blue-text">admin@cloudcv.org</a>. </p>
				</div>
				<div ng-include="'dist/views/web/partials/rocket-container-maintenance-mode.html'"></div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<landing-footer></landing-footer>
</div>
