.meta_attributes_dialog_atts {
  padding-bottom: 10px;
}

.meta_attributes_checkox_list {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
}

.meta-title {
  margin: 20px 10px;
}

.dialog-close-button {
  float: right;
  margin-top: -10%;
}
