a.btn-card-detail:focus {
  color: black;
  display: block;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  background-color: white;
}

.none {
  margin: 1%;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 18px;
}
