@import './variables.scss';
@import './mixins.scss';

.auth-container {
  position: relative;
  display: block;
  width: 100%;
  background-size: 100% 100%;
  height: 630px;
  .auth-background-image {
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    height: 350px;
    width: 400px;
    left: 25%;
    top: 70px;
    padding-right: 100px;
    padding-left: 50px;
    @include box-shadow(0px, 10px, 15px, 5px, $overlay-light);
    .auth-tagline {
      color: white;
      font-size: $fs-36;
      top: 50%;
      position: absolute;
      transform: translate(0, -50%);
      padding-right: 100px;
    }
  }
  .auth-form {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 300px;
    background: $gray-lighter;
    border-radius: 15px;
    padding: 30px;
    padding-bottom:10px;
    margin-bottom: 20px;
    width: 500px;
    @include box-shadow(0px, 10px, 15px, 5px, $overlay-light);
    .auth-nav {
      margin-bottom: 20px;
      a {
        cursor: pointer;
        font-size: $fs-16;
        color: $gray-darker;
        margin-right: 30px;
        font-weight: $fw-light;
      }
      .auth-selected {
        font-weight: $fw-semibold;
      }
    }
    .auth-form-logo {
      padding-top: 10px;
      padding-bottom: 20px;
      img {
        filter: invert(100%);
        height: 30px;
      }
    }
    .auth-form-footer {
      margin-top: 30px;
      ul {
        padding-left:10px;
        list-style-type: none;
        width: 100%;
        li {
          display: inline-block;
          a {
            padding-left:5px;
            cursor: pointer;
            font-size: $fs-14;
            color: $gray-darker;
            font-weight: $fw-regular;
            img {
              height: $fs-14;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@include screen-medium {
  .auth-container {
    .auth-background-image {
      left: 5%;
    }
    .auth-form {
      left: 40%;
      margin: 0 auto;
    }
  }
}

@include screen-small {
  .auth-container {
    text-align: center;
    .auth-background-image {
      display: none;
    }
    .auth-form {
      position: relative;
      margin: 0 auto;
      left: 0;
      text-align: left;
      width: 90%;
    }
  }
}
