<section class="ev-md-container center">
  <div class="row">
    <div class="col s12">
      <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" routerLink="/analytics">Go to Analytics Dashboard</a>
    </div>
  </div>
</section>
<section class="ev-md-container center">
  <div class="row">
    <div class="col s12 m4">
      <h3 class="fs-20 main-title">Ongoing Challenges</h3>
      <h4 class="text-dark-black">{{challenges.length || 0}}</h4>
      <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" routerLink="/challenges/all">View All</a>
    </div>
    <div class="col s12 m4">
      <h3 class="fs-20 main-title">My Host Teams</h3>
      <h4 class="text-dark-black">{{hostTeams.length || 0}}</h4>
      <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" routerLink="/teams/hosts">View or Create</a>
    </div>
    <div class="col s12 m4">
      <h3 class="fs-20 main-title">My Participant Teams</h3>
      <h4 class="text-dark-black">{{participantTeams.length || 0}}</h4>
      <a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-transparent fs-14" routerLink="/teams/participants">View or Create</a>
    </div>
  </div>
</section>
