<app-header-static></app-header-static>
<div class="contact-container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ev-mt-50">
			<h4 class="contact-title ev-mt-17 ev-mb-13 fs-34 align-center fw-regular">Contact Us</h4>
			<app-input [label]="'name'" [placeholder]="'Name*'" [isRequired]="true" [icon]="'fa fa-user'" #formgroup></app-input>
			<app-input [label]="'email'" [placeholder]="'Email*'" [isRequired]="true" [type]="'email'" [icon]="'fa fa-envelope'" #formgroup></app-input>
			<app-input [label]="'message'" [placeholder]="'Message*'" [isRequired]="true" [type]="'textarea'" [icon]="'fa fa-comment'" #formgroup></app-input><br>
			<button class="btn btn-waves-effect grad-btn grad-btn-dark ev-btn-dark" (click)="formValidate('formgroup')">Send</button>
		</div>
		<div class="rocket-container col-lg-4 col-md-4">
			<div class="small-cloud cloud-1">
				<img src="assets/images/cloud-1.png">
			</div>
			<div class="small-cloud cloud-2">
				<img src="assets/images/cloud-2.png">
			</div>
			<div class="small-cloud cloud-3">
				<img src="assets/images/cloud-1.png">
			</div>
			<div class="small-cloud cloud-4">
				<img src="assets/images/cloud-4.png">
			</div>
			<div class="small-cloud cloud-2 bird-anim">
				<img src="assets/images/bird.gif">
			</div>
			<div class="rocket-anim">
				<img src="assets/images/rocket.gif">
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>

