<div id="toast" class="toast-container">
  <div class="toast-desc" [class.toast-success]="type=='success'" [class.toast-error]="type=='error'" [class.toast-info]="type=='info'">
    <span *ngIf="type=='success'"><i class="fa fa-check" aria-hidden="true"></i></span>
    <span *ngIf="type=='error'"><i class="fa fa-warning" aria-hidden="true"></i></span>
    <span *ngIf="type=='info'"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span class="toast-message" id="toastmessage">{{message}}</span>
  </div>
</div>
