<div id="toast" class="toast-container">
  <div
    class="toast-desc"
    [ngClass]="{ 'toast-success': type == 'success', 'toast-error': type == 'error', 'toast-info': type == 'info' }"
  >
    <span *ngIf="type == 'success'"><i class="fa fa-check" aria-hidden="true"></i></span>
    <span *ngIf="type == 'error'"><i class="fa fa-times" aria-hidden="true"></i></span>
    <span *ngIf="type == 'info'"><i class="fa fa-info" aria-hidden="true"></i></span>
    <span class="toast-message" id="toastmessage">{{ message }}</span>
  </div>
</div>
