@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.input-group {
  width: 100%;
  margin-top: 30px;
  position: relative;
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 20px;
  .input-icon {
    height:$fs-18;
    position:absolute;
    right:0;
    top:10px;
  }
  label {
    color: $gray-medium;
    font-size: $fs-18;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    &.theme-dark {
      color: $gray-dark;
    }
    &.is-not-empty {
      top: -20px;
      font-size: $fs-14;
      color: white;
      &.theme-dark {
        color: $gray-darker !important;
      }
    }
  }
  .input-field {
    font-size: $fs-18;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    color: white;
    border-bottom: 1px solid $gray-medium;
    background: transparent;
    padding-bottom:20px;
    font-weight:$fw-light;
    &:focus {
      outline: none;
    }
    &.theme-dark {
      color: $gray-darker;
      border-bottom: 1px solid $gray-dark;
    }
  }
  input:focus~label {
    top: -20px;
    font-size: $fs-14;
    color: white;
  }
  input:focus~label.theme-dark
  {
    color: $gray-darker !important;
  }
  .input-message {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    margin-top: 10px;
    font-style: italic;
    font-weight: $fw-light;
    color: $red-light;
    &.hidden {
      opacity: 0;
    }
  }
  .input-bar {
    position: relative;
    display: block;
    width: 300px;
  }
  &:before, &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: white;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

/* active state */

.input-field:focus~.input-bar:before,
.input-field:focus~.input-bar:after {
  width: 50%;
}

@include screen-small {
  .input-group {
    width: 250px;
    .input-field {
      width: 250px;
    }
  }
  .input-bar {
    width: 250px;
  }
}
