@import "styles/variables";
.ev-sidebar {
  display: block;
  height: 100vh;
  width: 220px;
  color: #fff;
  z-index: 10;
  text-align: center;
}

.side-logo {
  font-size: 20px;
}

.links-section-outer {
  border-right: 1px solid $grad-light-black;
  overflow: auto;
  height: calc(100% - 120px);
  margin-top: 98px;
}

.links-section {
  ul {
    margin: 0px;
  }
  li {
    a {
      padding: 20px 30px 20px 30px;
      word-wrap: break-word;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      border-right: 1px solid transparent;
      &:hover {
        color: $highlight;
      }
      &.side-active-link {
        color: $med-black;
        border-right: 1px solid $highlight;
      }
    }
  }
}

.side-link-icon {
  font-size: 30px;
}

.side-title {
  padding: 20px 20px 10px 30px;
  font-size: 12px;
}

.sidebar-title {
  font-size: 14px;
}
