<div class="ev-sidebar ev-fixed  fixed hide-on-med-and-down">
  <div class="links-section-outer">
    <div class="links-section">
      <ul>
        <li>
          <a class=" text-light-black" routerLink="/dashboard" routerLinkActive="side-active-link">
            <i class="fa fa-signal side-link-icon"></i>
            <div class="sidebar-title">Dashboard</div>
          </a>
        </li>
        <li>
          <a class="text-light-black " routerLink="/challenges/all" routerLinkActive="side-active-link">
            <i class="fa fa-fire side-link-icon"></i>
            <div class="sidebar-title">All Challenges</div>
          </a>
        </li>
        <li>
          <a class="text-light-black " routerLink="/challenges/me" routerLinkActive="side-active-link">
            <i class="fa fa fa-folder-open side-link-icon"></i>
            <div class="sidebar-title">Hosted Challenges</div>
          </a>
        </li>
        <li>
          <a class="text-light-black" routerLink="/challenge-create">
            <i class="fa fa-paper-plane side-link-icon"></i>
            <div class="sidebar-title">Create Challenge</div>
          </a>
        </li>
        <li>
          <a class="text-light-black" routerLink="/teams/participants" routerLinkActive="side-active-link">
            <i class="fa fa-users side-link-icon"></i>
            <div class="sidebar-title">Participant Teams</div>
          </a>
        </li>
        <li>
          <a class="text-light-black" routerLink="/teams/hosts" routerLinkActive="side-active-link">
            <i class="fa fa-users side-link-icon"></i>
            <div class="sidebar-title">Host Teams</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
