<app-header-static></app-header-static>

<div class="mid-container">
	<div class="container-top profile-container">
		<div class="align-center">
			<img class="profile-photo" src="assets/images/profile.png" />
		</div>
		<div class="item">
			<div class="content fw-regular">
				{{user.username}}
			</div>
			<div class="fs-15">
				{{user.email}}
			</div>
		</div>
		<div class="user-details">
			<div class="item">
				<span class="text-light-black fw-semibold fs-12">
					First Name<br>
				</span>
				<div class="content fw-regular">
					{{user.first_name}}
				</div>
			</div>
			<div class="item">
				<span class="text-light-black fw-semibold fs-12">
					Last Name<br>
				</span>
				<div class="content fw-regular">
					{{user.last_name}}
				</div>
			</div>
			<div class="item">
				<span class="text-light-black fw-semibold fs-12">
					Affiliated to<br>
				</span>
				<div class="content fw-regular">
					{{user.affiliation}}
				</div>
			</div>
		</div>
		<div class="item">
			<div class="highlight">
				<span class="fw-regular fs-14">Profile Completed</span>
				<br> <span class="text-med-black">{{pcomp}}</span>
				<div>
				</div>
				<br>
				<br>
				<div class="item">
					<button class="btn btn-waves-effect waves-dark grad-btn grad-btn-dark
						fs-16" (click)="isTokenModalVisible= true;">Get your Auth Token</button>
				</div>
				<div class="item change-password">
					<a (click)="updatePassword()" class="dark-link pointer">
						<strong class="fw-semibold fs-15 change-password-text">Change Password</strong>
					</a>
					<button (click)="updateUserDetails()" class="btn btn-waves-effect
						waves-dark grad-btn grad-btn-dark fs-16">Update Profile</button>
				</div>

				<div class="modal-container" [class.hidden]="!isTokenModalVisible">
					<div class="modal-card">
						<div class="title">
							API Authentication Token
						</div>
						<div class="form row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<app-input [label]="'token'" [placeholder]="'Auth Token'"
									[type]="'password'" [theme]="'dark'" [value]="token" [readonly]="true"
									#formtoken></app-input>
							</div>
							<button class="col-lg-1 col-md-1 col-sm-1 col-xs-1 btn ev-btn-dark
								btn-waves-effect waves-dark grad-btn code-btn"
								(click)="copyToken()">
								<i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard."></i>
							</button>
						</div>
						<ul class="inline-list">
							<li>
								<a (click)="isTokenModalVisible= false;" class="dark-link pointer">
									<strong class="fw-semibold fs-15">Cancel</strong>
								</a>
							</li>
							<li>
								<a (click)="downloadToken()" class="dark-link pointer">
									<strong class="fw-semibold fs-15">Download JSON</strong>
								</a>
							</li>
							<li>
								<span class="btn btn-waves-effect waves-dark grad-btn grad-btn-dark
									fs-14" (click)="tokenModalButtonToggle()">{{tokenModalButton}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
