@import "styles/variables";

.dashboard-footer {
  width: 100%;
  bottom: 0;
  left: 0;
}


/* media queries */

@media only screen and(min-width:768px) and(max-width:$med-screen) {
  .dashboard-footer {
    width: 100%;
    padding-left: 220px;
  }
}
