.wy-nav-content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 2rem;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.rst-content {
    flex: 1;
}

@media screen and (min-width: 1500px) {
    .wy-nav-content {
        max-width: 5000px;
    }
}
