<section class="ev-sm-container ev-view challenge-container">
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row">
            <div class="col s12">
                <span class="fs-18"><strong>Participate in {{featured_challenge.page.title}}</strong></span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div ng-if="featured_challenge.isActive">
                    <p ng-if="isAuth">Proceed to <a ui-sref="web.challenge-main.challenge-page({challengeSlug:featured_challenge.page.slug})" class="blue-text">challenge page</a> to participate.</p>
                    <p ng-if="!isAuth">Please <a ui-sref="auth.login" class="blue-text" ui-sref-active="active-auth" ng-click="auth.resetForm()">log in</a> to participate in this challenge.</p>
                </div>
                <div ng-if="!featured_challenge.isActive">
                    <p>Sorry, this Challenge is not active!</p>
                </div>
            </div>
        </div>
    </div>
</section>
