<!DOCTYPE html>
<html ng-app="evalai">
<head>
    <title> 
      404 | Page Not Found
    </title>
  <link rel="stylesheet" type="text/css" href="/dist/vendors/vendor.css">

  <!-- fonts css -->
  <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.css">
  <!-- evalAi main styles -->
  <link rel="stylesheet" type="text/css" href="/dist/css/main.css">

</head>

<body>
  <div ui-view>

    <div class="wrapper">
      <div class="error_container">
        <div class="error">
          Error 404
        </div>

        <div class="message">
          Woops. Looks like this page doesn't exist.
        </div>
      </div>

      <div class="home">
        Go Back to <a ui-sref="home"> www.evalai.cloudcv.org </a>
      </div>
    </div>

  </div>

  <!-- html5shiv for IE8 -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>

  <!-- angular, angular-material, angular-animate, angular-message, angular-aria, angular-ui-router files -->
  <script type="text/javascript" src="/dist/vendors/vendor.js"></script>

  <!-- evalAI main scripts -->
  <script type="text/javascript" src="/dist/js/app.js"></script>
  <script type="text/javascript" src="/dist/js/config.js"></script>
  <script type="text/javascript" src="/dist/js/route-config.js"></script>
  <script type="text/javascript" src="/dist/js/services.js"></script>
  <script type="text/javascript" src="/dist/js/directives.js"></script>
  <script type="text/javascript" src="/dist/js/filters.js"></script>
  <script type="text/javascript" src="/dist/js/controllers.js"></script>
</body>

</html>
