/*grad button style*/

.grad-btn {
    border-radius: 20px;
}

.grad-btn-dark {
    background: $med-gray;
    font-weight: $rob-reg;
    color: #fff;
    box-shadow: 0px 4px 10px #9395a2;
    &:hover {
        box-shadow: 0px 0px 10px #9395a2;
    }
}


/*font styles*/

.fs-14 {
    font-size: 14px;
}


/*bg color*/

.white-bg {
    background-color: #fff;
}

.view-container{
	min-height: 100vh;
}

.grad-container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 40px 100px;
	clear: both;
}