<app-header-static></app-header-static>
<div class="container-top">
	<div class="our-team-container ">
	<div class="our-team-title">
		{{coreTeamType}}
	</div>
        <div class="row">
            <h3 ng-if="noTeamDisplay" class="team-heading">{{noTeamDisplay}}</h3>
            <!-- This card is for Core Team -->
            <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let data of coreTeamDetails">
                <div class="team-card">
                    <div class="team-link-head">
                        <span>
                <a ng-if="data.linkedin_url !== 'null'" href="{{data.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a>
            </span>
                        <span>
                <a ng-if="data.github_url !== 'null'" href="{{data.github_url}}" target="_blank"><i class="fab fa-github"></i></a>
            </span>
                        <span class="right link-team-user">
                <a ng-if="data.personal_website !== 'null'" href="{{data.personal_website}}" target="_blank">Personal Website</a>
            </span>
                    </div>
                    <div class="team-bg">
                        <img src="{{data.background_image || '#'}}">
                    </div>
                    <div class="team-bg-over">
                        <img src="assets/images/team-over.png">
                    </div>
                    <div class="team-profile">
                        <img src="{{data.headshot || 'dist/images/logo.png'}}">
                    </div>
                    <div class="team-player">
                        <div><strong class="text-dark-black">{{data.name}}</strong></div>
                        <div class="text-med-black">{{data.description}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This card is for Contributing Team -->
        <div class="our-team-title">
        	{{contributingTeamType}}
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let data of contributingTeamDetails">
                <div class="team-card contributor">
                    <div class="team-link-head">
                        <span>
                <a ng-if="data.linkedin_url !== 'null'" href="{{data.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a>
            </span>
                        <span>
                <a ng-if="data.github_url !== 'null'" href="{{data.github_url}}" target="_blank"><i class="fab fa-github"></i></a>
            </span>
                        <span class="right link-team-user">
                <a ng-if="data.personal_website !== 'null'" href="{{data.personal_website}}" target="_blank">Personal Website</a>
            </span>
                    </div>
                    <div class="team-bg">
                        <img src="{{data.background_image || '#'}}">
                    </div>
                    <div class="team-bg-over">
                        <img src="assets/images/team-over.png">
                    </div>
                    <div class="team-profile">
                        <img src="{{data.headshot || 'dist/images/logo.png'}}">
                    </div>
                    <div class="team-player">
                        <div><strong class="text-dark-black">{{data.name}}</strong></div>
                        <div class="text-med-black">{{data.description}}</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<app-footer></app-footer>