{% load static %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
</head>

<!-- loader init -->
<eval-loader></eval-loader>
<!--auth parent view -->
<body>
<section class="auth-container ">
    <!-- graphic animated view -->
    <div class="graphic-cont">
        <img class="star-img star1" src="{% static 'accounts/images/star1.png' %}">
        <img class="star-img star2" src="{% static 'accounts/images/star2.png' %}">
        <div class="moon">
            <img src="{% static 'accounts/images/moon.png' %}">
        </div>
        <div class="sun">
            <img src="{% static 'accounts/images/sun.png' %}">
        </div>
        <div class="auth-cloud-cont">
            <img src="{% static 'accounts/images/auth-cloud.png' %}">
        </div>
        <div class="ufo">
            <img src="{% static 'accounts/images/spaceman.png' %}">
        </div>
    </div>
    <!-- rendering auth children here -->
    <div class="auth-cont">
        <div class="row">
            <div class="col s12 m4 offset-m4 center">
                <h5><strong><a ui-sref="home" class="dark-link"><img class="auth-logo" src="{% static 'accounts/images/evalai-logo.png' %}"></a></strong></h5>
                <p class="text-med-gray auth-home">Evaluating state of the art in AI</p>
            </div>
        </div>
        <div class="row">           
            <div class="col s12 m4 offset-m4 text-highlight center w-300">
                <strong><p class="text-med-gray auth-home">{{message}}</p></strong>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 text-highlight center w-300">
                <a href="https://eval.ai/api/admin" class="waves-effect waves-dark btn ev-btn-dark blue-grey darken-4">Return to Admin</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
</body>
</html>
