<section class="text-center pd-20 wt-500">
    <div class="row ht-wt-100p">
        <div class="col s12 m12">
            <div class="ev-card-body">
                <form name="editChallengeOverviewForm" ng-submit="challenge.editChallengeOverview(editChallengeOverviewForm.$valid)">
                    <div class="pass-title">Edit Challenge Description</div>
                    <div class="input-field align-left">
                        <textarea id="description" name="description" type="text" class="materialize-textarea" ng-model="challenge.page.description" value="{{challenge.page.description}}" focus-if="challenge.page.description"></textarea>
                        <label for="methodDesc"> Challenge Description</label>
                    </div>
                    <ul class="inline-list hide-on-med-and-down">
                        <li>
                            <a ng-click="challenge.editChallengeOverview(false)" class="dark-link pointer"><strong>Cancel</strong></a>
                        </li>
                        <li>
                            <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="submit">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
