<section class="text-center pd-20 width-90">
    <div class="row ht-wt-100p">
        <div class="col s12 m12">
            <div class="ev-card-body font-size-16">
                <form name="editChallengeOverviewForm" ng-submit="challenge.editChallengeOverview(editChallengeOverviewForm.$valid)">
                    <div class="pass-title">Edit Challenge Description</div>
                    <div class="input-field align-left">
                        <trix-editor class="editor"
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challenge.page.description"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   prevent-trix-file-accept = "true"
                                   placeholder="Challenge Description">
                        </trix-editor>
                    </div>
                    <ul class="inline-list hide-on-med-and-down">
                        <li>
                            <a ng-click="challenge.editChallengeOverview(false)" class="dark-link pointer"><strong>Cancel</strong></a>
                        </li>
                        <li>
                            <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="submit">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
