@import './variables.scss';
@import './mixins.scss';

.home-container {
  .main-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  .home-content-temporary {
    position: relative;
    height: 1000px;
  }
}
