<div class="challenge-card">
  <div class="ev-card-panel card-bt-margin">
    <div class="ev-md-container ev-panel-title">
      <div class="row row-lr-margin">
        <div class="col s12 m11 l11">
          <h5 class="fw-light">Challenge Overview</h5>
          <div
            *ngIf="challenge && challenge['description']"
            [innerHTML]="challenge['description']"
            class="challenge-description fs-16 fw-light"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
