<div class = "partner_container">
	<div class="partner-bg">
	<img class="bg" src="/assets/images/partners/Partner_org_BG.png" alt="">
	</div>
	<div class="centerall first">
		<span class="section_title dark_text fs-36">Who uses EvalAI?</span>
	</div>
	<div class="centerall partner_text" >
		<span class="dark_text fs-18" >Several partner organizations already host their challenges on EvalAI</span>
	</div>
	<div class="row centerall partner_slider">
	<table>
		<tr>
			<td> 
				<img class ="partner_img" src = "assets/images/partners/facebook.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/cmu.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/google.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/stanford.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/georgiatech.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/mapillary.png"/>
			</td>
			<td>
				<img class ="partner_img" src = "assets/images/partners/virginiatech.png"/>
			</td>
		</tr>
	</table></div>
</div>