<div class="challenge-card">
  <div class="ev-card-panel card-bt-margin">
    <div class="ev-md-container bottom-hr-line">
      <div class="row row-lr-margin phase-title">
        <div class="col-sm-12">
          <h5 class="fw-light">All Submissions</h5>
        </div>
      </div>
      <div class="row row-lr-margin">
        <div class="col-sm-6 col-xs-12 col-lr-pad phase-select-box">
          <app-selectphase
            [phases]="filteredPhases"
            [phaseSelectionListType]="phaseSelectionListType"
            [phaseSelectionType]="phaseSelectionType"
            [phaseSelected]="phaseSelected()"
            #phaseselect
          ></app-selectphase>
        </div>
      </div>
      <div class="row row-lr-margin">
        <div class="col-md-2 col-sm-2 col-xs-6 align-left col-lr-pad all-submissions-file">
          <mat-form-field>
            <mat-label>File type</mat-label>
            <mat-select [(ngModel)]="fileSelected" class="rm-margin">
              <mat-option *ngFor="let key of fileTypes" value="{{ key.name }}">
                {{ key.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 col-lr-pad download-submissions">
          <a class="waves-effect waves-dark btn ev-btn-dark w-300 fs-16" (click)="downloadSubmission()">Download </a>
        </div>
        <div *ngIf="selectedPhase">
          <div class="row">
            <div class="col-sm-12 col-xs-12 filter-team">
              <strong class="fw-semibold content fs-16">Filter Submissions by Team name</strong>
            </div>
          </div>
          <div class="row row-lr-margin">
            <div class="col-sm-6 col-xs-12 col-lr-pad phase-select-box">
              <app-input
                [name]="'filterByTeamName'"
                (input)="filterSubmissions($event.target.value)"
                [label]="'Team name'"
                [placeholder]="'Team name'"
                [type]="'text'"
                #formFilter
              >
              </app-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="ev-card-body exist-team-card"
      *ngIf="!isPhaseSelected || (paginationDetails.showPagination == false && isPhaseSelected)"
    >
      <div class="row row-lr-margin">
        <div class="col-md-12 col-lr-pad">
          <div *ngIf="!isPhaseSelected" class="result-wrn">No phase selected.</div>
          <div *ngIf="paginationDetails.showPagination == false && isPhaseSelected" class="result-wrn">
            No results found.
          </div>
        </div>
      </div>
    </div>

    <div class="ev-card-body collapsible-table">
      <table
        mat-table
        *ngIf="paginationDetails.showPagination == true && submissions.length > 0"
        [dataSource]="submissions"
        multiTemplateDataRows
        class="mat-elevation-z0"
      >
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay; let i = index">
          <th class="cell-outside table-header fs-16" mat-header-cell *matHeaderCellDef>{{ columnsHeadings[i] }}</th>
          <td class="cell-outside fw-regular align-center" mat-cell *matCellDef="let element">
            <span *ngIf="column === 'status' && element[column] !== null" class="{{ element[column] }} fs-12">
              {{ element[column] | uppercase }}</span
            >
            <span
              *ngIf="
                column !== 'status' &&
                element[column] !== null &&
                column !== 'submitted_file' &&
                column !== 'submission_result_file' &&
                column !== 'execution_time'
              "
            >
              {{ element[column] }}</span
            >
            <span *ngIf="column == 'execution_time'"> {{ element[column] }} sec </span>
            <a
              target="_blank"
              class="blue-text"
              [href]="element[column]"
              *ngIf="element[column] !== null && (column === 'submitted_file' || column === 'submission_result_file')"
            >
              <i class="fa fa-external-link"></i>
              Link
            </a>
            <span *ngIf="element[column] === null">None</span>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell class="collapsed-td" *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div
              class="elements"
              [class.detail-row]="element != expandedElement"
              [class.expanded-row]="element == expandedElement"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
            >
              <div class="elements-detail">
                <div class="element">
                  <p>
                    <strong class="text-light-black fw-semibold fs-12">Team Members</strong>&nbsp;
                    <strong
                      *ngFor="let team of element.participant_team_members; let i = index"
                      class="fw-semibold fs-14"
                    >
                      <span *ngIf="element.participant_team_members.length !== i + 1"> {{ team.username + ' ,' }}</span>
                      <span *ngIf="element.participant_team_members.length === i + 1"> {{ team.username }}</span>
                    </strong>
                  </p>
                  <span class=""></span>
                </div>
                <div class="element">
                  <p>
                    <strong class="text-light-black fw-semibold fs-12">Team Members Email Id</strong>&nbsp;
                    <strong
                      *ngFor="let team of element.participant_team_members; let i = index"
                      class="fw-semibold fs-14"
                    >
                      <span *ngIf="element.participant_team_members.length !== i + 1"> {{ team.email + ' ,' }}</span>
                      <span *ngIf="element.participant_team_members.length === i + 1"> {{ team.email }}</span>
                    </strong>
                  </p>
                </div>
                <div class="row rm-margin">
                  <div class="col-sm-3 col-md-3 col-lg-3 no-pad-lr element">
                    <p>
                      <strong class="text-light-black fw-semibold fs-12"
                        >Stdout file&nbsp;<i class="fa fa-file fs-12" aria-hidden="true"></i></strong
                      >&nbsp;
                      <a
                        target="_blank"
                        class="blue-text fs-12"
                        [href]="element.stdout_file"
                        *ngIf="element.stdout_file"
                      >
                        <i class="fa fa-external-link"></i> Link
                      </a>
                      <strong *ngIf="!element.stdout_file" class="fw-semibold fs-12">
                        None
                      </strong>
                    </p>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <p>
                      <strong class="text-light-black fw-semibold fs-12"
                        >Stderr file&nbsp;<i class="fa fa-file fs-12" aria-hidden="true"></i></strong
                      >&nbsp;
                      <a
                        target="_blank"
                        class="blue-text fs-12"
                        [href]="element.stderr_file"
                        *ngIf="element.stderr_file"
                      >
                        <i class="fa fa-external-link"></i> Link
                      </a>
                      <strong *ngIf="!element.stderr_file" class="fw-semibold fs-12">
                        None
                      </strong>
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <p>
                      <strong class="text-light-black fw-semibold fs-12"
                        >Metadata file&nbsp;<i class="fa fa-file fs-12" aria-hidden="true"></i></strong
                      >&nbsp;
                      <a
                        target="_blank"
                        class="blue-text fs-12"
                        [href]="element.submission_metadata_file"
                        *ngIf="element.submission_metadata_file"
                      >
                        <i class="fa fa-external-link"></i> Link
                      </a>
                      <strong *ngIf="!element.submission_metadata_file" class="fw-semibold fs-12">
                        None
                      </strong>
                    </p>
                  </div>
                </div>
              </div>

              <div class="elements-action">
                <div class="row rm-margin">
                  <div class="col-sm-6 sol-md-6 col-lg-4 no-pad-lr">
                    <p>
                      <strong class="text-light-black fw-semibold fs-12">Status</strong> &nbsp;
                      <strong class="fw-semibold fs-14" [ngClass]="element.status" class="fs-12">
                        {{ element.status | uppercase }}
                      </strong>
                    </p>
                  </div>
                  <div class="col-sm-6 sol-md-6 col-lg-8 no-pad-lr">
                    <p>
                      <strong class="text-light-black fw-semibold fs-12">Submission Number</strong> &nbsp;
                      <strong class="fw-semibold fs-14">
                        {{ element.submission_number }}
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="element">
                  <p>
                    <strong class="text-light-black fw-semibold fs-12">Submitted At</strong> &nbsp;
                    <strong class="fw-semibold fs-14">
                      {{ element.created_at | date: 'medium' }}
                    </strong>
                  </p>
                </div>
                <div class="element">
                  <mat-checkbox
                    class="element-icon fw-semibold"
                    [checked]="element.is_public"
                    [disabled]="element.status !== 'finished' || !selectedPhase['leaderboard_public']"
                    (change)="confirmSubmissionVisibility(element, element.is_public)"
                  >
                    Show On Leaderboard
                  </mat-checkbox>
                </div>
                <div class="element">
                  <a
                    class="text-light-black fw-semibold fs-14 fa fa-refresh pointer"
                    (click)="reRunSubmission(element.id)"
                  >
                    Re-run submission
                  </a>
                </div>
                <div class="element">
                  <mat-checkbox
                    class="element-icon fw-semibold"
                    [checked]="element.is_flagged"
                    (change)="confirmSubmissionFlagChange(element, element.is_flagged)"
                  >
                    {{ element.submissionFlagText }}
                  </mat-checkbox>
                </div>
                <div class="element" *ngIf="isChallengeHost">
                  <a class="pointer" (click)="deleteChallengeSubmission(element)">
                      <i class="fa fa-trash red-text fs-14" aria-hidden="true">&nbsp;Delete Submission</i>
                  </a>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="ev-card-body detail-row"></tr>
      </table>
    </div>

    <div class="pagination" *ngIf="paginationDetails.showPagination && submissions.length > 0">
      <div class="row row-lr-margin">
        <div class="col-sm-12 left-align col-lr-pad">
          <button
            [ngClass]="paginationDetails.isPrev"
            class="btn-floating btn-pagination waves-effect waves-light"
            (click)="loadPaginationData(paginationDetails.previous)"
          >
            <i class="fa fa-chevron-left"></i>
          </button>
          <span class="pagination-title">
            <strong class="text-med-black fw-semibold content">
              Page {{ paginationDetails.currentPage }} of
              {{ paginationDetails.totalPage }}
            </strong></span
          >
          <button
            [ngClass]="paginationDetails.isNext"
            class="btn-floating btn-pagination waves-effect waves-light"
            (click)="loadPaginationData(paginationDetails.next)"
          >
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
