@import './variables.scss';
@import './mixins.scss';

.ev-md-container {
  padding-bottom: 0px;
  .phase-title {
    margin-bottom: 20px;
  }
}

.filter-team {
  margin-top: 40px;
  padding-left: 27px;
}

.show-submission-count {
  background: #252833;
  text-align: center;
  color: white;
  padding: 2px 5px 2px 5px;
  border-radius: 3px 3px 3px 3px;
  font-weight: $fw-light;
  transition: all 0.2s ease-in-out;
}

@include screen-small-medium {
  .download-submissions {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.add-line-height {
  line-height: 51px;
}

.result-wrn {
  margin-top: 15px;
  margin-bottom: 20px;
}

.cbx-label {
  margin-left: 55px;
  margin-right: 55px;
}

.cbx:checked ~ .cbx-label {
  background: #4caf50;
}

.collapsible-table {
  overflow: auto;

  .table-header {
    color: rgba(0, 0, 0, 0.87) !important;
    text-align: center !important;
  }
}

tr.element-row:not(.expanded-row):hover {
  cursor: pointer;
  background: $grad-light-black;
}

tr.element-row.expanded-row {
  cursor: pointer;
}

.cell-outside {
  padding: 8px;
}

.detail-row {
  height: 0;
  overflow: hidden;
}

.collapsed-td {
  padding: 0px 58px !important;
}

.expanded-row {
  margin-top: 24px;
  margin-bottom: 14px;
}

.elements {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.elements-detail {
  width: 55%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;
}

.elements-action {
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.element-icon {
  margin-right: 10px;
}

@include screen-small {
  .elements {
    flex-direction: column;
  }
  .elements-action {
    margin-left: 0;
    margin-top: 20px;
  }
  .elements-detail {
    border-right-style: none;
    padding-right: 0;

    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    padding-bottom: 20px;
  }
  .element {
    display: flex;
    flex-direction: column;
  }
}
