@import './variables.scss';
@import './mixins.scss';

.challenge-evaluation-container {
	padding:20px;
	overflow:auto;
	.card {
		&:hover {
			@include box-shadow(0px, 0px, 10px, 1px, $overlay-light);
		}
		.card-content {
			line-height: 20px;
        	letter-spacing: 0.5px;
		}
	}
	* {
		transition: all 0.3s ease;
	}
}

@include screen-small {
	.challenge-evaluation-container {
	.card {
		margin-left:0;
		margin-right:0;
		}
	}
}
