<div class="modal-container">
  <div class="modal-card">
    <div class="title">
      {{title}}
    </div>
    <div class="content">
      {{content}}
    </div>
    <div class="form">
      <div *ngFor="let item of form">
        <app-input [name]="item['name']" (input)="validateModalInput($event)" [isRequired]="item['isRequired']" [label]="item['label']" [placeholder]="item['placeholder']" [type]="item['type']" [theme]="'dark'" [icon]="item['icon']" [value]="item['value']" #formmodal></app-input>
      </div>
    </div>
    <div class="buttons">
      <ul style="margin-right: 20px;" class="inline-list pointer">
          <li>
              <a appClickstop (click)="denied()" class="dark-link pointer"><strong class="fw-semibold">{{deny}}</strong></a>
          </li>
          <li>
              <button [disabled]="isDisabled" appClickstop (click)="formValidate()" class="btn ev-btn-dark btn-waves-effect waves-dark grad-btn grad-btn-dark fs-14">{{confirm}}</button>
          </li>
      </ul>
    </div>
  </div>
</div>
